/* BEGIN: buttons.scss
// -----------------------------------------------------*/


// BUTTON VARIABLES

// btn-default
$btnDefault: #fefefe;
$btnDefaultBorder: darken($btnDefault, 10%);
	//hover
$btnDefaultHvr: darken($btnDefault, 5%);
$btnDefaultBorderHvr: darken($btnDefault, 15%);

// btn-primary
$btnPrimary: $schoolbusYellow;
$btnPrimaryBorder: darken($schoolbusYellow, 10%);
	//hover
$btnPrimaryHvr: darken($btnPrimary, 15%);
$btnPrimaryBorderHvr: darken($btnPrimaryBorder, 5%);

// btn-info
$btnInfo: $brown;
$btnInfoBorder: darken($btnInfo, 15%);
	//hover
$btnInfoHvr: darken($btnInfo, 10%);
$btnInfoBorderHvr: darken($btnInfo, 25%);


// BUTTONS
// -----------------------------------------------------

.button {
    border-color: darken($btnDefault, 15%);
    transition: ease-in-out .25s;
     &:hover {
     	background: $btnDefaultHvr;
        text-decoration: none;
        border-color: darken($btnDefault, 20%);
        transition: ease-in-out .25s;
     }
     &.button-primary {
         color: #333;
         background: $btnPrimary;
         border-color: $btnPrimaryBorder;
         &:hover {
            color: #333;
             background: darken($btnPrimary, 5%);
             border-color: darken($btnPrimaryBorder, 5%);
         }
     }
}
.button-more {
    min-width: 250px;
}