/* BEGIN: common.scss (global app styles)
// -----------------------------------------------------*/
* {
     box-sizing: border-box;
}

/* Highlight Text Color */
::selection {
     background: $orange;    /* Safari */
     color: #fff;
}
::-moz-selection {
     background: $orange;    /* Firefox */
     color: #fff;
}

/* Global ************* */
html, body {
     height: 100%;
}
body {
     background-color: $bodyBackground;
     border-top: 2px solid $schoolbusYellow;
     margin: 0;
     padding: 0;
}
p {
     line-height: 1.5em;
     margin: 0 0 1.25em 0;
}
a {
     color: $blueDarkest;
     text-decoration: none;
     border-bottom: 1px dashed $borderColor;
     &:hover {
          color: $purple;
          border-bottom-style: solid;
     }
}
dl {
     > dd {
          margin-left: 0;
     }
}

/* Helpers ************* */
.pull-right {
     float: right;
}
.back_top {
    margin-bottom: 6vh;
    padding: 2vh 2vh 2vh 0;
    border-top: 1px dashed $borderColor;
}
.align-right {
    text-align: right;
    .button {
        margin-bottom: 0;
    }
}