/* BEGIN: portfolio.scss
// -----------------------------------------------------*/

.portfolio {
     main {
          article {
               &.client {
                    border-top: 1px dashed $schoolbusYellow;
                    &:first-of-type {
                         border-top: none;
                    }
                    h2 {
                         margin: $pageMargin 0;
                    }
                    h3 {
                         margin-bottom: 15px;
                    }
                    section {
                         border-bottom: 1px dashed $borderColor;
                         padding-bottom: $pageMargin + 10px;
                         margin-bottom: $pageMargin + 10px;
                         &:last-of-type {
                             margin-bottom: $pageMargin;
                         }
                         &.client-summary {
                              border-bottom: none;
                              padding-top: $pageMargin;
                              padding-bottom: $pageMargin;
                              margin-bottom: $pageMargin;
                              .client-brand {
                                   border-bottom: none;
                                   > img {
                                        margin-bottom: $pageMargin;
                                        max-width: 200px;
                                   }
                              }
                         }
                         h4 {
                              margin-bottom: $pageMargin;
                         }
                         p {
                              &:last-child {
                                   margin-bottom: 0;
                              }
                              label {
                                  display: block;
                              }
                              .button {
                                  margin-bottom: 0;
                              }
                         }
                         .product-thumbnail {
                            width: 100%;
                            max-width: 400px;
                         }
                         .callout-awards {
                             padding: $pageMargin $pageMargin + 20px;
                             border: 1px dashed $schoolbusYellow;
                             background: lighten($schoolbusYellow, 50%);
                             > h4 {
                                 margin-bottom: $pageMargin - 10px;
                             }
                             .icon-award {
                                //  color: lighten($schoolbusYellow, 25%);
                                color: $grayLight;
                             }
                         }
                    }
               }
               &.screenshots {
                    section {
                         overflow: hidden;
                         img {
                              margin-bottom: $pageMargin;
                              max-width: 800px;
                         }
                    }
               }
          }
     }
}