/* BEGIN: buttons.scss
// -----------------------------------------------------*/


// BUTTON VARIABLES

// btn-default
$btnDefault: #EEE;
$btnDefaultBorder: darken($btnDefault, 10%);
	//hover
$btnDefaultHvr: darken($btnDefault, 5%);
$btnDefaultBorderHvr: darken($btnDefault, 15%);

// btn-primary
$btnPrimary: #0E96BB;
$btnPrimaryBorder: #068;
	//hover
$btnPrimaryHvr: darken($btnPrimary, 15%);
$btnPrimaryBorderHvr: darken($btnPrimaryBorder, 5%);

// btn-info
$btnInfo: $brown;
$btnInfoBorder: darken($btnInfo, 15%);
	//hover
$btnInfoHvr: darken($btnInfo, 10%);
$btnInfoBorderHvr: darken($btnInfo, 25%);


// BUTTONS
// -----------------------------------------------------

.btn {
	@include border-radius(3px);
	font-family: $baseFontFamily;
	.fa {
		margin-right: 5px;
		min-width: 12px;
	}
	&.btn-link, &.btn-icon {
		/* Undo Margin for icon only buttons */
		.fa {
			margin-right: 0;
		}
	}
	&.btn-link {
		@include no-box-shadow();
		color: $brown;
		text-decoration: none;
		.fa {
			margin-right: 5px;
			min-width: 12px;
		}
		&:focus, &:hover {
			background: $grayLightest;
			color: $grayDarkest;
		}
	}
	// Hover
	&:hover {
		@include no-box-shadow();
		background-position: 0 -15px;
		text-decoration: none;
		@include transition(.3s);
		-webkit-box-shadow: 0 1px 1px rgba(150, 150, 150, .7);
	     box-shadow: 0 1px 1px rgba(150, 150, 150, .7);
	}
	// Disabled
	&.disabled, &.btn[disabled], &[disabled] {
		background-image:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		color: $grayDark;
		cursor: default;
		filter: alpha(opacity=7);
		font-weight: normal;
		letter-spacing: 0;
		opacity: 0.7;
		text-shadow: none;
	}
	// Default Buttons
	&.btn-default {
		color: $brown;
		@include vert-gradient($btnDefault, #E6E6E6);
		border-color: $btnDefaultBorder;
		&:hover,
		&:active, &:active{
			background-color: $btnDefaultHvr;
			border-color: $btnDefaultBorderHvr;
		}
	}
	// Primary Buttons
	&.btn-primary {
		@include vert-gradient($btnPrimary, darken($btnPrimary, 3%));
		border-color: $btnPrimaryBorder;
		font-weight: bold;
		text-shadow: 0 0 1px darken($btnPrimary, 15%);
		&:hover,
		&:active, &.active {
			@include vert-gradient(#0387AB, #0387AB);
			text-shadow: none; // Flickers unless a gradient
			border-color: lighten($btnPrimary, 1%);
		}
		// Disabled
		&.disabled, &.btn[disabled], &[disabled] {
			color: rgba(255,255,255, .5);
			@include vert-gradient(#0387AB, #0387AB);
		}
	}
	// Info Buttons
	&.btn-info {
		background-color: $btnInfo;
		border-color: $btnInfoBorder;
		&:hover,
		&:active, &.active {
			background-color: $btnInfoHvr;
			border-color: $btnInfoBorderHvr;
		}
		// Disabled
		&.disabled, &.btn[disabled], &[disabled] {
			color: $grayLightest;
		}
	}
	// Shared Styles
	&.btn-primary,
	&.btn-warning, 
	&.btn-danger {
		color: $white;
	}
	&.btn-primary:hover,
	&.btn-warning:hover,
	&.btn-danger:hover {
		color: rgba(255, 255, 255, .8);
	}
	&.btn-icon {
		.fa {
			margin-right: 0;
		}
	}
	// Buttons with an Icon on the right side
	&.btn-icon-right {
		.fa {
			margin-left: 5px;
			margin-right: 0;
		}
	}
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}

.input-group > .input-group-btn {
	.btn {
		height: $input-height-base;
		outline: 0;
	}
}



/* END: Buttons.scss
// ----------------------------------------------------*/