/* BEGIN: common.scss (global app styles)
// -----------------------------------------------------*/
* {
     box-sizing: border-box;
}

/* Highlight Text Color */
::selection {
     background: #f96;    /* Safari */
     color: #fff;
}
::-moz-selection {
     background: #f96;    /* Firefox */
     color: #fff;
}

/* Global ************* */
html, body {
     height: 100%;
}
body {
     background-color: $bodyBackground;
     border-top: 2px solid $schoolbusYellow;
     margin: 0;
     padding: 0;
}
p {
     line-height: 1.5em;
     margin: 0 0 1.25em 0;
}
a {
     color: $blueDarkest;
     text-decoration: none;
     &:hover {
          color: $purple;
          text-decoration: underline;
     }
}

/* Helpers ************* */
.pull-right {
     float: right;
}

/* Buttons ************* */
.button {
     background: url(../img/btns/btn_left.png) no-repeat left center;
     color: #043F90;
     cursor: pointer;
     font-size: .95em;
     height: 35px;
     line-height: 35px;
     margin: auto 3px auto 0;
     outline-style: none;
     padding: 7px 0 16px 15px;
     text-decoration: none;
     text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
     white-space: nowrap;

     span {
          background: url(../img/btns/btn_right.png) no-repeat right center;
          height: 35px;
          line-height: 35px;
          margin: 0;
          padding: 7px 15px 16px 0;
     }
     em {
          background-position: left center;
          background-repeat: no-repeat;
          font-style: normal;
          font-weight: normal;
          margin-right: 0;
          padding: 3px 6px;
     }
     &:hover {
          background: url(../img/btns/btn_left_hvr.png) no-repeat left center;
          text-decoration: none;

          span {
               background: url(../img/btns/btn_right_hvr.png) no-repeat right center;
          }
     }
}
.colonnade {
     .lt-column {
          float: left;
          width: 30.3%;
     }
     .mid-column {
          float: left;
          width: 39.3%;
     }
     .rt-column {
          float: left;
          width: 30.3%;
     }
}