/* BEGIN: nav.scss
// -----------------------------------------------------*/

header {
    position: relative;
    margin: 2em 15% 0 15%;
    + section {
        margin: 2em 15% 0 15%;
    }
    hgroup {
        h1 {
            margin: 0;
            a {
                color: $grayDarkest;
            }
        }
        h2 {
            font-size: 135%;
            color: $orange;
            + p {
                margin-top: 10px;
            }
        }
    }
    nav {
        // Position is in responsive.scss
        color: $gray;
        > ul {
            list-style: none;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 5px 15px;
                    text-shadow: 0 1px #fff;
                    text-transform: capitalize;
                    &.active {
                        color: $purple;
                        font-weight: bold;
                    }
                }
                &:after {
                    content: "•";
                }
                &:last-child {
                    &:after {
                        content: "";
                    }
                }
            }
        }
    }
}

/* BEGIN: Secondary Page Navigation */
.secondary {
    header {
        margin-bottom: 10px;
        margin-top: 10px;
        hgroup {
            h1 {
                font-size: 115%;
            }
            h2 {
                font-size: 100%;
                + p {
                    display: none;
                }
            }
        }
    }
}