/* BEGIN: common.scss (global app styles)
// -----------------------------------------------------*/
* {
	box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
	@include vert-gradient($main, lighten($main, 7%));
	overflow: hidden;
     -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}


/* GLOBAL ANCHOR LINKS
// -----------------------------------------------------*/
a {
	@include transition(.25s);
	border-bottom: 1px dotted $grayDarkest; 
	color: $linkColor;
	text-decoration: none;
	&:hover {
		color: $linkHoverColor;
		text-decoration: none;
	}
}

hr {
	border-top-color: $grayLight;
	margin: 10px 0;
}

/* FORM - BOOTSTRAP OVERRIDES
// -----------------------------------------------------*/
/* Bootstrap - input group mods */
.input-group {
	.input-group-addon {
		background: $white;
		border-right: 0;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
}


/* SEARCH TOGGLE
// -----------------------------------------------------*/
.toggle-search { // Search Toggle - show / hide search field
	.input-group-addon {
		@include no-box-shadow();
		background: none;
		border: none;
	}
	> .form-control {
		display: none;
	}
}
@media (min-width: 100px) {
	.form-inline .toggle-search > .form-control {
		width: 0;
	}
}


/* COLUMNS - NOT FLEXBOX
// -----------------------------------------------------*/
.colonnade {
	overflow: hidden;
	width: 100%;
	> .lt-column, > .rt-column, > .mid-column {
		float: left;
	}
	&.dual {
		> .lt-column, > .rt-column {
			width: 50%;
		}
	}
	&.triple {
		> .lt-column, > .mid-column, > .rt-column {
			width: 33.3%;
		}
	}
}


/* COLUMNS - FLEXBOX
// -----------------------------------------------------*/
.flex-colonnade { // Flex Box - Generic Row Flexbox
	@include flexbox();
	@include flexDirection(row);
	@include flexAlign(stretch);
	.flex-column {
		@include flexbox();
		@include flexDirection(column);
	}
	.flex-row {
		@include flexDirection(row);
	}
	.flex {
		@include flex(1);
	}
	&.hide-flex {
		display: none;
	}
}


/* LABELS
// -----------------------------------------------------*/
.label-primary {
	background-color: $main-blue;
}


/* LISTS
// -----------------------------------------------------*/
ul {
	&.info-list {
		padding: 0; // Information lists in contextual pane
		list-style: none;
		li {
			a {
				border-bottom: none;
				color: $grayDarkest;
				display: block;
				padding: 7px 10px;
				.fa {
					color: $gray;
					float: right;
					font-size: 80%;
					margin-top: 6px;
				}
				.item-status {
					float: right;
					> em {
						color: $grayDark;
						font-size: 90%;
						font-style: normal;
						margin-right: 5px;
					}
					.fa {
						float: none;
						margin-top: 0;
					}
				}
				&:hover {
					background: $dropdown-link-hover-bg;
				}
			}
		}
	}
}

dl {
	&.application-list {
		dt, dd {
			line-height: 34px;
			label {
				width: 100%;
				cursor: pointer;
				margin: 0;
				input[type="checkbox"] {
					margin: 0 10px;
				}
			}
			&:hover {
				background: $slatHover;
			}
		}
		dt {
		}
		dd {
			padding-left: $pageMargin;
			border-bottom: 1px solid $borderColor;
			label {
				font-weight: normal;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
