/* BEGIN: common.scss (global app styles)
// -----------------------------------------------------*/
* {
  box-sizing: border-box;
}

/* Highlight Text Color */
::selection {
  color: #fff;
  background: #f96;    /* Safari */
}
::-moz-selection {
  color: #fff;
  background: #f96;    /* Firefox */
}

/* Global ************* */

html, body {
  height: 100%;
}
body {
  border-top: 2px solid $schoolbusYellow;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  -webkit-text-size-adjust: 200%;
  color: #444;
  background-color: $bodyBackground;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1.25em 0;
  line-height: 1.5em;
}
a {
  color: $blueDarkest;
  text-decoration: none;

  &:hover {
    color: $purple;
    text-decoration: underline;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 175%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 125%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 85%;
}
section {
  article {
    h1 {
      font-size: 150%;
      margin-bottom: .75em;
    }
    h2 {
      font-size: 125%;
    }
  }
}

/* Buttons ************* */
.button {
  font-size: .95em;
  color: #043F90;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  margin: auto 3px auto 0;
  outline-style: none;
  padding: 7px 0 16px 15px;
  white-space: nowrap;
  background: url(../img/btns/btn_left.png) no-repeat left center;

  span {
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 7px 15px 16px 0;
    background: url(../img/btns/btn_right.png) no-repeat right center;
  }
  em {
    background-position: left center;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: normal;
    margin-right: 0;
    padding: 3px 6px;
  }
  &:hover {
    text-decoration: none;
    background: url(../img/btns/btn_left_hvr.png) no-repeat left center;

    span {
      background: url(../img/btns/btn_right_hvr.png) no-repeat right center;
    }
  }
}
.colonnade {
  .lt-column {
    float: left;
    width: 30.3%;
  }
  .mid-column {
    float: left;
    width: 39.3%;
  }
  .rt-column {
    float: left;
    width: 30.3%;
  }
}