/* BEGIN: layout.scss
// -----------------------------------------------------*/
main {

  /* This div is stretched height 100% by setting html, 
  body to 100% in the code above and then setting min-height here so if the content is longer it browser scrolls
  correctly and if it is shorter it won't shrink to fit content */
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  // Pos: relative so footer sets correct 100% width
  border:1px solid transparent;

  // Needed for proper height 100%
  section {
    margin-top: 0;

    article {
      .colonnade {
        overflow: auto;

        .lt-column, .mid-column, .rt-column {
          padding-left: 10px;

          h2 {
            margin: 1em 0;
          }
          &:first-child {
            padding-left: 0;
          }
        }
        &.cards {
          font-family: 'Inconsolata';
          padding: $pageMargin 15%;

          .lt-column, .mid-column, .rt-column {
            background: #f3f3f3;
            border: 1px solid $white;
            box-shadow: 0 0 15px $grayLight;
            outline: 1px solid $grayLight;
            overflow: auto;
            padding: $pageMargin 10px;
            position: relative;

            h1 {
              font-family: "GothamProLight";
              margin-top: 10px;
            }
          }
          .lt-column {
            right: -5px;
            top: $pageMargin;
          }
          .mid-column {
            z-index: 2;
          }
          .rt-column {
            left: -5px;
            top: $pageMargin;
          }
        }
      }
      &.callout {
        background-color: #f6f6f6;
        color: $grayDarker;
        font-family: Helvetica;
        margin: 0 0 2em 0;
        outline: 1px solid #e9e9e9;
        padding: 1em;

        h1 {
          margin-bottom: 1em;
        }
        dl {
          clear: both;
          display: block;
          margin-bottom: $pageMargin;
          overflow: hidden;

          dt {
            margin: .5em auto;
          }
          dd {
            display: inline-block;
            margin: .25em .25em .25em 0;

            &.graphic {
              float: left;
              margin: 0 15px 0 0;
              width: auto;

              img {
                border: 3px solid $white;
                border-radius: 100%;
              }
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}