/* BEGIN: variables.scss - for theme.scss
// -----------------------------------------------------*/

// Base Colors
// -----------------------------------------------------


// Primary Color Palette
// -----------------------------------------------------

$yellow:				#FECC70;
$yellowLight:			lighten($yellow, 15%);


$brown:				#443322;
$brownLight:			lighten($brown, 15%);

$white:				#fff;
$black:				#000;
$dark:				#343838;
$green:				#628637;
$orange:				#EA4727;
$red:				#D0021B;
$burgundy: 			#C14E4E;

// Grays
$gray:               	#ccc;
$grayLight:          	lighten($gray, 18%);
$grayLighter:        	lighten($gray, 26%);
$grayLightest:       	lighten($gray, 34%);
$grayDark:           	darken($gray, 20%);
$grayDarker:         	darken($gray, 30%);
$grayDarkest:        	darken($gray, 40%);


// Typography
// -----------------------------------------------------

$baseFontSize:          13px;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight:        28px;
$fontFamilyLight:	    "Helvetica Neue Light", Helvetica, Arial, sans-serif;

// Custom Web Fonts
$fontAmericanTypewriter:  "AmericanTypewriter";
$fontChelsea:  "Chelsea";
$fontGreatVibes:  "GreatVibes";
$fontStrangelove:  "StrangeLove";
$fontEaglefeather:  "Eaglefeather";
$fontNoteworthy:  "Noteworthy";
$fontMohave:  "Mohave";
$fontIndieFlower:  "IndieFlower";

//** Background color for `<body>`.
$bodyBG:               $white;
//** Global text color on `<body>`.
$textColor:            $grayDarkest;

//** Global textual link color.
$linkColor:            $brown;
//** Link hover color set via `darken()` function.
$linkHoverColor:      darken($linkColor, 15%);
//** Link hover decoration.
$linkHoverDecoration: underline;


// Forms
// -----------------------------------------------------
$placeholderText: 					#a9a9a9;
$input-height-base: 34px;


// Common
// -----------------------------------------------------
$pageMargin: 				20px;
$borderColor: $grayDarkest;


// Layout
// -----------------------------------------------------
$navbarHeight: 			45px;


// Media queries breakpoints
// -----------------------------------------------------

// Extra small screen / phone
$screen-xs-min:              480px;

// Small screen / tablet
$screen-sm-min:              768px;

// Medium screen / desktop
$screen-md-min:              992px;

// Large screen / wide desktop
$screen-lg-min:              1200px;



// Variables
// ================================================== //

// Colors
// -------------------------------------------------- //

$black: #000;
$white: #fff;
$blue: #0080FF;
$blueBright: #37f;
$red: #900;

$gray: #ccc;
$grayLight: lighten($gray, 5%);
$grayLighter: lighten($gray, 10%);
$grayLightest: lighten($gray, 15%);
$grayDark: darken($gray, 15%);
$grayDarker: darken($gray, 30%);
$grayDarkest: darken($gray, 45%);

// Blues
$blue:                  #043F90;
$blueLight:             lighten($blue, 20%);
$blueLighter:           lighten($blue, 40%);
$blueLightest:          lighten($blue, 60%);
$blueDark:              darken($blue, 2%);
$blueDarker:            darken($blue, 4%);
$blueDarkest:           darken($blue, 8%);

// Accent colors
$blueAccent:            #98B3CD;
$blueHighlight:		#7EA3B8;
$navHighlight:			lighten($blueHighlight,25%);
$blueHover:			#ECF2F7;
$navyBlue:          	darken($blue, 60%);

// Error colors
$red:                   #ba2b36;
$redLight:			lighten($red, 30%);
$redLighter:			lighten($red, 40%);
$redLightest:			lighten($red, 50%);

$green:                 #74ae42;
$greenLight:            lighten($green, 5%);
$greenLighter:          lighten($green, 10%);
$greenLightest:         lighten($green, 15%);
$greenDark:             darken($green, 5%);
$greenDarker:           darken($green, 15%);
$greenDarkest:          darken($green, 30%);

$yellow:                #EFB73E;
$orange:                #f96;
$schoolbusYellow:		    #FEC200;
$darkOrange:            darken(#f96, 40%);
$pink:                  #c3325f;
$purple:                #986FB1;

$bodyBackground:        #f9f9f9;


// Margins & Padding
// -------------------------------------------------- //

$pageMargin: 1.6em;




