/* BEGIN: webfont.scss
// -----------------------------------------------------*/

// Declare the web font in variables.scss

// Web Font: Great Vibes
@font-face {
  font-family: AmericanTypewriter; 
  src: url('AmericanTypewriter.ttc');
}

@font-face {
  font-family: Chelsea; 
  src: url('chelsea.ttf');
}

// Web Font: Great Vibes
@font-face {
  font-family: GreatVibes; 
  src: url('greatvibes.ttf');
}

// Web Font: Strangelove
@font-face {
  font-family: StrangeLove;
  src: url('strangelove.ttf');
}

// Web Font: Eaglefeather
@font-face {
  font-family: Eaglefeather;
  src: url('Eaglefeather.ttf');
}

// Web Font: Noteworthy
@font-face {
  font-family: Noteworthy;
  src: url('Noteworthy.ttc');
}

// Web Font: Mohave
@font-face {
  font-family: Mohave;
  src: url('mohave.otf');
}

// Web Font: Yuppy
@font-face {
  font-family: IndieFlower;
  src: url('IndieFlower.ttf');
}



