Text {
	fontFamily: Tahoma;	
	fontSize: 12;
}

LinkButton {
	fontFamily: Tahoma;	
	fontSize: 12;
}


Button {
   cornerRadius: 0;
   paddingLeft: 3;
   paddingRight: 3;
   highlightAlphas: 1, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #fdfdfa, #d5d7d0, #edffff, #bdcee3;
   themeColor: #000066;
   fontFamily: Tahoma;
}


CheckBox {
   textIndent: 0;
   highlightAlphas: 0.6, 0;
   iconColor: #009900;
   fontFamily: Tahoma;
   fontWeight: normal;
}

ComboBox {
   cornerRadius: 0;
   fillAlphas: 1, 1, 0.58, 1;
   backgroundAlpha: 1;
   selectionColor: #9cacc9;
   rollOverColor: #9cacc9;
   themeColor: #000000;
   fontFamily: Tahoma;
}

HScrollBar {
   cornerRadius: 0;
   thumbOffset: 1;
}

VScrollBar {
   cornerRadius: 0;
   thumbOffset: 1;
}

Panel {
   borderStyle: solid;
   borderColor: #cccccc;
   borderThickness: 1;
   borderAlpha: 1;
	borderThicknessLeft:0;
	borderThicknessRight:0;
	borderThicknessTop:0;
	borderThicknessBottom:0;
   cornerRadius: 5;
   roundedBottomCorners: false;
   headerHeight: 25;
   backgroundAlpha: 1;
   highlightAlphas: 0, 0;
   headerColors: #cfe2f5, #ffffff;
   footerColors: #ffffff, #ffffff;
   dropShadowEnabled: false;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   fontFamily: Tahoma;
   fontSize: 12;
   fontWeight: bold;
}
.mainPanel {
   borderColor: #0f2f66;
   borderAlpha: 1;
   borderThicknessLeft: 10;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 10;
   roundedBottomCorners: true;
   cornerRadius: 7;
   headerHeight: 25;
   highlightAlphas: 0.16, 0;
   headerColors: #050e21, #0f2f66;
   footerColors: #050e21, #0f2f66;
   backgroundColor: #0f2f66;
   dropShadowEnabled: false;
   titleStyleName: "mainPanelTitle";
}

.mainPanelTitle {
   color: #ffffff;
}

RadioButton {
   highlightAlphas: 1, 0;
   fillAlphas: 1, 0.52, 0.75, 0.65;
   iconColor: #009900;
   themeColor: #000000;
   fontFamily: Tahoma;
   fontWeight: normal;
}

.globalTab {
	cornerRadius: 5;
   highlightAlphas: 0, 0;
   fillAlphas: 0, 0;
   backgroundAlpha: 1;
   borderColor: #000000;
   color: #ffffff;	
   fontWeight: normal;
}

.mySelectedTabs {
	color: #000000;
	fontWeight: bold;
}


DataGrid {
   headerColors: #cccccc, #ffffff;
   horizontalGridLines: false;
   horizontalGridLineColor: #000000;
   verticalGridLines: false;
   borderThickness: 0;
   textIndent: 0;
   fontFamily: Tahoma;
   fontSize: 11;
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   fontFamily: Tahoma;
}
