/* BEGIN: navbar.scss
// -----------------------------------------------------*/
// Global Includes
@import "../../common/scss/theme/variables";
@import "../../common/scss/theme/mixins";

* {
	font-family: $baseFontFamily;
}
body {
	font-size: 14px;
	padding-top: $navbarHeight;
}


/* BEGIN: global navbar and menu styles
// -----------------------------------------------------*/

.paradata-global-navbar {
	background: $main;
	box-sizing: border-box;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	.paradata-go-back {
		display: none;
	}
	.paradata-nav-box {
		background: $main;
		box-sizing: border-box;
		float: left;
		width: 50%; // BG Color Hides animating app switcher
		display: inline-block;
		> button {
			background: transparent;
			border: 0;
			box-sizing: border-box;
			color: $main-tint;
			display: inline-block;
			font-size: 13px;
			font-weight: 400;
			height: $navbarHeight;
			padding-left: 10px;
			padding-right: 10px;
			vertical-align: middle;
			white-space: nowrap;
			.paradata-caret {
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px dashed;
				display: inline-block;
				height: 0;
				margin-left: 2px;
				vertical-align: middle;
				width: 0;
			}
			&:focus, &:hover {
				background: darken($main, 10%);
				color: $white;
				cursor: pointer;
				outline: none;
				.fa {
					color: $white;
				}
			}
			&:active, &.active {
				&:focus, &.focus {
					outline: none;
				}
			}
			&.paradata-app-switcher-trigger {
				color: $white;
				font-size: 14px;
				letter-spacing: 1px;
				min-width: 175px; 
				> img, > span {
					height: 23px;
				}
				> img {
					float: left;
					margin-right: 10px;
				}
				> span {
					vertical-align: middle;
				}
			}
			&.paradata-btn-icon {
				color: $main-tint;
			}
			&.paradata-courtesy-menu-trigger {
				font-weight: 300;
			}
		}
		&:last-child {
			text-align: right;
			.paradata-btn {
				&.paradata-btn-icon {
					padding-left: 15px;
					padding-right: 15px;
				}
				&.paradata-dropdown-toggle {
					font-size: 90%;
					padding-right: 15px;
				}
			}
		}
		.paradata-courtesy-menu-trigger {
			&.active {
				// Opens menu on focus
				+ .paradata-courtesy-menu {
					display: block;
				}
			}
		}
	}
	// Common Menu Styles
	/////
	.paradata-app-menu {
		list-style: none;
		margin: 0;
		padding: 10px 0;
		> li {
			display: block;
			float: none;
			position: relative;
			+ li {
				margin-left: 0;
				margin-top: 2px;
			}
			> a {
				@include transition(.25s);
				color: $linkColor;
				display: block;
				font-weight: 300;
				padding: 7px 45px;
				position: relative;
				text-decoration: none;
				border: none;
				&:hover, &:focus {
					text-decoration: none;
				}
			}
			&.paradata-dropdown-header {
				color: #777;
				display: block;
				font-size: 12px;
				line-height: 1.42857143;
				padding: 3px 20px;
				white-space: nowrap;
			}
			&.paradata-divider {
				background-color: $borderColor;
				height: 1px;
				margin: 4px 0;
				overflow: hidden;
			}
			&.active {
				a {
					color: $grayDarkest;
					font-weight: bold;
					position: relative;
					&:hover {
						background: transparent;
						cursor: default;
					}
				}
			}
			// Disabled state sets text to gray and nukes hover/tab effects
			&.disabled > a {
				color: $grayLight;
				&:hover, &:focus {
					background-color: transparent;
					color: $grayLight;
					cursor: disabled;
					text-decoration: none;
				}
			}
		}
		// Prevent IE8 from misplacing imgs
		> li > a > img {
			max-width: none;
		}
	}
	// App Switcher
	/////
	.paradata-app-switcher-menu {
		@include box-shadow(0 1px 5px);
		background: lighten($main, 58%);
		border: 1px solid darken($borderColor, 5%);
		display: none;
		margin-right: 5px;
		position: absolute;
		z-index: -1;/* z-index under navbar */
		&:focus {
			outline: none;
		}
		.paradata-app-menu {
			&.paradata-apps {
				background: $white;
				border-bottom: 1px solid darken($borderColor, 5%);
				> li {
					> a {
						font-weight: 400;
						&:hover, &:focus {
							background: $main-blue;
							color: $white;
							outline: none;
						}
					}
					&.active {
						> a {
							font-weight: bold;
						}
					}
				}
			}
			&.paradata-admin {
				> li {
					> a {
						color: lighten($main, 15%);
						font-size: 13px;
						&:hover, &:focus {
							background: $main-tint;
							outline: none;
						}
					}
					&.active {
						> a {
							&:hover {
								background: transparent;
								cursor: default;
							}
						}
					}
				}
			}
		}
		.paradata-branding {
			border-top: 1px solid $borderColor;
			color: $main;
			font-size: 90%;
			margin: 3px 0;
			text-align: center;
			> img {
				margin: 10px 0 5px 0;
				width: 55%;
			}
		}
	}
	// Courtesy Menu
	//////
	.paradata-courtesy-menu {
		@include box-shadow(0 1px 5px);
		background-color: $white;
		background-clip: padding-box;
		border: 1px solid $borderColor;
		display: none;
		float: left;
		list-style: none;
		margin: 0;
		min-width: 175px;
		padding: 5px 0;
		position: absolute;
		right: 0;
		text-align: left;
		top: 100%;
		z-index: 998;
		> li {
			&.paradata-divider {
				background-color: $borderColor;
			}
			> a {
				@include transition(.25s);
				clear: both;
				color: $grayDarker;
				display: block;
				font-weight: normal;
				line-height: 1.4;
				padding: 3px 20px;
				text-decoration: none;
				white-space: nowrap;
			}
		}
		// Hover/Focus state
		> li > a {
			&:hover, &:focus {
				background-color: $dropdown-link-hover-bg;
				color: $dropdown-link-hover-color;
				text-decoration: none;
			}
		}
		// Active state
		> .active > a {
			&, &:hover, &:focus {
				background-color: $dropdown-link-hover-bg;
				color: $dropdown-link-hover-color;
				outline: 0;
				text-decoration: none;
			}
		}
		// Disabled state
		// Gray out text and ensure the hover/focus state remains gray
		> .disabled > a {
			&, &:hover, &:focus {
				color: $grayLighter;
			}
		}
		// Nuke hover/focus effects
		&:hover, &:focus {
			background-color: transparent;
			background-image: none;
			text-decoration: none;
		}
	}
}


/* BEGIN: global navbar animation
// -----------------------------------------------------*/

.paradata-animate {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

// Fade In Down
/////
@-webkit-keyframes paradata-fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes paradata-fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.paradata-fadeInDownBig {
  -webkit-animation-name: paradata-fadeInDownBig;
  animation-name: paradata-fadeInDownBig;
}

// Fade Out Up
/////
@-webkit-keyframes paradata-fadeOutUpBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes paradata-fadeOutUpBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.paradata-fadeOutUpBig {
  -webkit-animation-name: paradata-fadeOutUpBig;
  animation-name: paradata-fadeOutUpBig;
}

// Fade In
/////
@-webkit-keyframes paradata-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes paradata-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.paradata-fadeIn {
  -webkit-animation-name: paradata-fadeIn;
  animation-name: paradata-fadeIn;
}


/* BEGIN: Font Awesome Icons - Web Fonts
// -----------------------------------------------------*/

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

.paradata-fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  transform: translate(0, 0);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Back Button
.paradata-chevron-left:before {
  content: "\f053";
}

// Notifications
.paradata-inbox:before {
  content: "\f01c";
}
