/* BEGIN: theme.scss
// -----------------------------------------------------*/
/* BEGIN: variables.scss - for theme.scss
// -----------------------------------------------------*/
/* BEGIN: Include Mixins
// -----------------------------------------------------*/
/* BEGIN: mixin border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: box-shadow.scss
// -----------------------------------------------------*/
/* BEGIN: flex-box.scss
// -----------------------------------------------------*/
/* BEGIN: transition.scss
// -----------------------------------------------------*/
/* BEGIN: gradient.scss
// -----------------------------------------------------*/
/* COMMON REUSABLE MIXINS
// -----------------------------------------------------*/
.color-swatch span {
  display: inline-block;
  min-width: 50px;
  min-height: 20px;
  font-size: 85%;
  padding: 2px 10px; }
  .color-swatch span.main {
    background: #576472; }
  .color-swatch span.main-tint {
    background: #d2d7dd; }
  .color-swatch span.main-blue {
    background: #0387ab; }
  .color-swatch span.highlight-blue {
    background: #72c9ca; }
  .color-swatch span.highlight-green {
    background: #d2db26; }
  .color-swatch span.blue {
    background: #527FA5; }
  .color-swatch span.blueLight {
    background: #93b1ca; }
  .color-swatch span.blueLighter {
    background: #b6cada; }
  .color-swatch span.blueLightest {
    background: #d8e2eb; }
  .color-swatch span.blueDark {
    background: #395872; }
  .color-swatch span.blueDarker {
    background: #283d50; }
  .color-swatch span.blueDarkest {
    background: #17232e; }
  .color-swatch span.gray {
    background: #999; }
  .color-swatch span.grayLight {
    background: #c7c7c7; }
  .color-swatch span.grayLighter {
    background: #dbdbdb; }
  .color-swatch span.grayLightest {
    background: #f0f0f0; }
  .color-swatch span.grayDark {
    background: #666666; }
  .color-swatch span.grayDarker {
    background: #4d4d4d; }
  .color-swatch span.grayDarkest {
    background: #333333; }
  .color-swatch span.green {
    background: #009900; }
  .color-swatch span.greenLight {
    background: #00cc00; }
  .color-swatch span.greenLighter {
    background: #4dff4d; }
  .color-swatch span.greenLightest {
    background: #80ff80; }
  .color-swatch span.greenDark {
    background: #006600; }
  .color-swatch span.greenDarker {
    background: #003300; }
  .color-swatch span.greenDarkest {
    background: black; }
  .color-swatch span.orange {
    background: #f0ad4e; }
  .color-swatch span.orangeLight {
    background: #f4c37d; }
  .color-swatch span.orangeLighter {
    background: #f8d9ac; }
  .color-swatch span.orangeLightest {
    background: #fceedb; }
  .color-swatch span.orangeDark {
    background: #ec971f; }
  .color-swatch span.orangeDarker {
    background: #c77c11; }
  .color-swatch span.orangeDarkest {
    background: #985f0d; }
  .color-swatch span.red {
    background: #E50015; }
  .color-swatch span.redLight {
    background: #ff99a2; }
  .color-swatch span.redLighter {
    background: #ffccd0; }
  .color-swatch span.redLightest {
    background: #ffeff1; }
  .color-swatch span.redDark {
    background: #b20010; }
  .color-swatch span.redDarker {
    background: #89000d; }
  .color-swatch span.redDarkest {
    background: #660009; }
