/*** BUTTONS ***/

div.btn_reg {
	margin: 0px 0px 0px 0px;
}


div.btn_reg em {
	float: left;
	font-style: normal;
	font-weight: normal;
	height: 12px;
	margin: 1px 0px 0px 0px;
	padding: 0px 0px 0px 4px;
	width: 14px;
}

div.btn_reg a {
	color: #333;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: 12px;
	margin-top: 1px;
	padding: 3px 6px 4px 3px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
}

div.btn_reg a:hover {
	padding: 2px 5px 3px 2px;
	cursor: pointer;
	text-decoration: none;
}

#parts div.btn_reg a:hover	{background-color: #FF9696; border: 1px solid #880000;}
#docs div.btn_reg a:hover	{background-color: #8FD38F; border: 1px solid #008800;}
#products div.btn_reg a:hover	{background-color: #f4cd9e; border: 1px solid #cd870d;}

div.btn_reg a.disabled {
	color: #999;
	cursor: default;
	text-decoration: none;
}

#parts div.btn_reg a.disabled:hover,
#docs div.btn_reg a.disabled:hover,
#products div.btn_reg a.disabled:hover {
	background-color: transparent;
	border: none;
	color: #999;
	cursor: default;
	margin-top: 1px;
	padding: 3px 6px 4px 3px;
	text-decoration: none;
}

div.btn_reg a.div_rgt:hover {
	background-color: transparent;
	border-right: 1px solid #cbcbcb;
	border-left: none;
	border-top: none;
	border-bottom: none;
	padding: 5px 10px 2px 5px;
	text-decoration: none;
}

div.btn_reg a.div_lft:hover {
	background-color: transparent;
	border-left: 1px solid #cbcbcb;
	border-right: none;
	border-top: none;
	border-bottom: none;
	padding: 5px 10px 2px 5px;
	text-decoration: none;
}

div.btn_reg a.div_rgt {
	border-right: 1px solid #cbcbcb;
	padding: 5px 10px 2px 5px;
}

div.btn_reg a.div_lft {
	border-left: 1px solid #cbcbcb;
	padding: 5px 10px 2px 5px;
}

div.btn_reg a.iconic em {
	margin: 1px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div.btn_reg a.iconic {
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 0px;
	padding: 2px 1px 2px 3px;
}

div.btn_reg a.iconic:hover {padding: 1px 0px 1px 2px;}

div.btn_reg a.inline {
	margin-top: -2px;
	margin-left: -2px;
}

div.btn_reg a.search {
	color: #333;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: 12px;
	margin-top: 1px;
	padding: 3px 6px 4px 3px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
}

div.btn_reg a.search:hover {
	cursor: pointer;
	text-decoration: none;
}

#main div.btn_reg p.left {
	clear: none;
}

div.table_btns a {
	padding: 3px 12px 4px 9px;
}

#parts div.table_btns a:hover,
#docs div.table_btns a:hover,
#products div.table_btns a:hover {
	padding: 2px 11px 3px 8px;
}

#parts div.table_btns a.disabled:hover,
#docs div.table_btns a.disabled:hover,
#products div.table_btns a.disabled:hover {
	padding: 3px 12px 4px 9px;
}

div.tabs {
	height: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

div.btn_reg div.tab {
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	cursor: pointer;
	float: left;
	height: 25px;
	margin-top: 5px;
	padding: 0px 10px 0px 10px;
}

div.btn_reg div.tab a, div.btn_reg div.tab p, div.btn_reg div.tab_last p {
	cursor: pointer;
	float: left; 
	margin-top: 3px;
}

div.btn_reg div.input a, div.btn_reg div.input p {
	float: left; 
	margin-top: 3px;
}

div.btn_reg input {font-weight: normal; text-transform: none;}

div.btn_reg div.tab p.text_only, div.btn_reg div.tab_last p.text_only	{margin-top: 6px;}

div.btn_reg div.tab_last {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-top: 1px solid #aaa;
	cursor: pointer;
	float: left;
	height: 25px;
	margin-top: 5px;
	padding: 0px 10px 0px 10px;
}

div.btn_reg br {
	clear: both;
	height: 0px;
	visibility: hidden;
}

div.btn_reg a.arrow_bck em 			{background: url('../images/icn_arrow_bck.png') no-repeat;}
div.btn_reg a.arrow_dwn em 			{background: url('../images/icn_arrow_dwn.png') no-repeat;}
div.btn_reg a.arrow_fwd em 			{background: url('../images/icn_arrow_fwd.png') no-repeat;}
div.btn_reg a.arrow_up em 			{background: url('../images/icn_arrow_up.png') no-repeat;}
div.btn_reg a.assembly em			{background: url('../images/icn_assembly.png') no-repeat;}
div.btn_reg a.check em				{background: url('../images/icn_check.png') no-repeat;}
div.btn_reg a.cog em				{background: url('../images/icn_cog.png') no-repeat;}
div.btn_reg a.collapse em			{background: url('../images/icn_collapse.png') no-repeat;}
div.btn_reg a.expand em				{background: url('../images/icn_expand.png') no-repeat;}
div.btn_reg a.glass em				{background: url('../images/icn_glass.png') no-repeat;}
div.btn_reg a.hash em				{background: url('../images/icn_hash.png') no-repeat;}
div.btn_reg a.home em				{background: url('../images/icn_home.png') no-repeat;}
div.btn_reg a.icon em				{background: url('../images/icn_view_icon.png') no-repeat;}
div.btn_reg a.lightning em 			{background: url('../images/icn_lightning.png') no-repeat;}
div.btn_reg a.list em				{background: url('../images/icn_view_list.png') no-repeat;}
div.btn_reg a.mdi em				{background: url('../images/icn_mdi.png') no-repeat;}
div.btn_reg a.new em				{background: url('../images/icn_new.png') no-repeat;}
div.btn_reg a.next em				{background: url('../images/icn_next.png') no-repeat;}
div.btn_reg a.options em 			{background: url('../images/icn_options.png') no-repeat;}
div.btn_reg a.power em 				{background: url('../images/icn_power.png') no-repeat;}
div.btn_reg a.prev em 				{background: url('../images/icn_prev.png') no-repeat;}
div.btn_reg a.prev_minus em 		{background: url('../images/icn_prev_minus.png') no-repeat;}
div.btn_reg a.prev_plus em 			{background: url('../images/icn_prev_plus.png') no-repeat;}
div.btn_reg a.refresh em			{background: url('../images/icn_refresh.png') no-repeat;}
div.btn_reg a.remove em				{background: url('../images/icn_remove.png') no-repeat;}
div.btn_reg a.square em				{background: url('../images/icn_square.png') no-repeat;}
div.btn_reg a.trash em				{background: url('../images/icn_trash.png') no-repeat;}
div.btn_reg a.view_table em			{background: url('../images/icn_view_table.png') no-repeat;}
div.btn_reg a.view_tree em			{background: url('../images/icn_view_tree.png') no-repeat;}

div.btn_reg a.check_disabled em		{background: url('../images/icn_check_disabled.png') no-repeat;}
div.btn_reg a.remove_disabled em	{background: url('../images/icn_remove_disabled.png') no-repeat;}

div.buttons a {margin-right: 10px;}


/*** CONFIRM BUTTON ***/
div.confirm a:link, div.confirm a:visited {
	color: #333;
}

div.confirm a:hover {
	color: #333;
}


/*** COLLAB BUTTONS ***/

div.btn_collab {
	padding: 4px 10px 0px 10px;
}

div.btn_collab em {
	display: block;
	font-style: normal;
	font-weight: normal;
	height: 16px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 4px;
	width: 16px;
}

div.btn_collab p {
	padding: 6px 0px 0px 0px;
	text-align: center;
}

div.btn_collab a {
	color: #333;
	cursor: pointer;
	float: left;
	font-weight: bold;
	padding: 5px 20px 2px 0px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	width: 16px;
}

div.btn_collab a:hover {
	color: #999;
	cursor: pointer;
	text-decoration: none;
}

div.btn_collab a.clipboard em		{background: url('../images/icn_clipboard.png') no-repeat;}
div.btn_collab a.envelope em		{background: url('../images/icn_envelope.png') no-repeat;}
div.btn_collab a.notes em			{background: url('../images/icn_notes.png') no-repeat;}
div.btn_collab a.card em 			{background: url('../images/icn_card.png') no-repeat;}


/*** SUBMIT BUTTONS ***/

#main div.submit {	
	padding: 0px 0px 20px 0px;
}

#main p.submit_button {
	cursor: pointer;
	font-weight: bold;
	padding: 25px 0px 25px 0px;
	text-align: right;
	text-transform: uppercase;
}

#main div.section p.submit_button {
	margin: 0px 0px 0px 175px;
	padding: 0px;
	width: 155px;
}

#main div.section p.submit_final {	
	padding: 30px 0px 2px 0px;
}



/*** ICONS ***/

div.icons ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.icons ul li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
}

div.icons ul li img 				{border: 1px solid #fff;}
div.icons ul li img.doc_highlight	{border: 1px solid #696;}

div.icons .item p {
	cursor: pointer;
	color: #333;
	font-style: normal;
	text-align: center;
	padding: 10px 10px 20px 20px;
	width: 70px;
	height: 70px;
}

div.icons td p {cursor: pointer;}




/*** SMALL ICONS ***/

div.icons_small {
	width: 100%;
}

div.icons_small p {
	cursor: pointer;
	color: #333;
	font-style: normal;
	padding: 5px 10px 2px 20px;
}

#main div.icons_small td {
	border-bottom: none;
	border-left: none;
}
