/*
	THESE ARE OVVERRIDES FOR IE ONLY !!!!
*/

/****** SWITCHER ******/

div.switcher_tab span {
	filter: alpha(opacity=50);
}

div.shortcut_item span {
	filter: alpha(opacity=0);
}

div.shortcut_item_active span {
	filter: alpha(opacity=50);
}

div.window_item span {
	filter: alpha(opacity=0);
}

div.window_item_active span {
	filter: alpha(opacity=50);
}