/*** STARTPAGE ***/
div.products_startpage div.controls {
	/*background: url('../images/back_orange_highlight.png') repeat-x;*/
}

div.products_startpage div.input_number {
	/*background: url('../images/back_orange_highlight.png') repeat-x;*/
	height: 50px;
	padding: 10px 0px 0px 15px;
}

div.products_startpage div.action {position: relative;}

div.products_startpage span.tag_right {width: 60px;}


div.products_startpage div.status_text {background: #fff; height: 30px;}

div.products_startpage div.status_text div.btn_reg div.search {
	float: left;
	height: 25px;
	margin-top: -5px;
	padding: 0px 10px 0px 0px;
}

div.products_startpage div.status_text div.btn_reg div.search p {	float: left; }