/*
	Import the other stylesheets
*/

@import "buttons.css";
@import "forms.css";
@import "header.css";
@import "main_docs.css";
@import "main_parts.css";
@import "main_products.css";
@import "main_projects.css";
@import "tables.css";

body {
	background: #fff;
	overflow: hidden;
}

body, form, p {
	margin: 0px;
	padding: 0px;
}

body, td, div, p {
	font-family: arial, sans-serif;
	font-size: 11px;
	color: #333;
}

a img		{border: none;}

a, a:link, a:visited{
	color: #333;
	text-decoration: none;
}

a:hover{
	color: #333;
	text-decoration: none;
}

b {font-weight: bold}

h1 {
	font-size: 20px;
	font-weight: normal;
	/* line-height: 18px; */
	margin: 0px;
	padding: 0px;
}

h1.sub {
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}

h3 {
	font-weight: bold;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

h5 {
	font-size: 11px;
	line-height: 12px;
	margin: 0px;
	padding: 10px 0px 10px 25px;
	text-transform: uppercase;
}

h6 {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
}

input.prog_editable,
input.edit_tree_text
{
	border: 1px solid #cbcbcb;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 11px;
	height: 15px;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px 2px 0px 2px;
	width: 100%;
	position: relative;
	top: -1px; /* negative( top-border + top-margin + top-padding ) */
	left: -3px; /* negative( left-border + left-margin + left-padding ) */
}

.buffer_top	{padding-top: 15px;}
.buffer	{padding-left: 10px;}

.clear_all	{clear: both;}

.content_wrap {overflow: auto; height: 505px;}

.disabled {color: #999;}

.heading 	{font-weight: bold; text-transform: uppercase;}

.label 	{font-weight: bold;}

.line_bottom 	{border-bottom: 1px solid #ccc;}

.left		{float: left;}
.right		{float: right;}

.obj_display_block	{display: block;}
.obj_display_inline {display: inline;}
.obj_display_none	{display: none;}

.red					{color: red;}
.redline				{color: red; text-decoration: line-through;}
.redlined_item	p		{}
.redlined_item	img		{padding: 0px 0px 0px 10px; vertical-align: bottom;}

.top_separator {border-top: 1px solid #ccc;}

#home .separator {background: url('../images/back_violet_highlight.png') repeat-x;}
#docs .separator {background: url('../images/back_green_highlight.png') repeat-x;}
#parts .separator {background: url('../images/back_red_highlight.png') repeat-x;}
#products .separator {background: url('../images/back_orange_highlight.png') repeat-x;}

div.no_actions_bar table {border-bottom: 1px solid #ccc;}
div.put_slider {border-top: 1px solid #ccc; padding-bottom: 1px;}

a.selectable {color: #06c;}
a:hover.selectable {color: #06c; text-decoration: underline;}


b {font-weight: bold;}

em {
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}

.instruction {
	color: #888;
	cursor: pointer;
	font-style: italic;
}

span.tag {
	color: #888;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0px 5px 0px 0px;
	text-align: right;
}

span.tag_no_list {
	color: #888;
	font-weight: bold;
	padding: 0px 5px 0px 0px;
	text-align: right;
}

span.tag_right {
	color: #333;
	float: left;
	font-weight: bold;
	padding: 0px 5px 0px 0px;
	text-align: left;
}

div.action {
	background-color: #eee;
	border-top: 1px solid #ccc;
	height: 30px;
	padding-left: 10px;
}

div.action_blank {
	background-color: #eee;
	border-top: 1px solid #ccc;
	height: 30px;
	width: 100%;
}

div.action p {
	background-color: #eee;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px 0px 0px;
	text-transform: uppercase;
}

div.confirm {
	border-top: 1px solid #ccc;
	padding: 2px 2px 2px 2px;
}

div.confirm div.confirm_inner {
	width: 100%;
}

div.confirm div.confirm_lft {
	height: 97px;
	background: url('../images/bgd_confirm_left.png') no-repeat top left;
	margin: 0px;
	padding: 0px 0px 0px 5px;
}

div.confirm div.confirm_rgt {
	height: 97px;
	background: url('../images/bgd_confirm_right.png') no-repeat top right;
	margin: 0px;
	padding: 0px 5px 0px 0px;
}

div.confirm div.confirm_mid {
	height: 97px;
	background: url('../images/bgd_confirm_mid.png') repeat-x;
	margin: 0px;
	padding: 0px;
}

#parts div.confirm div.confirm_inner	{border: 1px solid #cb6666;}
#docs div.confirm div.confirm_inner		{border: 1px solid #c0d9c0;}
#products div.confirm div.confirm_inner	{border: 1px solid #ffdf98;}

div.confirm div.alert_mid {
	padding: 5px 0px 0px 20px;
}

div.confirm div.alert_mid p.text_links {
	text-transform: uppercase;
}

div.confirm div.alert_mid p {
	color: #333;
	font-weight: bold;
	padding: 0px 0px 5px 0px;
}

div.confirm div.alert_mid p.icon {
	color: #333;
	font-weight: normal;
	padding: 0px 10px 5px 0px;
	text-align: center;
}

div.controls div.display p {
	display: inline;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
}

div.controls div.display {float: right; margin-right: 25px;}

div.controls div.display span {float: left; padding: 4px 4px 3px 3px;}

div.controls {
	border-bottom: 1px solid #ccc;
	padding: 15px 0px 15px 0px;
}

div.controls p {
	padding: 4px 0px 0px 25px;
}

div.details_sticky {
	background-color: #fff;
	width: 100%
}

div.header_wrap {
	background: #fafafa;
	border-bottom: 1px solid #aaa;
	margin-top: 3px;
}

div.header {
	background: #fafafa;
	padding: 5px 0px 7px 20px;
}

div.header p {padding-top: 5px;}

div.header_sub_wrap {
	background: #f6f6f6;
	border-bottom: 1px solid #aaa;
}

div.header_sub {
	background: #f6f6f6;
	padding: 15px 0px 7px 20px;
}

div.header_sub p {padding-top: 5px;}

div.fix_header_w p {width: 365px;}

div.section p {
	clear: both;
	padding: 2px 0px 2px 0px;
}

div.slider_h {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	display: block;
	height: 1px;
	width: 100%; 
}

div.slider_v {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
	float: left;
	height: 100%;
	width: 1px; 
}


div.start_top {
	height: 25px;
	padding-top: 36px;
}

div.sub_tabs {
	height: 25px;
	padding-top: 11px;
}

div.status_text {
	padding: 10px 0px 10px 25px;
	border-bottom: 1px solid #ccc;
}

p.dots_green {
	background: url('../images/icn_green_circle.png') no-repeat;
	height: 16px;
	width: 16px;
}

p.dots_red {
	background: url('../images/icn_red_square.png') no-repeat;
	height: 16px;
	width: 16px;
}

p.dots_yellow {
	background: url('../images/icn_yellow_triangle.png') no-repeat;
	height: 16px;
	width: 16px;
}

#menu_shell {
	position: absolute;
	z-index: 1000;
}




/*** POPUP STYLES ***/
ul.parent {
	position: absolute;
	top: 0px;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 175px;
}

ul.parent ul {
	border-bottom: 1px solid #ccc;
	list-style: none;
	padding: 1px 0px 1px 0px;
}

ul.parent ul li {
	clear: both;
	cursor: pointer;
	line-height: 16px;
	padding: 2px 0px 2px 15px;
}

ul.parent ul li em {
	float: left;
	margin-top: 2px;
	width: 18px;
}



/*************************
MDI HIDDEN SCREENS STYLES
*************************/

#tasks p#docs		{ background-color: #9c9; }
#tasks p#home		{ background-color: #c9c; }
#tasks p#parts		{ background-color: #c66; }
#tasks p#products	{ background-color: #fc6; }
#tasks p#projects 	{ background-color: #69c; }

#screens p.main_dir {
	font-weight: bold;
	padding: 10px 0px 10px 5px;
	text-transform: uppercase;
	width: 100%;
}

#screens p.sub_dir {
	font-weight: bold;
	margin: 5px 0px 0px 10px;
}

#screens ul {
	list-style: none;
	margin: 10px 0px 10px 20px;
	padding: 0px;
}

#screens li {
	cursor: pointer;
	line-height: 14px;
}



#session {
	background: url('../images/bgd_search.png') repeat-x top left;
	overflow: hidden;
}

#collab {
	background: url('../images/bgd_collab.png') repeat-x top left;
	overflow: hidden;
}

#tasks {
	/*background: url('../images/bgd_tasks.png') repeat-x top left;*/
	/*overflow: hidden;*/
}



#win_ctrls {
	background: url('../images/bgd_win_ctrls.png') repeat-x top left;
	overflow: hidden;
}

#switcher {
	background: url('../images/bgd_switcher.png') repeat-x top left;
	overflow: hidden;
}

#main {
	background: url('../images/bgd_main.png') repeat-x top left;
	overflow: hidden;
}


/*** GENERAL STYLES ***/

.gray {
	color: #999;
}

/*** HOME STARTPAGE ***/
div.home_startpage div.controls {
	/*background: url('../images/back_green_highlight.png') repeat-x;*/
}

div.home_startpage div.input_number {
	/*background: url('../images/back_green_highlight.png') repeat-x;*/
	height: 50px;
	padding: 10px 0px 0px 15px;
}

div.home_startpage div.stats {
	border-top: 1px solid #ccc;
	padding: 10px 0px 0px 15px;
}

div.home_.startpage div.alert {position: relative;}

div.home_startpage span.tag_right {width: 60px;}

div.home_startpage div.stats div.pie_chart {
	margin-right: 20%;
	margin-top: 10%;
	width: 115px;
}
