/*
	GENERAL TABLE STYLES
*/
#main table {
	background: #fff;
	width: 100%;
}

#main thead {
	vertical-align: bottom;
}

#main tbody {
	vertical-align: top;
}

#main th {
	height: 25px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding: 0px 5px 5px 5px;
}

#main table tr td img,
#main table.view_tree tr td img,
#main table.view_table tr td img{ vertical-align: top; }

#main #parts thead.disabled th {background-color: #eea4a4; color: #fff;}

#main #home div.header_info  {background-color: #969;}
#main #parts div.header_info  {background-color: #cb6666;}
#main #docs div.header_info	{background-color: #696;}
#main #products div.header_info	{background-color: #ffdf98; color: #333;}

#main #home th	{background-color: #969;}
#main #parts th	{background-color: #cb6666;}
#main #docs th	{background-color: #696;}
#main #products th	{background-color: #ffdf98; color: #333;}
#main #projects th	{background-color: #7ad;}

#main #home thead.no_category th,
#main #parts thead.no_category th,
#main #docs thead.no_category th,
#main #projects thead.no_category th,
#main #products thead.no_category th	{background-color: #999; color: #fff;}


/***REDLINE PARTS SUB TABLE STYLES ***/
#main #parts td.redlined_table {
	border: none;
	padding: 0px;
	margin: 0px;
}

#main #parts td.redlined_table table {border-bottom: 1px solid #ccc;}

#main #parts td.redlined_table th {
	background-color: #ddd;
	color: #666;
	font-weight: normal;
	height: 15px;
	padding: 2px 5px 2px 5px;
}

#main #parts td.redlined_table td {
	border-top: 1px solid #eee;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding: 2px 5px 2px 5px;
}


#main #parts .t_00 {width: 55px; border-left: none;}
#main #parts .t_01 {width: 100px;}
#main #parts .t_02 {width: 40px;}
#main #parts .t_03 {width: 40px;}
#main #parts .t_04 {width: 80px;}
#main #parts .t_05 {width: 80px;}
#main #parts .t_06 {width: 150px;}
#main #parts .t_07 {width: 80px;}
#main #parts .t_08 {}

#main .bom_table_parent td {border-bottom: none;}

#main div.table_wrapper {
	margin: 0px;
	overflow: auto;
}

#main table tr td, #main table.wrapper table.regular tr td  {
	cursor: pointer;
	padding: 3px 5px 3px 5px;
	font-size: 11px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}


#main table.view_tree tr td {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #eee;
	border-left: none;
	border-right: none;
	height: 20px;
	padding: 2px 0px 0px 0px;
}


#main table.view_tree tr td.d_prod {width: 80px;}
#main table.view_tree tr td.d_info {padding-left: 5px;}

#main table.view_tree tr td.d_0		{padding-left: 15px;}
#main table.view_tree tr td.d_01		{padding-left: 30px;}
#main table.view_tree tr td.d_012		{padding-left: 45px;}
#main table.view_tree tr td.d_0123	{padding-left: 60px;}
#main table.view_tree tr td.d_01234	{padding-left: 75px;}

/**********
TREE STYLES
**********/

ul.tree_wrapper {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/* 
	Use to differentiate sticky and selected columns
*/
#main .d_sticky_col {background-color: #f5f5f5;}

#main .d_00 {width: 10px; border-left: none;}
#main .d_01 {border-left: none;}

#main .d_start_bomtable {border-bottom: none;}
#main .d_end_bomtable {border-bottom: 1px solid #ddd;}

#main .part_view {border-left: none;}

#main .d_selected 		{background-color: #f9ec9d;}
#main .d_parent		 		{background-color: #e1e9f8;}

#main #parts .d_selected_tabs		{background-color: #efd1d1;}
#main #parts .d_highlight			{background-color: #fffafa;}

#main #docs .d_selected_tabs 		{background-color: #e0f0e0;}

#main #products .d_selected_tabs 	{background-color: #fef4e0;}

#main .d_normal 	{background-color: #fff;}

/* 
	Use to differentiate rolling over
*/
#main .d_rollover {background-color: #eee7d0;}

#main table.wrapper tr td {
	border-bottom: none;
	border-left: none;
	height: 100%;
	padding: 0px;
}

#main table.wrapper tr td.lft_data {
	width: 55%;
}

#main table.wrapper tr td.rgt_data {
	width: 55%;
}


 


#main table.t1 {
	position: relative;
}
