div.tasks_inner {
	width: 100%;
	height: 100%;
}

div.tasks_inner ul {
	margin: 0;
	padding: 5px 15px 0 15px;
	list-style: none;
	color: #333;
}

div.tasks_inner ul li {
	padding: 3px 10px;
	border: none;
	cursor: pointer;
}

div.tasks_inner ul li.heading {
	font-weight: bold;
	text-transform: uppercase;
	margin: -7px 0;
	padding: 0 0 0 10px;
	border: none;
}

div.tasks_inner ul li.cap {
	height: 19px;
	padding: 0;
	border: none;
}

div.tasks_inner ul li.divider {
	height: 19px;
	padding: 0;
	border: none;
}

div.tasks_inner ul li.active {
	margin: 0px -12px;
	padding: 2px 21px;
}


/*** PARTS ***/
div.tasks_inner_parts {
	background: url('../images/bgd_tasks_parts.png') no-repeat bottom right;
}

div.tasks_inner_parts ul li.cap {
	background: url('../images/bgd_task_divider_parts_major.png') repeat-x center left;
}

div.tasks_inner_parts ul li.divider {
	background: url('../images/bgd_task_divider_parts_minor.png') repeat-x center left;
}

div.tasks_inner_parts ul li.active {
	background: #fffafa url('../images/bgd_task_parts_selected.png') no-repeat 3px 3px;
	border: 1px solid #ffcdcd;
}


/*** DOCS ***/
div.tasks_inner_docs {
	background: url('../images/bgd_tasks_docs.png') no-repeat bottom right;
}

div.tasks_inner_docs ul li.cap {
	background: url('../images/bgd_task_divider_docs_major.png') repeat-x center left;
}

div.tasks_inner_docs ul li.divider {
	background: url('../images/bgd_task_divider_docs_minor.png') repeat-x center left;
}

div.tasks_inner_docs ul li.active {
	background: #fafffa url('../images/bgd_task_docs_selected.png') no-repeat 3px 3px;
	border: 1px solid #c0d9c0;
}


/*** PROJECTS ***/
div.tasks_inner_projects {
	background: url('../images/bgd_tasks_projects.png') no-repeat bottom right;
}

div.tasks_inner_projects ul li.cap {
	background: url('../images/bgd_task_divider_projects_major.png') repeat-x center left;
}

div.tasks_inner_projects ul li.divider {
	background: url('../images/bgd_task_divider_projects_minor.png') repeat-x center left;
}

div.tasks_inner_projects ul li.active {
	background: #f8fbff url('../images/bgd_task_projects_selected.png') no-repeat 3px 3px;
	border: 1px solid #c4ddff;
}



/*** PRODUCTS ***/
div.tasks_inner_products {
	background: url('../images/bgd_tasks_products.png') no-repeat bottom right;
}

div.tasks_inner_products ul li.cap {
	background: url('../images/bgd_task_divider_products_major.png') repeat-x center left;
}

div.tasks_inner_products ul li.divider {
	background: url('../images/bgd_task_divider_products_minor.png') repeat-x center left;
}

div.tasks_inner_products ul li.active {
	background: #fffbf2 url('../images/bgd_task_products_selected.png') no-repeat 3px 3px;
	border: 1px solid #ffdf98;
}


/*** CONTACTS ***/
div.tasks_inner_contacts {
	background: url('../images/bgd_tasks_contacts.png') no-repeat bottom right;
}
