BODY{position:relative;
	margin:0px;
}

BODY,TABLE,INPUT,TEXTAREA,SELECT{
		font-family: Tahoma,Verdana,Helvetica,Sans-Serif;
		font-size: 11px;
	
}

#preview A,
#preview A:visited,
#preview A:active,
#preview A:link,
#preview A:hover
{position:relative;color:#0095c6;

}
/* COMMAND LINK */
ux.dwpe-link,
ux.dwpe-link:visited,
ux.dwpe-link:active,
ux.dwpe-link:hover
{
	position:relative;color:#0095c6;
}
ux.dwpe-link:hover
{
	cursor:pointer;
	text-decoration: underline;
}


/*UX: Removing display:inline-block on 4/26 to simplify markup- Roy*/
UX{position:relative;padding:0px;margin:0px;}

P{margin:8px 0px;}

.DWPE_Base
{	border:2px dotted #cc0000;
	padding:2px 5px;		}
	
	
.hidden{visibility:hidden}	


/* standard icon code */
.icons
{
	position:relative;
	background:transparent url(../images/common_icons_normal.png) no-repeat center center;
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:16px;
}

/*icon offset rules*/
.i0,.ico-blank{background-position:0px 0px; width:16px; height:16px} .i1,.ico-confirm{background-position:-16px 0px; width:16px; height:16px} .i2,.ico-error{background-position:-32px 0px; width:16px; height:16px} .i3,.ico-info{background-position:-48px 0px; width:16px; height:16px} .i4,.ico-warning{background-position:-64px 0px; width:16px; height:16px} .i5,.ico-duplicate{background-position:-80px 0px; width:16px; height:16px} .i6,.ico-indent{background-position:-96px 0px; width:16px; height:16px} .i7,.ico-unindent{background-position:-112px 0px; width:16px; height:16px} .i8,.ico-search{background-position:-128px 0px; width:16px; height:16px} .i8,.ico-go{background-position:-128px 0px; width:16px; height:16px} .i9,.ico-moveleft{background-position:-144px 0px; width:16px; height:16px} .i9,.ico-previous{background-position:-144px 0px; width:16px; height:16px} .i10,.ico-moveright{background-position:-160px 0px; width:16px; height:16px} .i10,.ico-next{background-position:-160px 0px; width:16px; height:16px} .i11,.ico-moveleftall{background-position:-176px 0px; width:16px; height:16px} .i12,.ico-moverightall{background-position:-192px 0px; width:16px; height:16px} .i13,.ico-movebottom{background-position:-208px 0px; width:16px; height:16px} .i14,.ico-movetop{background-position:-224px 0px; width:16px; height:16px} .i15,.ico-movedown{background-position:-240px 0px; width:16px; height:16px} .i16,.ico-moveup{background-position:0px -16px; width:16px; height:16px} .i17,.ico-create{background-position:-16px -16px; width:16px; height:16px} .i18,.ico-freezecolumn{background-position:-32px -16px; width:16px; height:16px} .i19,.ico-unfreezecolumn{background-position:-48px -16px; width:16px; height:16px} .i20,.ico-wrap{background-position:-64px -16px; width:16px; height:16px} .i21,.ico-detach{background-position:-80px -16px; width:16px; height:16px} .i22,.ico-add{background-position:-96px -16px; width:16px; height:16px} .i22,.ico-addrow{background-position:-96px -16px; width:16px; height:16px} .i22,.ico-addnode{background-position:-96px -16px; width:16px; height:16px} .i33,.ico-addmany{background-position:-16px -32px; width:16px; height:16px} .i23,.ico-delete{background-position:-112px -16px; width:16px; height:16px} .i23,.ico-remove{background-position:-112px -16px; width:16px; height:16px} .i24,.ico-edit{background-position:-128px -16px; width:16px; height:16px} .i25,.ico-exportexcel{background-position:-144px -16px; width:16px; height:16px} .i26,.ico-folder{background-position:-160px -16px; width:16px; height:16px} .i27,.ico-go-up{background-position:-176px -16px; width:16px; height:16px} .i28,.ico-go-to-top{background-position:-192px -16px; width:16px; height:16px} .i29,.ico-file{background-position:-208px -16px; width:16px; height:16px} .i30,.ico-show-as-top{background-position:-224px -16px; width:16px; height:16px} .i31,.ico-hierselector{background-position:-240px -16px; width:16px; height:16px} .i32,.ico-qbe{background-position:0px -32px; width:16px; height:16px} .i34,.ico-lov{background-position:-32px -32px; width:16px; height:16px} .i35,.ico-keyflex{background-position:-48px -32px; width:16px; height:16px} .i36,.ico-details{background-position:-64px -32px; width:16px; height:16px} .i37,.ico-date{background-position:-80px -32px; width:16px; height:16px} .i38,.ico-refresh{background-position:-96px -32px; width:16px; height:16px} .i39,.ico-uap{background-position:-112px -32px; width:16px; height:16px} .i252,.ico-closetab{background-position:-192px -240px; width:16px; height:16px} .i253,.ico-choicelist{background-position:-208px -240px; width:16px; height:16px} .i254,.ico-help{background-position:-224px -240px; width:16px; height:16px} .i255,.ico-person{background-position:-240px -240px; width:16px; height:16px} .i189,.ico-expanded-node{background-position:0px -189px; width:9px; height:9px} .i190,.ico-collapsed-node{background-position:-9px -189px; width:9px; height:9px} .i132,.ico-term-def{background-position:0px -132px; width:12px; height:12px} .i133,.ico-updated-value{background-position:-12px -132px; width:12px; height:12px} .i134,.ico-status-ok{background-position:-24px -132px; width:12px; height:12px} .i135,.ico-status-pending{background-position:-36px -132px; width:12px; height:12px} .i136,.ico-status-error{background-position:-48px -132px; width:12px; height:12px} .i137,.ico-status-locked{background-position:-60px -132px; width:12px; height:12px} .i138,.ico-status-not-started{background-position:-72px -132px; width:12px; height:12px} .i139,.ico-status-unlocked{background-position:-84px -132px; width:12px; height:12px} .i140,.ico-status-warn{background-position:-96px -132px; width:12px; height:12px} .i141,.ico-prev-item{background-position:-108px -132px; width:12px; height:12px} .i142,.ico-next-item{background-position:-120px -132px; width:12px; height:12px} .i144,.ico-requires-one{background-position:0px -144px; width:12px; height:12px} .i145,.ico-required{background-position:-12px -144px; width:12px; height:12px} .i999,.ico-not-required{background-position:0px 0px; width:0px; height:0px} 