.GlobalRegion{background:#263340;color:#ffffff;}
.PrimaryRegion{background:#53708b;color:#ffffff;}
.SecondaryRegion{background:#edf0f3;}
.TiertiaryRegion{background:#ffffff;}

/*
	wait icons
*/

DIV.wait
{
	position:absolute;
	width:16px;
	height:16px;
	background:transparent url(../images/wait16trans.gif) center center;
	
}


/*-------------------
	overflow buttons
	-----------------*/
.dwpe-overflow-btn
{
	position:relative;
	background:transparent url(../images/overflow-strip.png) left top;
	width:14px;
	height:13px;
	padding:0px;
	margin:0px;
	display:inline-block;
}


/*1st and 2nd level definition*/
.GlobalRegion .dwpe-overflow-btn.aft,
.PrimaryRegion .dwpe-overflow-btn.aft
{
	background-position:0px 0px;
}

.GlobalRegion LI.dwpe-overflow-btn.aft:hover,
.PrimaryRegion LI.dwpe-overflow-btn.aft:hover
{
	background-position:0px -13px;
}

.GlobalRegion .dwpe-overflow-btn.aft.active,
.GlobalRegion LI.dwpe-overflow-btn.aft:active,
.PrimaryRegion .dwpe-overflow-btn.aft.active,
.PrimaryRegion LI.dwpe-overflow-btn.aft:active
{
	background-position:0px -26px;
}

.GlobalRegion .dwpe-overflow-btn.fore,
.PrimaryRegion .dwpe-overflow-btn.fore
{
	background-position:0px -39px;
}

.GlobalRegion LI.dwpe-overflow-btn.fore:hover,
.PrimaryRegion LI.dwpe-overflow-btn.fore:hover
{
	background-position:0px -52px;
}

.GlobalRegion .dwpe-overflow-btn.fore.active,
.GlobalRegion LI.dwpe-overflow-btn.fore:active,
.PrimaryRegion .dwpe-overflow-btn.fore.active,
.PrimaryRegion LI.dwpe-overflow-btn.fore:active
{
	background-position:0px -65px;
}


/*3rd and 4th level definition*/
.SecondaryRegion .dwpe-overflow-btn.aft,
.WindowRegion .dwpe-overflow-btn.aft,
.TiertiaryRegion .dwpe-overflow-btn.aft
{
	background-position:-16px 0px;
}

.SecondaryRegion LI.dwpe-overflow-btn.aft:hover,
.WindowRegion LI.dwpe-overflow-btn.aft:hover,
.TiertiaryRegion LI.dwpe-overflow-btn.aft:hover
{
	background-position:-16px -13px;
}

.SecondaryRegion .dwpe-overflow-btn.aft.active,
.SecondaryRegion LI.dwpe-overflow-btn.aft:active,
.WindowRegion .dwpe-overflow-btn.aft.active,
.WindowRegion LI.dwpe-overflow-btn.aft:active,
.TiertiaryRegion .dwpe-overflow-btn.aft.active,
.TiertiaryRegion LI.dwpe-overflow-btn.aft:active
{
	background-position:-16px -26px;
}

.SecondaryRegion .dwpe-overflow-btn.fore,
.WindowRegion .dwpe-overflow-btn.fore,
.TiertiaryRegion .dwpe-overflow-btn.fore
{
	background-position:-16px -39px;
}

.SecondaryRegion LI.dwpe-overflow-btn.fore:hover,
.WindowRegion LI.dwpe-overflow-btn.fore:hover,
.TiertiaryRegion LI.dwpe-overflow-btn.fore:hover
{
	background-position:-16px -52px;
}

.SecondaryRegion .dwpe-overflow-btn.fore.active,
.SecondaryRegion LI.dwpe-overflow-btn.fore:active,
.WindowRegion .dwpe-overflow-btn.fore.active,
.WindowRegion LI.dwpe-overflow-btn.fore:active,
.TiertiaryRegion .dwpe-overflow-btn.fore.active,
.TiertiaryRegion LI.dwpe-overflow-btn.fore:active
{
	background-position:-16px -65px;
}



