BODY
{
   font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   font-size: 11px;
   color: #191970;
   background-color: #ffffff; /* white */
   margin-left: 3px;
   margin-top: 2px;
   margin-right: 3px;
   margin-bottom: 0px;
   padding-right: 3px;
   scrollbar-arrow-color:#aaaaaa;
   scrollbar-track-color:#f5f5f5;
   scrollbar-dark-shadow-color:#aaaaaa;
   scrollbar-shadow-color:#aaaaaa;
   scrollbar-base-color:#708090;
   scrollbar-face-color:#f3f3f3;
   scrollbar-3d-light-color:#aaaaaa;
   scrollbar-highlight-color:#ffffff;
}
P
{
   font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   font-size: 11px;
   color: #191970;
}
TD
{
   font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   font-size: 11px;
}
FORM
{
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
}
A:active { font-size: 11px; font-weight: normal; color: #3366CC; text-decoration: none; }
A:link { font-size: 11px; font-weight: normal; color: #3366CC; text-decoration: none; }
A:visited { font-size: 11px; font-weight: normal; color: #3366CC; text-decoration: none; }
A:hover { font-size: 11px; font-weight: normal; color: #3366CC; text-decoration: underline; }
TABLE.titleObjectTable
{
   margin: 0px 0px 0px 0px;
   padding: 3px;
   cellSpacing: 0px;
   width: 100%;
   height: 23px;
   border: 0px;
}
TR.titleObjectRow
{
   height: 20px;
}
.titleObjectText
{
   height: 18px;
   color: #3F5D98;
   font-size: 18px;
   font-style: normal;
   font-weight: bold;
   vertical-align: middle;
   text-decoration: none;
   text-align: left;
}
.titleObjectSmallText
{
   height: 18px;
   color: #3F5D98;
   font-size: 12px;
   font-style: normal;
   font-weight: bold;
   vertical-align: middle;
   font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   text-decoration: none;
   text-align: left;
}
.stampText
{
   font-family : Impact, 'Arial Black', sans-serif, MSPGothic, PMingLiU, UWKMJF;
   font-size : 22px;
   font-weight : bold;
}
TH
{
   font-size: 11px;
   font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   background-color: #4F6DA8;  /* Aidan's color #63639c */
   font-weight: bold;
   color: #ffffff; /* white */
   vertical-align: middle;
   text-align: center;
   text-overflow : ellipsis;
   padding-left: 2px;
   padding-right: 2px;
}
A:link { text-decoration: none; font-weight: normal; background-color: transparent; color: #5674B9; }
A:visited { text-decoration: none; font-weight: normal; background-color: transparent; color: #5674B9; }
A:active { text-decoration: none; font-weight: normal; background-color: transparent; color: #5674B9; }
A:hover { text-decoration: underline; font-weight: normal; background-color: transparent; color: #5674B9; }
A.breadCrumbLink:link { text-decoration: none; font-weight: bold; background-color: transparent; color: #5674B9; }
A.breadCrumbLink:visited { text-decoration: none; font-weight: bold; background-color: transparent; color: #5674B9; }
A.breadCrumbLink:active { text-decoration: none; font-weight: bold; background-color: transparent; color: #5674B9; }
A.breadCrumbLink:hover { text-decoration: underline; font-weight: bold; background-color: transparent; color: #5674B9; }
.tHd {
	background: #c0c0c0;
	font-weight: normal; 
	text-decoration: none;
   	border-top-color: white;
   	border-left-color: white;
   	border-right-color: black;
   	border-bottom-color: black;
   	border-width: 1px; 
   	border-style: solid;
   	height:12px;
	color: #191970;
   	font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   }

.tHRd {
	background: #c0c0c0;
	font-weight: normal; 
	text-decoration: none;
   	border-top-color: white;
   	border-left-color: white;
	border-right-color: #c0c0c0;
   	border-bottom-color: black;
    overflow: hidden;
    text-overflow: ellipsis;
   	border-width: 1px; 
   	border-style: solid;
   	height:12px;
	color: #191970;
   	font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   }
.tHSd {
	background: #c0c0c0;
	font-weight: normal; 
	text-decoration: none;
   	border-top-color: white;
	border-left-color: #c0c0c0;
	border-right-color: black;
   	border-bottom-color: black;
   	border-width: 1px; 
   	border-style: solid;
	padding: 0px;
   	height:12px;
	color: #191970;
	cursor:e-resize;
   	font-family: Verdana, Arial, sans-serif, MSPGothic, PMingLiU, UWKMJF;
   }
   .tL          { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: none; }
   A.tL:link    { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: none; }
   A.tL:active  { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: none; }
   A.tL:visited { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: none; }
   A.tL:hover   { color: #990099; font-size: 10px; font-weight: normal; text-decoration: underline; }


   .tableLink   { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLink:link    { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLink:active  { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLink:visited { color: #0000cc; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLink:hover   { color: #3300ff; font-size: 10px; font-weight: normal; text-decoration: underline; }

   .tableLinkInverse          { color: #ffff66; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLinkInverse:link    { color: #ffff66; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLinkInverse:active  { color: #ffff66; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLinkInverse:visited { color: #ffff66; font-size: 10px; font-weight: normal; text-decoration: underline; }
   A.tableLinkInverse:hover   { color: #ffff00; font-size: 10px; font-weight: normal; text-decoration: underline; }
