/* BEGIN: alerts.scss
// -----------------------------------------------------*/

.alert {
	margin: 10px;
	p {
		.fa {
			margin-right: 5px;
		}
	}
	&.single-w-btns {
		padding: 10px 15px;
		p {
			position: relative;
			line-height: 34px;
			.btn {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}