/* BEGIN: dialogs.scss
// -----------------------------------------------------*/

// Dialogs
.bootstrap-dialog {
	.modal-header {
		background-color: $main;
		border-bottom: $borderColor;
		&.bootstrap-dialog-draggable {
			cursor: move;
		}
	}
	&.type-primary {
		.modal-header {
			background-color: $main;
			&.bootstrap-dialog-draggable {
				cursor: move;
			}
		}
	}
	.modal-content {
		form {
			fieldset {
				margin-bottom: $pageMargin;
				legend {
					font-size: 120%;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.paradata-modal {
	.modal-content {
		background: #f3f3f3;
		@include border-radius(3px);
		@include box-shadow(0 0 6px);
		border-color: $white;;
		.modal-header {
			border-bottom-color: $borderColor;
			.modal-title {
				color: $main;
				font-family: $fontFamilyLight;
			}
		}
		.modal-body {
			background: #FDFDFD;
			fieldset {
				legend {
					font-family: $fontFamilyLight;
					color: $main-blue;
					font-size: 14px;
				}
			}
			/* WIZARDS */
			.drillcard {
				overflow: hidden;
			}
		}
		.modal-footer {
			.lt-column, .rt-column {
				padding: 1px;
			}
			.lt-column {
				text-align: left;
				label {
					margin-left: 10px;
					font-weight: normal;
					cursor: pointer;
				}
			}
			.rt-column {
				text-align: right;
			}
		}
	}
	
}