/* BEGIN: forms.scss
// -----------------------------------------------------*/

form {
	.clearfix {	
		.customer-logo {
			margin-right: 10px;
		}
	}
	// Custom error look to field
	.has-error {
		.form-control {
			background: $redLightest;
			color: $redDarkest;
			display: inline-block;
			width: 92%;
		}
		.fa {
			color: $redDarkest;
		}
	}
}

// Form in columns
.form-column {
	overflow: hidden;
	dt, dd {
		@include text-truncate();
		float: left;
		line-height: 32px;
		overflow: hidden;
	}
	dt {
		color: $grayDark;
		font-weight: normal;
		min-width: 100px;
		text-align: right;
		width: 40%;
		&:after {
			content: ':';
			padding-right: 5px;
		}
	}
	dd {
		font-weight: 500;
		width: 60%;
	}
}

.edit-form {
	.form-column {
		dt, dd {
			margin-bottom: 10px;
		}
		dt {
			label {
				@include text-truncate();
				color: $grayDark;
				font-weight: normal;
				margin: 0;
				padding: 0;
				&.required {
					&:before {
						content: '*';
						color: $redDarkest;
						font-weight: bold;
					}
				}
			}
		}
		dd {
			@include flexbox();
			@include flexAlign(stretch);
			.form-control {
				@include flexbox(); 
				min-width: 150px;
				// @include flexDirection(column); NOTE: Causes <select> text to misalign
			}
			.indicators {
				@include flex(0 0 auto);
				min-width: 60px;
				.fa {
					display: inline;
					margin-left: 5px;
				}
			}
			&.strikethrough {
				.form-control {
					background: $orangeLightest;
				}
				.indicators {
					.strike {
						color: $orange;
					}
				}
			}
			&.comments {
				.form-control {
					background: $blueLightest;
				}
				.indicators {
					.comment {
						color: $blue;
					}
				}
			}
			@include flexDirection(row);
		}
	}
}
