/******************************************************************************
BASE.CSS
Description: Base elemnt styles and definitions.
******************************************************************************/
/******************************************************************************
BASIC NON-FORM ELEMENTS:
Global form element styles are found in forms.css.
Page specific form element styles reside in their corresponding CSS page.
******************************************************************************/
html 				{ overflow-y: auto; }
body				{ color:#222; font: 11px Arial, Verdana, sans-serif; min-width: 660px; }
a,
a:active,
a:link,
a:visited			{ color: #369; text-decoration: none; }
h1,h2,h3,h4,h5,h6	{ clear: both; }
h2					{ font-size: 20px; line-height: 20px; }
h3					{ border-bottom: 1px solid #ccc; margin-bottom:10px; }
h3,h4				{ font-size: 16px; line-height: 16px; }
em					{ font-weight: bold; }
img					{ border: none; }
ul					{ list-style-type: none; }
strong				{ font-weight: bold; }
dt 					{ color: #666; } 
