/* BEGIN: styleguide.scss
// -----------------------------------------------------*/
/* BEGIN: variables.scss - for styleguide.scss
// -----------------------------------------------------*/
@uploadGray :			#eee;
/* BEGIN: Include Mixins
// -----------------------------------------------------*/
/* BEGIN: mixin border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: box-shadow.scss
// -----------------------------------------------------*/
/* BEGIN: flex-box.scss
// -----------------------------------------------------*/
/* BEGIN: typography.scss
// -----------------------------------------------------*/
h5, h6 {
  text-transform: uppercase;
}

html.style-guide,
body.style-guide {
  height: 100%;
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

.nav-stacked li h4 {
  font-size: 100%;
  font-weight: normal;
  color: #666666;
  padding-left: 15px;
}
.nav-stacked li ul {
  list-style: none;
  margin-left: 15px;
}

#styleguideNav .nav-list li .subtree {
  padding-left: 0;
}
#styleguideNav .nav-list li .subtree .fa {
  color: #333333;
  width: 15px;
  margin-right: 5px;
  text-align: center;
}
#styleguideNav .nav-list li ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .style-guide .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
  .style-guide .row-offcanvas {
    position: relative;
    -o-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .style-guide .row-offcanvas-right {
    height: 100%;
    right: 0;
  }
  .style-guide .row-offcanvas-left {
    left: 0;
  }
  .style-guide .row-offcanvas-right
  .sidebar-offcanvas {
    height: 100%;
    right: -50%;
    /* 6 columns */
  }
  .style-guide .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  .style-guide .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .style-guide .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .style-guide .row-offcanvas-right
  .sidebar-offcanvas {
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
  }
}
.style-guide .sidebar-offcanvas h1 {
  font-size: 140%;
}
.style-guide .sidebar-offcanvas h1 .fa {
  margin-right: 5px;
}
.style-guide .sidebar-offcanvas nav h2 {
  margin-top: 30px;
  font-size: 100%;
}
.style-guide .sidebar-offcanvas nav h2 .fa {
  width: 15px;
  margin-right: 5px;
  text-align: center;
}
.style-guide .sidebar-offcanvas nav .nav > li > a {
  padding-left: 20px;
}

.style-guide > .container {
  height: 100%;
}
.style-guide > .container .sg-content {
  padding-bottom: 50px;
}
.style-guide > .container .sg-content > h2 {
  margin-top: 40px;
}
.style-guide > .container .sg-content > h3,
.style-guide > .container .sg-content > h4 {
  margin-top: 30px;
}
.style-guide > .container .sg-content p + h3,
.style-guide > .container .sg-content p + h4 {
  margin-top: 20px;
}
.style-guide > .container .sg-content hgroup {
  margin-bottom: 40px;
}
.style-guide > .container .sg-content hgroup > h1 .fa {
  margin-right: 10px;
}
.style-guide > .container .sg-content hgroup > h4 {
  color: #4A90E2;
}
.style-guide > .container .sg-content hgroup > h2 {
  margin-top: 40px;
}
.style-guide > .container .sg-content hgroup > h5 {
  font-weight: normal;
}
.style-guide > .container .sg-content .sg-page-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 15px 0;
  min-height: 75px;
}
.style-guide > .container .sg-content .sg-page-nav > div {
  -webkit-box-flex: 1 50%;
  -moz-box-flex: 1 50%;
  -webkit-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.style-guide > .container .sg-content .sg-page-nav > div h6 {
  margin-top: 0;
}
.style-guide > .container .sg-content .sg-page-nav > div:last-child {
  position: relative;
  text-align: center;
}
.style-guide > .container .sg-content .sg-page-nav > div:last-child .btn {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}
.style-guide > .container .sg-content > .divider {
  margin: 30px 0 0 0;
  border-top-color: #c7c7c7;
}
.style-guide > .container .sg-content .pull-right {
  margin: 10px 0 0 0;
}
.style-guide > .container .sg-content .pull-right .btn-link .fa {
  font-size: 150%;
}
.style-guide > .container .sg-content .color-boxes {
  overflow: hidden;
  padding: 0;
}
.style-guide > .container .sg-content .color-boxes li {
  border: 1px solid #999;
  float: left;
  height: 40px;
  line-height: 40px;
  list-style: none;
  margin-right: 5px;
  padding: 0 10px;
  text-align: center;
  width: auto;
}
.style-guide > .container .sg-content .color-boxes li.white {
  background-color: #fff;
}
.style-guide > .container .sg-content .color-boxes li.black {
  background-color: #000;
  color: #fff;
}
.style-guide > .container .sg-content .color-boxes li.gray {
  background-color: #999;
}
.style-guide > .container .sg-content .color-boxes li.dark {
  background-color: #343838;
  color: #fff;
}
.style-guide > .container .sg-content .color-boxes li.main-shade {
  background-color: #1D444A;
  color: #fff;
}
.style-guide > .container .sg-content .color-boxes li.main {
  background-color: #1E626D;
  color: #fff;
}
.style-guide > .container .sg-content .color-boxes li.contextual {
  background-color: #288D9F;
}
.style-guide > .container .sg-content .color-boxes li.action {
  background-color: #52B8CD;
}
.style-guide > .container .sg-content .color-boxes li.main-tint {
  background-color: #E1EAEB;
}
.style-guide > .container .sg-content .color-boxes li.light-tint {
  background-color: #F9FCFD;
}
.style-guide > .container .sg-content .panel-default {
  margin: 40px 0;
}
.style-guide > .container .sg-content .panel-default .panel-body > h4 {
  margin-top: 30px;
}
.style-guide > .container .sg-content .panel-default .panel-body > h4:first-child {
  margin-top: 10px;
}
.style-guide > .container .sg-content h2 + .panel-default {
  margin-top: 0;
}

/*# sourceMappingURL=styleguide.css.map */
