/* Footer.scss -----
footer styles */

// Variables and Mixins
@import "partials/variables";
@import "partials/mixins";

/* Footer ************* */

footer {
    background: $bodyBackground;
    bottom: 5px;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1050;
    padding: $pageMargin;
    ul {
        text-align: center;
        li {
            color: $grayDark;
            display: inline-block;
            font-size: 85%;
            list-style: none;
            padding: 5px 3px;
            a {
                margin:0;
                color: $grayDark;
                display: inline-block;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}