/* Nav.scss -----
Nav styles */

// Variables and Mixins
@import "partials/variables";
@import "partials/mixins";
/* Nav ************* */
header {
  position: relative;
  margin: 2em 15% 0 15%;
  hgroup {
    h1, h2 {
      margin-bottom: .15em;
    }
    h1 {
      a{
        color: $grayDarkest;
      }
    }
    h2 {
      font-size: 135%;
      color: $orange;
      + p {
        margin-bottom: 2em;
      }
    }
  }
  nav {
    // Position is in responsive.scss
    color: $gray;
    a {
      display: inline-block;
      padding: 5px 15px;
      text-shadow: 0 1px #fff;
      &:last-child {
        padding-right: 0;
      }
      &#selected {
        color: $purple;
        font-weight: bold;
      }
    }
  }
}