<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- selected state:  class="active" -->

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../">
        <img src="/images/stamp.png" alt="Back to Homepage"> Roland P. Garcia <span>Handwriting Analysis</span>
      </a>
    </div> 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
   </ul>
  </div>
</nav>