<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<header>
    <hgroup class="animated zoomInUp">
        <h1><a href="../"><%= companytitle %></a></h1>
        <h2><%= companydescription %></h2>
        <p><span data-id="yearsExperience"></span> years of experience in web development, visual and interaction design.</p>
    </hgroup>
    <nav class="main-nav">
       <ul>
            <li><a href="../" data-page-id="hmpg">Home</a></li>
            <li><a href="/work" data-page-id="work">Work</a></li>
            <li><a href="/about" data-page-id="about">About</a></li>
       </ul>
    </nav>
</header>

      