/* BEGIN: theme.scss
// -----------------------------------------------------*/

// Global Includes
@import "theme/variables";
@import "theme/mixins";

// Styleguide
// DEV ONLY - Styles for variables.html
// -----------------------------------------------------

.color-swatch {
	span {
		display: inline-block;
		min-width: 50px;
		min-height: 20px;
		font-size: 85%;
		padding: 2px 10px;

		// Paradata Color Theme
		&.main {
			background: $main;
		}
		&.main-tint {
			background: $main-tint;
		}
		&.main-blue {
			background: $main-blue;
		}
		&.highlight-blue {
			background: $highlight-blue;
		}
		&.highlight-green {
			background: $highlight-green;
		}
		
		// Blues
		&.blue {
			background: $blue;
		}
		&.blueLight {
			background: $blueLight;
		}
		&.blueLighter {
			background: $blueLighter;
		}
		&.blueLightest {
			background: $blueLightest;
		}
		&.blueDark {
			background: $blueDark;
		}
		&.blueDarker {
			background: $blueDarker;
		}
		&.blueDarkest {
			background: $blueDarkest;
		}
		
		// Grays
		&.gray {
			background: $gray;
		}
		&.grayLight {
			background: $grayLight;
		}
		&.grayLighter {
			background: $grayLighter;
		}
		&.grayLightest {
			background: $grayLightest;
		}
		&.grayDark {
			background: $grayDark;
		}
		&.grayDarker {
			background: $grayDarker;
		}
		&.grayDarkest {
			background: $grayDarkest;
		}

		// Greens
		&.green {
			background: $green;
		}
		&.greenLight {
			background: $greenLight;
		}
		&.greenLighter {
			background: $greenLighter;
		}
		&.greenLightest {
			background: $greenLightest;
		}
		&.greenDark {
			background: $greenDark;
		}
		&.greenDarker {
			background: $greenDarker;
		}
		&.greenDarkest {
			background: $greenDarkest;
		}

		// Oranges
		&.orange {
			background: $orange;
		}
		&.orangeLight {
			background: $orangeLight;
		}
		&.orangeLighter {
			background: $orangeLighter;
		}
		&.orangeLightest {
			background: $orangeLightest;
		}
		&.orangeDark {
			background: $orangeDark;
		}
		&.orangeDarker {
			background: $orangeDarker;
		}
		&.orangeDarkest {
			background: $orangeDarkest;
		}

		// Reds
		&.red {
			background: $red;
		}
		&.redLight {
			background: $redLight;
		}
		&.redLighter {
			background: $redLighter;
		}
		&.redLightest {
			background: $redLightest;
		}
		&.redDark {
			background: $redDark;
		}
		&.redDarker {
			background: $redDarker;
		}
		&.redDarkest {
			background: $redDarkest;
		}
	}
}

