/******************************************************************************
	BORDERS AND CREATE NEW BUTTON UNDERLINE
*****************************************************************************/
.LeftPane .leftPaneHeader,
.create_button a:hover,
.TopPane {
    border-bottom: 1px solid #506B8F !important;
}
.LeftPane .slideMenuHeader,
.action_dialog div.footer {
	border-top: 1px solid #506B8F !important;
}

/******************************************************************************
	DASHBOARD HEADER & ACTIVE DRAWER
*****************************************************************************/
.dashboardTitle { 
	color: #fff;
}
.groupItem .itemHeader,
.LeftPane .slideMenuHeader.selected,
.widget_personalization .drag_handle
{
	background: none; 
	background-color: #7595c0;
}


/*****************************************************************************
	TOP PANE
*****************************************************************************/
.TopPane,
.leftPaneHeader  {
    background-color: #bfd3e4;
}
/*****************************************************************************
	ACTION DIALOGS
*****************************************************************************/
/* Footer */
.action_dialog div.footer {
    background-color: #bfd3e4;
}
/******************************************************************************
	PALETTE HEADER / FOOTER
*****************************************************************************/
.ux_palette_top { 
	background-color: #d1dbe3;
}
.ux_palette_bottom { 
	background-color: #d1dbe3;
	border: 2px solid transparent;
}
.ux_palette_bottom_action_bar {
	margin-left: 0 5px;
}
#ux_palette_title { 
	color: #FFF;
}
/******************************************************************************
	TABLE HEADER, LEFT PANE BUTTON BG, DRAWER & CREATE NEW BUTTON HOVERS, SELECTED PALETTE TAB
*****************************************************************************/
th,
tr.header td,
.GHeader,

.GPanel,
.GPanelTop,

div.yuimenu li.selected,
div.yuimenubar li.selected,

.LeftPane .slideMenuHeader:hover,
.LeftPane .action_buttons,
.create_button a:hover {
	background-color: #e5ebef;
}

.LeftPane .slideMenuHeader.selected a { color: #fff; }
/******************************************************************************
	HIGHTLIGHTS & PALETTE TAB BACKGROUND
*****************************************************************************/
.palette_tabs {
	border-top: 1px solid #9bb3e1;
	border-bottom: 1px solid #9bb3e1;
	background: url(../images/bgd_palette_tabs.png) repeat-x left top; 
}

.palette_tabs .selected { 
	border: none;
}

.palette_tabs,
.palette_tabs .selected {
	background-color: #9bb3e1 !important;
}
/******************************************************************************
	PALETTE AND LEFT PANE BACKGROUNDS
*****************************************************************************/
.LeftPane .slideMenu,
.ux_palette_main {
	background-color: #F5FBFF;
}

/******************************************************************************
	FLAT BUTTONS
*****************************************************************************/
a.button 
{
	border: 1px solid transparent !important;
	background: url('') left center no-repeat !important;
}

a.button:hover 
{
	border: 1px solid #999 !important;
	background-color: #efefef !important;
}

a.button.disabled:hover 
{
	border: 1px solid transparent !important;
	background-color: transparent !important;
}

a.button span
{
	background: url('') right center no-repeat !important;
}

.object_level_controls a.button,
.view_controls a.button
{
	border: 1px solid silver !important;
	background: url('') left center no-repeat !important;
	padding:3px 0 3px 8px;
	background-color:#e3e3e3 !important;
}

.object_level_controls a.button:hover,
.view_controls a.button:hover
{
	background-color: #efefef !important;;
}
.table_actions a.button
{
	padding:3px 0 3px 8px;
}
.table_actions a.button span
{
	background: url() !important;
}