/********************************
	SEARCH RESULTS
/*******************************/
div.scrollTreeDiv.unique_pages_search_results { height:80px; *height:85px; overflow-y:hidden; border-bottom:2px solid silver; } /* '*height' required for IE */
td.col_document { background-image: url('/global/images/icn_obj_document.png'); width:20px;}
td.col_bom { background-image: url('/global/images/icn_obj_bom.png'); width:20px;}

div#char_counter
{
	text-align: right;
	background-color:#f5f5f5;
	border: 1px solid silver;
	margin: 3px;
	font-size: 7px;
	padding-right: 2px;
}