<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="<%= classname %>">
    <main>
        <% include partials/nav_secondary.ejs %>
        <section class="animated zoomInUp">
            <article>
                <h1><%= h1 %></h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            </article>
        </section> 

        <% include partials/footer.ejs %>
    </main> 
    <% include partials/javascripts.ejs %>
</body>
</html>