<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="<%= classname %>">
    <main class="animated zoomInUp">
        <% include partials/nav.ejs %>
        <section>
            <article>
                  <!-- Sweet nested columns cleared with a clearfix class -->
                  <div class="colonnade cards">
                    <!-- In nested columns give the first column a class of alpha
                    and the second a class of omega -->
                    <div class="lt-column animated fadeInLeftBig"><h1>Visual Design</h1><p><?php echo $yearsExperience; ?> years experience creating digital products including branding, logo, graphic design and animation. While I enjoy all these, my focus is making easy to use, beautiful human interfaces.</p></div>
                    <div class="mid-column animated fadeInUpBig"><h1>User Experience</h1><p>I strive to improve the usability, ease of use, and pleasure provided in the interaction between the customer and the product. User experience design encompasses traditional human-computer interaction (HCI) design, and extends it by addressing all aspects of a product or service as perceived by users. </p></div>
                    <div class="rt-column animated fadeInRightBig"><h1>Front End Development</h1><p>A combination of programming skills and designing with empathy for the end user. One challenge is the constant evolution regarding the tools and techniques used to create digital products.</p></div>
                  </div>
            </article>
            <article>
                <!--mg src="assets/img/akta_screen.png" id="ani1" class="slideRight" alt="AKTA Screen" /-->
            </article>
        </section> 
        <% include partials/footer.ejs %>
    </main> 
    <% include partials/javascripts.ejs %>
</body>
</html>