.groupItem
{
	border: 1px solid #c22222;
	background-color: #ffd8d8;
}
.groupItem .itemHeader
{
	border-bottom: 1px solid #c22222;
	background-color: #c22222;
	color: white;
}

.groupItem .itemHeader a.closeEl  { color: white; }