/* Just some styles to set the page layout. */
* {margin:0;padding:0;font-family:Arial, Verdana, sans-serif;}
#uxd li h1 { 
	color:#fff; 
	font-size:30px; 
	background-color: #000;
	opacity:0.4;				
	rotation:180deg; text-align: 
	right; padding:10px;
}
.shadow {box-shadow: 12px 0 12px #000000;}
#logo { background-color:#fff; padding:5px 10px; text-align: right; border-bottom:1px solid #333;}
ul#p1nav { list-style-type: none; margin: 175px 0px;}
#p1nav li { text-align: right; padding: 20px 40px; color:#fff;}
#p1nav li a { font-size: 30px; cursor: pointer;}

ul.tab-nav{
	list-style-type: none;
	display:inline-block;
	width: 125px;
	border-right:1px solid silver;
	margin:50px;
	float:left;

}
ul.tab-nav li{
	text-align: right;
	margin-right: 10px;
}

div.tab-content{
	width:30%;
	float: left;
	padding: 20px;
	margin: 20px;
	height: 75%;
	background-color: black;
	opacity: 0.8;
	color: #fff;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: .75em;
}

p { margin-bottom: 10px; line-height: 22px; font-weight: normal;}
