* {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: Arial, Helvetica, sans-serif;
}
.fourOfour {
	width: 800px; color: rgb(0, 133, 191); padding-top: 50px; padding-bottom: 25px; font-size: 2em; margin-right: auto; margin-left: auto;
}
a {
	
}
#world {
	margin: auto; width: 961px; clear: both;
}
#world_blog {
	margin: auto; width: 935px;
}
#head {
	width: 100%; height: 70px; border-bottom-color: rgb(207, 205, 201); border-bottom-width: 1px; border-bottom-style: solid;
}
#head img {
	position: absolute; z-index: 1;
}
#headWrap {
	margin: auto; width: 961px; height: 69px;
}
#logo {
	float: left;
}
#nav {
	width: 525px; height: 20px; padding-top: 35px; float: right; position: relative; z-index: 100;
}
.navigation h5 {
	
}
.navigation h5 a {
	color: rgb(181, 1, 0); text-decoration: none;
}
.navigation h4 {
	font-size: 14px;
}
.navigation h4 a {
	color: rgb(186, 186, 186); text-decoration: none;
}
#scrlBotm {
	
}
#nav ul {
	float: right;
}
#nav ul li {
	list-style: none; padding: 5px; text-align: center; font-size: 1.1em; margin-right: 10px; float: left;
}
#nav ul li#hotnav {
	background-color: rgb(0, 133, 191);
}
#nav ul li a.select {
	color: rgb(136, 136, 136) !important;
}
.menu1 {
	display: none;
}
.menu2 {
	display: none;
}
.menu3 {
	display: none;
}
.menu4 {
	display: none;
}
.menu5 {
	display: none;
}
#whoweare-page .menu1 {
	display: block;
}
#whatwedo-page .menu2 {
	display: block;
}
#casestudies-page .menu3 {
	display: block;
}
#clients-page .menu4 {
	display: block;
}
#blog-page .menu5 {
	display: block;
}
#whoweare-page .nav-arrow-position {
	margin-top: 5px; margin-left: 30px;
}
#whatwedo-page .nav-arrow-position {
	margin-top: 5px; margin-left: 30px;
}
#casestudies-page .nav-arrow-position {
	margin-top: 5px; margin-left: 30px;
}
#clients-page .nav-arrow-position {
	margin-top: 5px; margin-left: 12px;
}
#blog-page .nav-arrow-position {
	margin-top: 5px; margin-left: 4px;
}
#slides_whoweare {
	width: 961px; height: 455px;
}
h3 {
	color: rgb(135, 135, 135); font-size: 25px; font-weight: bold; margin-left: 20px;
}
h7 {
	color: rgb(135, 135, 135); font-size: 13px; font-weight: bold;
}
#midContent_whoweare {
	margin: auto; width: 960px; color: rgb(68, 68, 68); line-height: 16px; letter-spacing: 0.02em; padding-top: 50px; font-family: Helvetica; font-size: 12px;
}
#midContent_whoweare a {
	color: rgb(0, 153, 255); text-decoration: none;
}
#midContent_whoweare a:hover {
	color: rgb(68, 68, 68);
}
a {
	color: rgb(0, 153, 255); text-decoration: none;
}
a:hover {
	color: rgb(68, 68, 68);
}
.tweetdate {
	font-size: 10px; font-style: italic;
}
#tweet {
	margin-bottom: 15px;
}
h2 {
	letter-spacing: -1px; font-size: 25px;
}
h1.echohq {
	color: rgb(187, 187, 187); line-height: 26px; letter-spacing: -2px; font-family: helvcondensed; font-size: 25px;
}
h2.careers {
	color: rgb(184, 184, 184); font-family: helvcondensed; font-style: italic;
}
h6 {
	letter-spacing: -1px; font-size: 18px; margin-bottom: 10px; margin-left: 0px !important;
}
#midContent_Left {
	width: 634px; padding-right: 29px; padding-bottom: 50px; margin-right: 10px; border-right-color: rgb(207, 205, 201); border-right-width: 1px; border-right-style: solid; float: left;
}
#midContent_Blog {
	width: 704px; padding-bottom: 50px; float: left;
}
#midContent_Right {
	width: 260px; padding-top: 7px; padding-left: 20px; float: left;
}
#arrow {
	background: url("../../images/arrowups.jpg") no-repeat bottom; height: 31px;
}
#whoweare {
	margin-top: 5px; margin-left: 26px;
}
#blogMenu {
	margin-top: 5px; margin-left: 3px;
}
.sidebar_item {
	padding-bottom: 15px; margin-bottom: 15px; border-bottom-color: rgb(207, 205, 201); border-bottom-width: 1px; border-bottom-style: solid;
}
.sidebar_last {
	
}
#blogWrap {
	width: 608px; margin-top: 45px;
}
#blogContent {
	background: rgb(228, 228, 228); padding: 20px; width: 598px;
}
#blogFoot {
	background: url("../../images/blog_24.png"); width: 608px; height: 31px;
}
#blogFoot2 {
	background: url("../../images/outcome_07.png") no-repeat; width: 608px; height: 31px;
}
#footer {
	background: url("../../images/footer_32.png"); width: 100%; height: 209px; margin-top: 20px; margin-bottom: 0px;
}
#footer2 {
	background: url("../../images/footerbg_new_06.png") repeat-x #B50100; width: 100%; height: 209px; margin-top: -20px;
}
#footerArea {
	margin: auto; width: 960px;
}
#footerArea1 {
	width: 180px; color: rgb(255, 255, 255); padding-top: 20px; font-family: Helvetica; font-size: 12px; margin-top: 30px; float: left;
}
#footer h14 {
	
}
#footerArea1 h14 {
	color: rgb(255, 255, 255); text-transform: uppercase; font-size: 17px; font-weight: bold;
}
#footer_title {
	margin-bottom: 10px;
}
#footerArea ul {
	margin-top: 10px;
}
#footerArea ul li {
	list-style: none; font-size: 13px; margin-top: 5px; margin-bottom: 5px;
}
#footerArea a {
	color: rgb(255, 255, 255); text-decoration: none;
}
#hello {
	background: url("../../images/hello2_08.png") no-repeat; width: 176px; height: 209px; float: left;
}
#hello_orig {
	background: url("../../images/hello_34.png") no-repeat; width: 176px; height: 209px; float: left;
}
#footerForm {
	width: 300px; color: rgb(255, 255, 255); padding-top: 50px; font-size: 12px; float: left;
}
#copyright2 {
	color: rgb(255, 255, 255); font-size: 10px; margin-top: 30px;
}
#fields1 {
	width: 140px; float: left;
}
#fields1 input {
	width: 140px;
}
#fields2 {
	width: 140px; margin-left: 10px; float: left;
}
#fields2 input {
	width: 140px;
}
#fields3 {
	margin-top: 10px;
}
#comments {
	width: 295px; height: 65px;
}
#submit {
	background: url("../../images/submit_37.png"); padding: 0px; width: 79px; height: 33px; margin-top: 0px; float: right; cursor: pointer;
}
#copyright {
	margin: auto; width: 960px; color: rgb(144, 144, 144); padding-top: 5px; padding-bottom: 10px; font-family: Helvetica; font-size: 11px; border-top-color: rgb(207, 205, 201); border-top-width: 1px; border-top-style: solid;
}
#twitter ul li {
	list-style: none; margin-bottom: 10px;
}
#twitter ul {
	
}
#careerlist {
	width: 300px; color: rgb(136, 136, 136); margin-top: 30px; margin-bottom: 50px; margin-left: 30px;
}
#careerlist li {
	color: rgb(68, 68, 68); margin-bottom: 30px; list-style-image: url("../../images/bulletpoint_03.png");
}
#careersbox {
	background: url("../../images/box_careers_bg_03.png"); padding: 15px; width: 290px; height: 500px;
}
h2.careersboxtitle {
	letter-spacing: 0px; font-family: helvcondblack; font-size: 28px;
}
#careersbox_top {
	background: url("../../images/box_careers_bg_01.png"); width: 320px; height: 12px;
}
#careersbox_item {
	margin-bottom: 40px;
}
.careersbox_itemnumber {
	background: url("../../images/careers_no_06.png"); width: 31px; height: 33px; color: rgb(228, 228, 228); padding-top: 10px; padding-left: 15px; font-size: 26px; font-weight: bold; float: left;
}
#careersbox_itemname {
	float: left;
}
.careersbox_itemname {
	font-family: helvcondensed; font-size: 15px;
}
.rss_box ul {
	padding-right: 15px; padding-left: 15px;
}
.rss_box li {
	list-style: none; margin-bottom: 15px;
}
#slideshow {
	list-style: none; color: rgb(255, 255, 255);
}
#slideshow span {
	display: none;
}
#wrapper {
	width: 971px; display: none;
}
#wrapper * {
	
}
#fullsize {
	background: rgb(255, 255, 255); padding: 2px; border: 0px solid rgb(204, 204, 204); width: 677px; height: 349px; position: relative;
}
#information {
	background: rgb(255, 255, 255); left: 685px; width: 270px; overflow: hidden; margin-top: 31px; float: right; position: absolute; z-index: 200;
}
#image {
	width: 677px;
}
#image img {
	width: 677px; position: absolute; z-index: 25;
}
.imgnav {
	width: 25%; height: 306px; position: absolute; z-index: 150; cursor: pointer;
}
#imglink {
	width: 100%; height: 306px; filter: alpha(opacity=40); position: absolute; z-index: 100; opacity: 0.4;
}
#thumbnails {
	margin-top: 15px;
}
#slideleft {
	background: url("../../images/slideleft.png") no-repeat center rgb(34, 34, 34); width: 20px; height: 106px; float: left; cursor: pointer;
}
#slideleft:hover {
	background-color: rgb(51, 51, 51);
}
#slideright {
	background: url("../../images/slideright.png") no-repeat center rgb(34, 34, 34); width: 20px; height: 106px; float: right; cursor: pointer;
}
#slideright:hover {
	background-color: rgb(51, 51, 51);
}
#slidearea {
	width: 927px; height: 106px; overflow: hidden; margin-left: 2px; float: left; position: relative;
}
#slider {
	left: 0px; height: 106px; position: absolute;
}
#slider img {
	padding: 2px; border: 0px solid rgb(102, 102, 102); cursor: pointer;
}
#dateWrap {
	margin-right: 10px; float: left;
}
#blogDate {
	background: rgb(204, 204, 204); padding: 10px; width: 50px; height: 40px; text-align: center;
}
#blogText {
	width: 590px; padding-bottom: 10px; margin-bottom: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
#commentWrap {
	
}
#date {
	text-transform: uppercase; font-size: 20px;
}
#commentsBar {
	width: 100%; height: 22px; padding-bottom: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
#commentNo {
	background: url("../../images/comments_03.png"); width: 19px; height: 22px; text-align: center; margin-right: 5px; float: left;
}
#commentDetails {
	float: left;
}
#commentBox {
	background: rgb(221, 221, 221); padding: 10px; width: 570px; margin-top: 10px; min-height: 50px;
}
#commentDate {
	width: 590px; font-size: 11px;
}
#commentFoot {
	background: url("../../images/commenter_06.png"); width: 540px; height: 20px; text-align: right; padding-top: 5px; padding-right: 50px;
}
#midContent_RightBlog {
	width: 200px; padding-top: 7px; padding-left: 10px; border-left-color: rgb(207, 205, 201); border-left-width: 1px; border-left-style: solid; float: left;
}
#midContent_RightBlog ul {
	
}
#midContent_RightBlog ul ul {
	padding-bottom: 15px; margin-bottom: 15px; border-bottom-color: rgb(207, 205, 201); border-bottom-width: 1px; border-bottom-style: solid;
}
#midContent_RightBlog ul li {
	list-style: none; font-size: 11px;
}
#midContent_RightBlog ul li ul li {
	margin-top: 5px; margin-bottom: 5px;
}
.widgettitle {
	font-size: 20px;
}
.tags {
	padding-top: 10px;
}
.tags h6 {
	margin: 0px 0px 10px; font-size: 1.3em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.tags a:link {
	color: rgb(255, 255, 255) !important; font-size: 0.9em; font-weight: bold; text-decoration: none; margin-bottom: 5px; display: inline-block;
}
.tags a:visited {
	color: rgb(255, 255, 255) !important; font-size: 0.9em; font-weight: bold; text-decoration: none; margin-bottom: 5px; display: inline-block;
}
.tags a:hover {
	background: rgb(217, 217, 217); color: rgb(71, 121, 143); text-decoration: none;
}
.tags a {
	background: rgb(0, 158, 228); padding: 2px 7px; margin-right: 5px;
}
#quote {
	background: url("../../images/quote_03.png"); width: 524px; height: 80px; padding-right: 30px; padding-left: 30px; margin-bottom: 30px;
}
#quote h4 {
	letter-spacing: -1px; font-size: 25px;
}
#homebg {
	background: url("../files/ux1.jpg") no-repeat bottom right; margin: auto; width: 100%; height: 325px; text-align: center;
}
#page_title {
	margin: auto; width: 1000px; padding-top: 30px; padding-bottom: 30px; padding-left: 60px;
}
#wrapper1000 {
	margin: auto; width: 970px; padding-top: 40px; padding-left: 30px;
}
#whatwedo_thumbs {
	width: 143px; float: left;
}
#related {
	margin-bottom: 10px;
}
#related2 {
	margin-top: 20px; margin-bottom: 10px;
}
#whatwedo_content {
	width: 430px; color: rgb(255, 255, 255); line-height: 18px; font-size: 14px; margin-right: 50px; float: left;
}
#whatwedo_content img {
	margin-bottom: 15px;
}
#whatwedo_links {
	background: url("../../images/whatwedo_photos_09.jpg"); width: 287px; height: 190px; padding-top: 35px; padding-left: 30px; float: left;
}
#whatwedo_links ul {
	
}
#whatwedo_links li {
	background: rgb(48, 176, 233); list-style: none; font-size: 15px; margin-bottom: 3px; float: left;
}
#whatwedo_links li a {
	padding: 5px 6px; display: block;
}
#whatwedo_links li a:hover {
	padding: 5px 6px; background-color: rgb(204, 204, 204);
}
#whatwedo_links2 {
	background: url("../../images/whatwedo_photos_092.jpg"); width: 232px; height: 165px; padding-top: 25px; padding-left: 20px; float: left;
}
#whatwedo_links2 ul {
	
}
#whatwedo_links2 li {
	background: rgb(48, 176, 233); list-style: none; font-size: 13px; margin-bottom: 3px; float: left;
}
#whatwedo_links2 li a {
	padding: 5px 6px; display: block;
}
#whatwedo_links2 li a:hover {
	padding: 5px 6px; background-color: rgb(204, 204, 204);
}
#homebg img {
	text-align: center; margin-top: 30px;
}
#whatwedo_left {
	width: 600px; float: left;
}
#whatwedo_highlight {
	color: rgb(255, 255, 255); letter-spacing: -1px; font-size: 28px; margin-top: 20px;
}
#whatwedo_highlight h9 {
	background: url("../../images/bluequotemark_03.jpg"); width: 21px; height: 20px; float: left; display: block;
}
#whatwedo_highlight h11 {
	background: url("../../images/bluequotemark2_03.jpg") no-repeat bottom; width: 21px; height: 20px; padding-top: 40px; float: left; display: block;
}
#whatwedo_highlight span {
	width: 530px; padding-top: 15px; padding-left: 10px; float: left;
}
#whatwedo_individualContent {
	color: rgb(255, 255, 255); line-height: 23px; font-size: 16px; margin-top: 50px;
}
#whatwedo_line {
	background: url("../../images/whatwedo_line_03.jpg"); width: 5px; height: 427px; margin-right: 25px; margin-left: 25px; float: left;
}
#whatwedo_right {
	border: 1px currentColor; width: 300px; float: left;
}
#whatwedo_individualContent img {
	margin-bottom: 20px;
}
#taste_of_our_work {
	background: url("../../images/tasteofourwork_bg_06.png") repeat-x #FF0000; width: 100%; height: 650px;
}
#separator {
	height: 40px;
}
#taste_content {
	margin: auto; width: 975px; padding-top: 40px; padding-left: 20px; text-align: right;
}
#taste_contentText {
	width: 50%; color: rgb(255, 255, 255); line-height: 19px; font-size: 14px; margin-top: 20px; margin-bottom: 20px;
}
#hapsWrap {
	background: url("../../images/hapsbg_13.png"); width: 100%; height: 503px;
}
#hapsContent {
	margin: auto; width: 980px; padding-top: 40px;
}
#flickrWrap {
	width: 415px; height: 296px; margin-top: 40px; float: left;
}
#flickrTag {
	background: url("../../images/flickr_22.png"); width: 76px; height: 295px; float: left;
}
#flickrPhoto {
	background: url("../../images/flickr_23.png"); width: 338px; height: 295px; text-align: center; float: left;
}
#flickrPhoto img {
	width: 300px; height: 220px; margin-top: 40px; margin-left: -3px;
}
#twitterWrap {
	background: url("../../images/twitterbg_26.png"); width: 433px; height: 295px; margin-top: 40px; margin-left: 80px; float: left;
}
#twitterWrap ul {
	width: 260px; height: 80px; margin-top: 40px; margin-left: 160px;
}
#twitterWrap ul li {
	list-style: none;
}
#twitter_update_list span {
	
}
.method_header {
	font-family: Arial, Helvetica, sans-serif; font-size: 36px; margin-bottom: 20px; display: block;
}
.method_roi {
	text-transform: uppercase; font-size: 16px; font-variant: normal; font-weight: bold;
}
.service_header {
	color: rgb(255, 255, 255); font-size: 40px; font-weight: normal; margin-bottom: 25px; display: block;
}
.whatwedo_header {
	color: rgb(0, 124, 183); font-size: 24px; font-weight: normal;
}
#big-page-header {
	margin: auto; padding: 40px 60px 20px; width: 1000px;
}
#big-page-header p {
	color: rgb(2, 133, 189); font-size: 80px; font-weight: bold; display: block;
}
#taste-header {
	color: rgb(255, 255, 255); font-size: 36px;
}
.related-header {
	
}
#additional-resources li {
	color: rgb(255, 255, 255); font-size: small; margin-bottom: 7px;
}
#additional-resources a {
	color: rgb(255, 255, 255);
}
#whatwedo_individualContent a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
#additional-resources a:hover {
	text-decoration: underline;
}
#related-material li {
	color: rgb(255, 255, 255); font-size: small; margin-bottom: 7px;
}
.analytics {
	font-style: italic;
}
.clear {
	clear: both;
}
