@media print {
  /*Reset Style*/
  body {
    overflow: visible;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    word-spacing: 1px;
    letter-spacing: 0.2px;
    font: 13px Arial, Helvetica, "Lucida Grande", serif;
    color: #000;
  }
  body a:link,
  body a:visited {
    background: transparent;
    color: #333;
    text-decoration: none;
  }
  body a:link[href^="http://"]:after,
  body a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
  }
  body a[href^="http://"] {
    color: #000;
  }
  /* USER ASSISTANCE */
  .user-assistance {
    overflow: visible;
  }
  .user-assistance header {
    display: none;
  }
  .user-assistance > nav {
    box-shadow: none;
    border: none;
  }
  .user-assistance > nav .pull-right {
    display: none;
  }
  .user-assistance .app {
    display: block;
    overflow: visible;
    border-bottom: 5px solid black;
  }
}
