/* Common.less
// -----------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	padding-top: @navbarHeight;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;// Smooth the text
	min-width: 320px;
}
a, a.btn, button.btn {
	&:hover {
		transition: .5s;
	}
}

.colonnade {
	overflow: auto;
	.lt-column,
	.rt-column {
		float: left;
		width: 50%;
	}
}

// HEADERS
// -----------------------------------------------------

h1 {
	font-size: 150%;
}
h2 {
	font-size: 140%;
}
h3 {
	font-size: 130%;
}
h4 {
	font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

// Headers with butcon/button
h1 button,
h2 button,
h2 a,
h3 button,
h4 button,
h5 button,
h6 button {
	background: none;
	border: none;
	color: @blueDarkest; 
	float:right;
	font-size: 145%;
	height: 34px;
	text-align: center;
	width: 40px;
	&:hover {
		background-color: @blue;
		color: @navbarBG;
		outline: 1px solid @blueDark;
	}
}

// TOOLTIP
.tooltip {
	font-weight: bold;
	line-height: 17px;
	text-shadow: none;
}