// Vendavo Variables.less
// -----------------------------------------------------

// VENDAVO STYLE GUIDE : GLOBAL VALUES
// --------------------------------------------------
@viewportWidth:		1279px;
@viewportLandscape:      1024px;
@viewportPortrait:       768px;
@viewportSmall:          767px;
@minWidthContent:		700px;
@maxWidthContent:		1440px;

//Layout
@ltPanelWidth:	250px;

// Page Background
@pageBG:				#16323F;
@pageBGHighlight:		#2D5263;
@pageMargin:			20px;

// Links
@linkColor:             @textColor;
@linkColorHover:        @brightBlue;
@navTabs: 			#9eb4c2;

// Actions Icons
@actionIconColor:       @blueDark;
@actionIconColorHover:  darken(@actionIconColor, 15%);

// Basics
@black:                 #000;
@white:                 #fff;

// Hover colors
@lavender: #e2eef6;
@aliceBlue: #c9d1e5;

// Grays
@gray:                  #999;
@grayLight:             lighten(@gray, 5%);
@grayLighter:           lighten(@gray, 15%);
@grayLightest:          lighten(@gray, 25%);
@grayDark:              darken(@gray, 20%);
@grayDarker:            darken(@gray, 30%);
@grayDarkest:           darken(@gray, 40%);
@uploadGray:			#eee;

// Glass
@glass: 			    #D2E0F1;
@glassLight:            #E1EAF5;
@glassLighter:          #F6FAFF;
@glassLightest:         #FBFDFF;
@glassDark:             darken(@glass, 5%);
@glassDarker:           darken(@glass, 10%);
@glassDarkest:          darken(@glass, 15%);


// Blues
@blue:                  #D2E0F1;
@blueLight:             lighten(@blue, 2%);
@blueLighter:           lighten(@blue, 4%);
@blueLightest:          lighten(@blue, 6%);
@blueDark:              darken(@blue, 5%);
@blueDarker:            darken(@blue, 15%);
@blueDarkest:           darken(@blue, 30%);
@brightBlue: 		    #4A90E2;

@navbarBG: 			#1D4950;

@mint: 			     #E2F0EA;
@mintText: 			darken(@mint, 20%);
@mintDarkText: 		darken(@mint, 65%);
@mintLightAccent: 		lighten(@mint, 3%);
@mintDarkAccent: 		darken(@mint, 4%);

@mintLight: 			lighten(@mint, 3%);
@mintLighter: 			lighten(@mint, 5%);
@mintLightest: 		lighten(@mint, 7%);
@mintDark: 			#CDE6DB;
@mintDarker: 			#BFDFD2;
@mintDarkest: 			#4E9D7B;


@yellow:                #EFB73E;
@orange:                #F5A623;
@pink:                  #c3325f;
@purple:                #772953;


// Greens
@green:                  #7ED321;
@greenLight: 			lighten(@green, 5%);
@greenLighter: 		lighten(@green, 10%);
@greenLightest: 		lighten(@green, 15%);
@greenDark: 			darken(@green, 5%);
@greenDarker: 			darken(@green, 10%);
@greenDarkest: 		darken(@green, 15%);


// Oranges
@orangeLight: 			lighten(@orange, 5%);
@orangeLighter: 		lighten(@orange, 10%);
@orangeLightest: 		lighten(@orange, 15%);
@orangeDark: 			darken(@orange, 5%);
@orangeDarker: 		darken(@orange, 10%);
@orangeDarkest: 		darken(@orange, 15%);


// Reds
@red:                    #E50015;
@redLight:			lighten(@red, 30%);
@redLighter:			lighten(@red, 40%);
@redLightest:			lighten(@red, 53%);
@redDark:				darken(@red, 10%);
@redDarker:			darken(@red, 20%);
@redDarkest:			darken(@red, 30%);


// Alerts
@infoText:               #0B72B5;
@infoBackground:         lighten(@infoText, 45%);
@infoBorder:             lighten(@infoText, 45%);

@warningText:            @orange;
@warningBackground:      lighten(@warningText, 45%);
@warningBorder:          lighten(@warningText, 45%);

@errorText:              #BA2B37;
@errorBackground:        lighten(@errorText, 45%);
@errorBorder:            lighten(@errorText, 45%);

@successText:            #75AE42;
@successBackground:      lighten(@successText, 45%);
@successBorder:          lighten(@successText, 45%);


// Tables
// -------------------------
@tableBackground:       transparent; // overall background-color
@tableBackgroundAccent: @blueLightest; // for striping
@tableBackgroundHover:  #f5f5f5; // for hover
@tableBorder:           #ddd; // table and cell border

// Slats
// -------------------------
@slatBlue:		lighten(@aliceBlue, 10%);


// Typography
@baseFontSize:          13px;
@baseFontFamily:        'Helvetica Neue', Helvetica, Arial, sans-serif;
@baseLineHeight:        28px;
@textColor:             @grayDarkest;

// Buttons
@primaryButtonBackground:  @linkColor;

// Borders
@borderColor:       	#E6EAED;
@radius:				5px;

// Tables
@tableHeaderBG:       #F3F5F6;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid assetsizing these :)
@zindexDropdown:        1000;
@zindexPopover:         1010;
@zindexTooltip:         1020;
@zindexFixedNavbar:     1030;
@zindexModalBackdrop:   1040;
@zindexModal:           1050;
@zindexModeless:        1060;

// Sprite icons path
@iconSpritePath: "../bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../bootstrap/img/glyphicons-halflings-white.png";


// Navbar
@navbarHeight:                    45px;
@navbarBackground:                #1a3643;
@navbarBackgroundHighlight:       #346172;
@navbarLinkBackgroundHover:       transparent;

@navbarBtnBG:		transparent;
@navbarHvr:         saturate(@blueDark, 40%);
@navbarIcon:        saturate(@blueDark, 40%);


// NOTE & TODO: BELOW IS THE OLD BS2 VENDAVO VARIABLES, we need to get these synced with the above BS3 version

// Accent colors
@blueAccent:            #98B3CD;
@blueHighlight:	    #b6cedc;
@blueSelectState: 	    #7ea3b8;
@blueSelectStateHvr:    #8eb6cb;
@navHighlight:		    lighten(@blueHighlight,5%);
@blueHover:		    @aliceBlue;
@navyBlue:              #2D4F62;


// Forms
// -------------------------

@inputBorder:                   @mintDark;
@inputBorderRadius:             4px;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;

// Border Colors

@blueLightBorder:       @blue;
@btnDefaultBorder: 1px solid #ccc;

// Pagination
@paginationRadiusSmall: 5px;
@paginationPagerOffset: 3px;


