/* BEGIN: vsn-pricelookup.less
// -----------------------------------------------------*/

// VSN-B
// -----------------------------------------------------
.vsnb {
	/* PRICE LOOKUP PAGE
	///////////////*/
	&.price-lookup {
		.drill-list {
			.lt-column {
				// Price lookup search results
				.search-price-lookup {
			        background: lighten(@mint, 6%);
			        border-bottom: 1px solid #e9e9e9;
					+ section {
						background: @white;
						overflow: auto;
					}
				}
				dl {
					&.price-search-results {
						dd {
							> a {
								padding: 15px @pageMargin 10px @pageMargin;
								h1 {
									font-size: 125%;
									margin: 3px 0;
									width: 100%;
									span {
										&:last-child {
											color: @mintDarkest;
											float: right;
											font-weight: normal;
											font-size: 90%;
										}
									}
								}
								p {
									margin: 0;
									span {
										&:last-child {
											color: @gray;
											float: right;
											font-weight: normal;
										}
									}
								}
							}
						}
					}
				}
			}
			.rt-column {
				// Details Pane for price lookup
				&.details-pane {
					.infobox {
						width: 80%;
						display: inline-block;						
						a:hover {
							color: @black;
							border: none;
						}
						p + p {
							margin-bottom: 0;
						}
					}
					.scorebox {
						width: 19%;
						display: inline-block;
						text-align: right;
						.scoring();
						strong {
							display: block;
							padding-right: 20px;
							font-size: 125%;
						}
				        span {
				          &.score {
				            display: inline-block;
				            margin: 3px;
				            &:first-child {
				              margin-left: -10px;
				            }
				          }
				        }
					}
 					h2 {
						border-bottom: 1px solid @borderColor;
						margin-top: 30px;
						padding-bottom: 5px;
						font-size: 110%;
						span {
							color: @gray;
							font-weight: normal;
							font-size: 90%;
						}
 					}
 					p {
 						strong {
 							&.good {
 								color: @greenDark;
 							}
 							&.warning {
 								color: @orangeDarker;
 							}
 							&.bad {
 								color: @redDark;
 							}
 						}
 					}
 					dl {
 						overflow: hidden;
 						&.colonnade {
							dt, dd {
								float: left;
								width: 50%;
								line-height: 24px;
							}
							dt {
								font-weight: normal;
								.stat-dots();
							}
							dd {
		 						text-align: right;
		 					}
 						}
 					}
 					.table {
 						&.periods {
 							tbody {
	 							tr {
	 								td {
	 									border: none;
			 							&:first-of-type {
			 								padding-left: 0;
			 							}
	 									&:last-child {
	 										text-align: right;
	 										padding-right: 0;
	 									}
	 								}
		 							&.actual {
		 								h1, p {
		 									font-weight: bold;
		 								}
		 							}
	 							}
	 						}
 						}
 					}
 					dl {
 						&.price-info {
 							margin: @pageMargin 0 0 0;
	 						dd {
	 							span {
									padding: 3px 7px;
	 							}
 								&.good {
		 							span {
	 									background: @greenDark;
	 									color: @white;
		 							}
 								}
 								&.warning {
		 							span {
	 									background: @orangeDark;
	 									color: @white;
		 							}
 								}
 								&.bad {
		 							span {
	 									background: @red;
	 									color: @white;
		 							}
 								}
 								&.price-score {
 									span {
 										padding: 5px 10px;
 										font-size: 110%;
 									}
 								}
	 						}
 						}
 						&.deals-archive {
 							dd {
 								span {
 									position: relative;
 									display: inline-block;
									float: left;
 									padding: 8px 0;
 									&:first-child {
										width: 23.3%;
 									}
 									&:nth-child(2) {
										width: 60.3%;
 									}
 									&:last-child {
										width: 16.3%;
										padding-right: 30px;
										text-align: right;
			 							.butcon {
			 								font-size: 85%;
			 								position: absolute;
			 								top: 4px;
			 								right: 0;
			 								i {
			 									color: @gray;
			 								}
			 							}
			 							dd:hover:after {
			 								color: @brightBlue;
			 							}
 									}
 								}
 							}
 						}
 					}
 				}
			}
		}
		aside {
			&.contextual-pane {
				article {
					.competitive-chart {
						margin: 30px 0;
					}
				}
			}
		}
	}
}

/* END: vsn-pricelookup.less
// -----------------------------------------------------*/