// Variables
// ================================================== //

// Colors
// -------------------------------------------------- //

$black: #000;
$white: #fff;
$blue: #0080FF;
$blueBright: #37f;
$red: #900;

$gray: #ccc;
$grayLight: lighten($gray, 5%);
$grayLighter: lighten($gray, 10%);
$grayLightest: lighten($gray, 15%);
$grayDark: darken($gray, 15%);
$grayDarker: darken($gray, 30%);
$grayDarkest: darken($gray, 45%);

// Blues
$blue:                  #043F90;
$blueLight:             lighten($blue, 20%);
$blueLighter:           lighten($blue, 40%);
$blueLightest:          lighten($blue, 60%);
$blueDark:              darken($blue, 2%);
$blueDarker:            darken($blue, 4%);
$blueDarkest:           darken($blue, 8%);

// Accent colors
$blueAccent:            #98B3CD;
$blueHighlight:		#7EA3B8;
$navHighlight:			lighten($blueHighlight,25%);
$blueHover:			#ECF2F7;
$navyBlue:          	darken($blue, 60%);

// Error colors
$red:                   #ba2b36;
$redLight:			lighten($red, 30%);
$redLighter:			lighten($red, 40%);
$redLightest:			lighten($red, 50%);

$green:                 #74ae42;
$greenLight:            lighten($green, 5%);
$greenLighter:          lighten($green, 10%);
$greenLightest:         lighten($green, 15%);
$greenDark:             darken($green, 5%);
$greenDarker:           darken($green, 15%);
$greenDarkest:          darken($green, 30%);

$yellow:                #EFB73E;
$orange:                #f96;
$schoolbusYellow:		    #FEC200;
$darkOrange:            darken(#f96, 40%);
$pink:                  #c3325f;
$purple:                #986FB1;

$bodyBackground:        #f9f9f9;

// Typography
// -------------------------------------------------- //

$sans-serif : 		    "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif      : 		    "Helvetica Neue", Helvetica, Arial, sans-serif;
$textColor:             $grayDarkest;
$baseFontSize:          13px;
$baseFontFamily:        $sans-serif;
$baseLineHeight:        20px;
$altFontFamily:         $sans-serif;
$spanSize:		    12px;


// Margins & Padding
// -------------------------------------------------- //

$pageMargin: 1.6em;



