@charset "UTF-8";
/* BEGIN: theme.scss
// -----------------------------------------------------*/
/* BEGIN: variables.scss - for theme.scss
// -----------------------------------------------------*/
/* BEGIN: Include Mixins
// -----------------------------------------------------*/
/* BEGIN: mixin border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: box-shadow.scss
// -----------------------------------------------------*/
/* BEGIN: flex-box.scss
// -----------------------------------------------------*/
/* BEGIN: transition.scss
// -----------------------------------------------------*/
/* BEGIN: gradient.scss
// -----------------------------------------------------*/
/* COMMON REUSABLE MIXINS
// -----------------------------------------------------*/
/* BEGIN: layout.scss
// -----------------------------------------------------*/
main {
  /* This div is stretched height 100% by setting html, 
  body to 100% in the code above and then setting min-height here so if the content is longer it browser scrolls
  correctly and if it is shorter it won't shrink to fit content */
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  border: 1px solid transparent; }
  main section {
    margin-top: 0; }
    main section article .colonnade {
      overflow: hidden; }
      main section article .colonnade .lt-column, main section article .colonnade .mid-column, main section article .colonnade .rt-column {
        padding-left: 10px; }
        main section article .colonnade .lt-column h2, main section article .colonnade .mid-column h2, main section article .colonnade .rt-column h2 {
          margin: 1em 0; }
        main section article .colonnade .lt-column:first-child, main section article .colonnade .mid-column:first-child, main section article .colonnade .rt-column:first-child {
          padding-left: 0; }
      main section article .colonnade.cards {
        font-family: 'Inconsolata';
        padding: 1.6em 5px; }
        main section article .colonnade.cards .lt-column, main section article .colonnade.cards .mid-column, main section article .colonnade.cards .rt-column {
          background: #f3f3f3;
          border: 1px solid #fff;
          box-shadow: 0 0 15px #d9d9d9;
          outline: 1px solid #d9d9d9;
          overflow: auto;
          padding: 1.6em 30px;
          position: relative; }
          main section article .colonnade.cards .lt-column h1, main section article .colonnade.cards .mid-column h1, main section article .colonnade.cards .rt-column h1 {
            font-family: "GothamProLight";
            margin-top: 10px; }
        main section article .colonnade.cards .lt-column {
          right: -5px;
          top: 1.6em; }
        main section article .colonnade.cards .mid-column {
          z-index: 2; }
        main section article .colonnade.cards .rt-column {
          left: -5px;
          top: 1.6em; }
    main section article.callout {
      background-color: #f6f6f6;
      color: gray;
      font-family: Helvetica;
      margin: 0 0 2em 0;
      outline: 1px solid #e9e9e9;
      padding: 1em; }
      main section article.callout h1 {
        margin-bottom: 1em; }
      main section article.callout dl {
        clear: both;
        display: block;
        margin-bottom: 1.6em;
        overflow: hidden; }
        main section article.callout dl dt {
          margin: .5em auto; }
        main section article.callout dl dd {
          display: inline-block;
          margin: .25em .25em .25em 0; }
          main section article.callout dl dd.graphic {
            float: left;
            margin: 0 15px 0 0;
            width: auto; }
            main section article.callout dl dd.graphic img {
              border: 3px solid #fff;
              border-radius: 100%; }
        main section article.callout dl:last-child {
          margin-bottom: 0; }

/* BEGIN: typography.scss
// -----------------------------------------------------*/
/* HEADER TITLES
// -----------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "GothamPro";
  margin-top: 1.6em;
  letter-spacing: .07rem; }
  h1.w-edit, h2.w-edit, h3.w-edit, h4.w-edit, h5.w-edit, h6.w-edit {
    position: relative; }
    h1.w-edit .btn-icon, h2.w-edit .btn-icon, h3.w-edit .btn-icon, h4.w-edit .btn-icon, h5.w-edit .btn-icon, h6.w-edit .btn-icon {
      position: absolute;
      right: 0;
      top: 0; }

h1 {
  font-size: 22px;
  font-weight: 400; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px;
  padding-bottom: 3px;
  border-bottom: 1px solid #666666; }

h5, h6 {
  text-transform: uppercase; }

/* TYPOGRAPHY 
// -----------------------------------------------------*/
.text-muted {
  color: #ccc; }

/* BEGIN: animation.scss - Custom Animation
// -----------------------------------------------------*/
.animate25s {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate5s {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* Dropdown Menu - Open */
@-webkit-keyframes menuOpen {
  0% {
    opacity: 0;
    height: 0; }
  100% {
    opacity: 1;
    height: auto; } }

@keyframes menuOpen {
  0% {
    opacity: 0;
    height: 0; }
  100% {
    opacity: 1;
    height: auto; } }

.menuOpen {
  -webkit-animation-name: menuOpen;
  animation-name: menuOpen; }

/* Dropdown Menu - Close */
@-webkit-keyframes menuClose {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes menuClose {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.menuClose {
  -webkit-animation-name: menuClose;
  animation-name: menuClose; }

/* BEGIN: common.scss (global app styles)
// -----------------------------------------------------*/
* {
  box-sizing: border-box; }

/* Highlight Text Color */
::selection {
  color: #fff;
  background: #f96;
  /* Safari */ }

::-moz-selection {
  color: #fff;
  background: #f96;
  /* Firefox */ }

/* Global ************* */
html, body {
  height: 100%; }

body {
  border-top: 2px solid #FEC200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-text-size-adjust: 100%;
  color: #444;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0; }

p {
  margin: 0 0 1.25em 0;
  line-height: 1.5em; }

a {
  color: #032e68;
  text-decoration: none; }
  a:hover {
    color: #986FB1;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 175%; }

h3 {
  font-size: 150%; }

h4 {
  font-size: 125%; }

h5 {
  font-size: 100%; }

h6 {
  font-size: 85%; }

section article h1 {
  font-size: 150%;
  margin-bottom: .75em; }

section article h2 {
  font-size: 125%; }

/* Buttons ************* */
.button {
  font-size: .95em;
  color: #043F90;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  margin: auto 3px auto 0;
  outline-style: none;
  padding: 7px 0 16px 15px;
  white-space: nowrap;
  background: url(../img/btns/btn_left.png) no-repeat left center; }
  .button span {
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 7px 15px 16px 0;
    background: url(../img/btns/btn_right.png) no-repeat right center; }
  .button em {
    background-position: left center;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: normal;
    margin-right: 0;
    padding: 3px 6px; }
  .button:hover {
    text-decoration: none;
    background: url(../img/btns/btn_left_hvr.png) no-repeat left center; }
    .button:hover span {
      background: url(../img/btns/btn_right_hvr.png) no-repeat right center; }

.colonnade .lt-column {
  float: left;
  width: 30.3%; }

.colonnade .mid-column {
  float: left;
  width: 39.3%; }

.colonnade .rt-column {
  float: left;
  width: 30.3%; }

/* BEGIN: forms.scss
// -----------------------------------------------------*/
/* BEGIN: nav.scss
// -----------------------------------------------------*/
header {
  position: relative;
  margin: 2em 15% 0 15%; }
  header + section {
    margin: 2em 15% 0 15%; }
  header hgroup h1,
  header hgroup h2 {
    margin-bottom: .15em; }
  header hgroup h1 a {
    color: #595959; }
  header hgroup h2 {
    font-size: 135%;
    color: #f96; }
    header hgroup h2 + p {
      margin-bottom: 2em; }
  header nav {
    color: #ccc; }
    header nav > ul {
      list-style: none; }
      header nav > ul li {
        display: inline-block; }
        header nav > ul li a {
          display: inline-block;
          padding: 5px 15px;
          text-shadow: 0 1px #fff; }
          header nav > ul li a.active {
            color: #986FB1;
            font-weight: bold; }
        header nav > ul li:after {
          content: "•"; }
        header nav > ul li:last-child:after {
          content: ""; }

/* BEGIN: buttons.scss
// -----------------------------------------------------*/
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .btn .fa {
    margin-right: 5px;
    min-width: 12px; }
  .btn.btn-link, .btn.btn-icon {
    /* Undo Margin for icon only buttons */ }
    .btn.btn-link .fa, .btn.btn-icon .fa {
      margin-right: 0; }
  .btn.btn-link {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    color: #443322;
    text-decoration: none; }
    .btn.btn-link .fa {
      margin-right: 5px;
      min-width: 12px; }
    .btn.btn-link:focus, .btn.btn-link:hover {
      background: #f2f2f2;
      color: #595959; }
  .btn:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-position: 0 -15px;
    text-decoration: none;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-box-shadow: 0 1px 1px rgba(150, 150, 150, 0.7);
    box-shadow: 0 1px 1px rgba(150, 150, 150, 0.7); }
  .btn.disabled, .btn.btn[disabled], .btn[disabled] {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #a6a6a6;
    cursor: default;
    filter: alpha(opacity=7);
    font-weight: normal;
    letter-spacing: 0;
    opacity: 0.7;
    text-shadow: none; }
  .btn.btn-default {
    color: #443322;
    background: #EEE;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #EEE 75%, #E6E6E6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #EEE), color-stop(100%, #E6E6E6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #EEE 75%, #E6E6E6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #EEE 75%, #E6E6E6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #EEE 75%, #E6E6E6 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #EEE 75%, #E6E6E6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
    /* IE6-8 */
    border-color: #d5d5d5; }
    .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:active {
      background-color: #e1e1e1;
      border-color: #c8c8c8; }
  .btn.btn-primary {
    background: #0E96BB;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #0E96BB 75%, #0d8bad 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #0E96BB), color-stop(100%, #0d8bad));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0E96BB 75%, #0d8bad 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0E96BB 75%, #0d8bad 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0E96BB 75%, #0d8bad 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0E96BB 75%, #0d8bad 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
    /* IE6-8 */
    border-color: #068;
    font-weight: bold;
    text-shadow: 0 0 1px #095d74; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.active {
      background: #0387AB;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
      background: -moz-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #0387AB), color-stop(100%, #0387AB));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #0387AB 75%, #0387AB 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
      /* IE6-8 */
      text-shadow: none;
      border-color: #0e9ac0; }
    .btn.btn-primary.disabled, .btn.btn-primary.btn[disabled], .btn.btn-primary[disabled] {
      color: rgba(255, 255, 255, 0.5);
      background: #0387AB;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
      background: -moz-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #0387AB), color-stop(100%, #0387AB));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #0387AB 75%, #0387AB 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #0387AB 75%, #0387AB 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
      /* IE6-8 */ }
  .btn.btn-info {
    background-color: #443322;
    border-color: #110d09; }
    .btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info.active {
      background-color: #221a11;
      border-color: black; }
    .btn.btn-info.disabled, .btn.btn-info.btn[disabled], .btn.btn-info[disabled] {
      color: #f2f2f2; }
  .btn.btn-primary, .btn.btn-warning, .btn.btn-danger {
    color: #fff; }
  .btn.btn-primary:hover, .btn.btn-warning:hover, .btn.btn-danger:hover {
    color: rgba(255, 255, 255, 0.8); }
  .btn.btn-icon .fa {
    margin-right: 0; }
  .btn.btn-icon-right .fa {
    margin-left: 5px;
    margin-right: 0; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0; }

.input-group > .input-group-btn .btn {
  height: 34px;
  outline: 0; }

/* END: Buttons.scss
// ----------------------------------------------------*/
/* BEGIN: footer.scss
// -----------------------------------------------------*/
footer {
  background: #f9f9f9; }
  footer ul {
    text-align: center;
    margin: 0; }
    footer ul li {
      color: #a6a6a6;
      display: inline-block;
      font-size: 85%;
      list-style: none;
      padding: 5px 3px; }
      footer ul li a {
        margin: 0;
        color: #a6a6a6;
        display: inline-block;
        text-decoration: none; }
        footer ul li a:hover {
          text-decoration: none; }

/* BEGIN: responsive.scss
// -----------------------------------------------------*/
/* NOTE: The order these appear is important. Tablet then Phone in that order in order to trigger. Desktop is default styles */
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation: portrait) {
  /* Begin Navigation */
  header nav {
    position: absolute;
    top: .5em;
    right: 0;
    text-align: right; }
  /* Begin Layout */
  main section article .colonnade.cards .lt-column {
    min-height: 350px; }
  main section article .colonnade.cards .mid-column {
    min-height: 400px; }
  main section article .colonnade.cards .rt-column {
    min-height: 350px; }
  footer {
    position: absolute;
    z-index: 1050;
    bottom: 0;
    display: block;
    width: 100%; } }

/* Tablet and Phone - <768px */
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation: portrait) {
  /* Begin Navigation */
  header nav {
    margin: 1em  0; }
    header nav a {
      margin: 0;
      width: 30.3%; }
      header nav a:first-child {
        padding-left: 0; }
      header nav a:nth-child(2) {
        text-align: center; }
      header nav a:last-child {
        text-align: right; }
  /* Begin Layout */
  main section article .colonnade.cards .lt-column {
    min-height: 450px; }
  main section article .colonnade.cards .mid-column {
    min-height: 500px; }
  main section article .colonnade.cards .rt-column {
    min-height: 450px; }
  main section article .colonnade.cards .lt-column, main section article .colonnade.cards .mid-column, main section article .colonnade.cards .rt-column {
    position: inherit;
    float: none;
    width: 100%;
    min-height: 100px;
    top: auto;
    left: auto; } }

@media only screen and (max-width: 480px) {
  /* Begin Navigation */
  header hgroup h2 + p {
    margin-bottom: 0; }
  /* Begin Layout */ }
