<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "money-input", "pageCategory": "components"})

<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleMoneyInput</h1>
<p>Money Input is used to display the monetary values on the interface. There are three states of Money Input:</p>

<!-- Page Nav
================================================== -->
<div class="sg-page-nav">
  <div>
    <h6>Go To:</h6>
    <ul>
      <li><a href="#presentation-state">Presentation State</a></li>
      <li><a href="#readonly-state">Read Only State</a></li>
      <li><a href="#editable-state">Editable State</a></li>
    </ul>
  </div>
  <div>
    <a href="https://confluence.vendavo.com/x/6BA_AQ" target="_blank" class="btn btn-primary">View Guidelines</a>

  </div>
</div>

<!-- Page Content
================================================== -->
<h2>Examples</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="presentation-state">Presentation State</h3>
  </div>
  <div class="panel-body">
	<p>
		<span class="money">&dollar;</span><span>968,431.65</span>
	</p>
	<p>
		<span>968,431.65</span>&nbsp;<span class="money">HKD</span>
	</p>
<h4>Code Snippet</h4>
<div class="highlight">
<pre>
<code class="html">
<span class="money">&dollar;</span><span>968,431.65</span>
<span>968,431.65</span>&nbsp;<span class="money">HKD</span>

</code>
</pre>
</div><!--/.highlight-->
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="readonly-state">Read Only State</h3>
  </div>
  <div class="panel-body">
	<p>Add the <code>readonly</code> boolean attribute on an input to prevent user input and style the input as disabled.</p>
	<form>
		<p>
			<input class="form-control" type="text" value="$968,431.65" readonly>
		</p>
		<p>
			<input class="form-control" type="text" value="968,431.65 HKD" readonly>
		</p>
	</form>
<h4>Code Snippet</h4>
<div class="highlight">
<pre>
<code class="html">
<input class="form-control" type="text" placeholder="$968,431.65" readonly>
<input class="form-control" type="text" value="968,431.65 HKD" readonly>

</code>
</pre>
</div><!--/.highlight-->
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="editable-state">Editable State</h3>
  </div>
  <div class="panel-body">
  	<p>If we are not using the <code>type="number"</code> HTML5 attribute, then we should use the <code>inputmode</code> attribute which gives the browser a hint for which keyboard to display. 
  		A HTML5 number field does not support characters such as commas which is required in this design.</p>
	<form>
		<p class="dual-field">
			<input type="text" inputmode="numeric" value="968,431.65" class="form-control" placeholder="0,000.00">
			<select class="form-control" name="uom">
				<option value="HKD">HKD</option>
				<option value="CAD">CAD</option>
				<option value="EUR">EUR</option>
			</select>
		</p>
	</form>
<h4>Code Snippet</h4>
<div class="highlight">
<pre>
<code class="html">
<p class="dual-field">
	<input type="text" inputmode="numeric" value="968,431.65" class="form-control">
	<select class="form-control" name="uom">
		<option value="HKD">HKD</option>
		<option value="CAD">CAD</option>
		<option value="EUR">EUR</option>
	</select>
</p>

</code>
</pre>
</div><!--/.highlight-->
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="pezzi">Pezzi Component</h3>
  </div>
  <div class="panel-body">
    <h4>Component input parameters</h4>
     <table class="table table-bordered table-striped">
        <tr>
          <th>Parameter</th>
          <th>Values</th>
          <th>Default</th>
          <th>Functionality</th>
        </tr>
        <tr>
          <td>container</td>
          <td>String</td>
          <td>N/A</td>
          <td>jQuery selector where component will be rendered</td>
        </tr>
        <tr>
          <td>state</td>
          <td>Vendavo.componentModes.FORM_WRITE , Vendavo.componentModes.FORM_READ, Vendavo.componentModes.PRESENTATION</td>
          <td>N/A</td>
          <td>It refers how a component is rendered, see above state section</td>
        </tr>
        <tr>
          <td>value</td>
          <td>Number</td>
          <td>N/A</td>
          <td>Actual value displayed in component</td>
        </tr>
        <tr>
          <td>negative</td>
          <td>Boolean</td>
          <td>false</td>
          <td>Enable/Disable negative sign</td>
        </tr>
        <tr>
          <td>precision</td>
          <td>Integer</td>
          <td>2</td>
          <td>Precision for formating of number</td>
        </tr>
        <tr>
          <td>delimiter</td>
          <td>',' '.'</td>
          <td>'.'</td>
          <td>Delimter which should be used during input</td>
        </tr>
        <tr>
          <td>formMode</td>
          <td>mixin</td>
          <td>
          </td>
          <td>Used for keeping information for state FORM_WRITE</td>
        </tr>
        <tr>
          <td>formMode.items</td>
          <td>Array of Objects</td>
          <td></td>
          <td>[{key: 'USD', label: 'Dollars'}, ...] these items will be displayed in selector</td>
        </tr>
        <tr>
          <td>formMode.default</td>
          <td>String</td>
          <td></td>
          <td>If value mach with any key in formMode.items then that record is pre-selected. Otherwise the first item is selected.</td>
        </tr>
        <tr>
          <td>money</td>
          <td>String</td>
          <td></td>
          <td>Used in FORM_READ/PRESENTATION. Contains money ISO code.</td>
        </tr>
        <tr>
          <td>onMeasureChange</td>
          <td>function</td>
          <td></td>
          <td>Callback on measure change event</td>
        </tr>
        <tr>
          <td>onValueChange</td>
          <td>function</td>
          <td></td>
          <td>Callback for value change event</td>
        </tr>
        <tr>
          <td>locales</td>
          <td>Array</td>
          <td>[en-US]</td>
          <td>Locales used for formatting of numbers</td>
        </tr>
     </table>

     <br />
     <h4>Playground With Examples</h4>
     <iframe width="100%" height="500" src="//jsfiddle.net/rudovsky/ko92uqe9/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

  </div>
</div>

<!-- END: Template Content
================================================== -->


<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')