#content {
	width: 600px;
}

table {
	width: 100%;
	border-top: 1px solid #ccc;
}

th {
	width: 75 px;
}


thead th {
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

td {
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #e0e0e0;
	padding: 3px;
	width: 100px;
}

td.component {
	vertical-align: middle;
}

tbody th {
	border-bottom: 1px solid #ccc;
}

li.spacer {
	margin-bottom: 10px;
}

ul.spacer {
	margin-bottom: 20px;
}

p.categories {
	font-weight: bold
}