@keyframes slideRight {
	0%   { left:-1100px; transform:rotate(-45deg);}
	50%  { left:-800px; transform:rotate(-40deg);}
	50%  { left: 0; transform:rotate(0deg);}
	75%  { left:-25px; transform:rotate(0deg);}
	100%  { left:0; transform:rotate(0deg); }
}
@-moz-keyframes slideRight { /* Firefox */
	0%   { left:-1100px; -moz-transform:rotate(-45deg); }
	50%  { left:-800px; -moz-transform:rotate(-40deg); }
	50%  { left: 0; -moz-transform:rotate(0deg); }
	75%  { left:-25px; -moz-transform:rotate(0deg); }
	100%  { left:0; -moz-transform:rotate(0deg); }
}
@-webkit-keyframes slideRight { /* Safari and Chrome */
	0%   { left:-1100px; -webkit-transform:rotate(-45deg);}
	50%  { left:-800px; -webkit-transform:rotate(-40deg);}
	50%  { left: 0; -webkit-transform:rotate(0deg);}
	75%  { left:-25px; -webkit-transform:rotate(0deg);}
	100%  { left:0; -webkit-transform:rotate(0deg); }
}

#hmpg .slideRight {
	position:relative;
	
	animation-name: slideRight;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-transition: all 1s cubic-bezier(.10, .10, .25, .90); 

	 /* Safari and Chrome */
	-webkit-animation-name: slideRight;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90); 
	
	 /* Firefox */	
	-moz-animation-name: slideRight;
	-moz-animation-duration: 2s;	
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-transition: all 1s cubic-bezier(.10, .10, .25, .90); 
		
}


@keyframes slideLeft {
	0%   { right:-1100px; transform:rotate(-45deg);}
	50%  { right:-800px; transform:rotate(-40deg);}
	50%  { right: 0; transform:rotate(0deg);}
	75%  { right:-25px; transform:rotate(0deg);}
	100%  { right:0; transform:rotate(0deg); }
}
@-moz-keyframes slideLeft { /* Firefox */
	0%   { right:-1100px; -moz-transform:rotate(-45deg); }
	50%  { right:-800px; -moz-transform:rotate(-40deg); }
	50%  { right: 0; -moz-transform:rotate(0deg); }
	75%  { right:-25px; -moz-transform:rotate(0deg); }
	100%  { right:0; -moz-transform:rotate(0deg); }
}
@-webkit-keyframes slideLeft { /* Safari and Chrome */
	0%   { right:-1100px; -webkit-transform:rotate(-45deg);}
	50%  { right:-800px; -webkit-transform:rotate(-40deg);}
	50%  { right: 0; -webkit-transform:rotate(0deg);}
	75%  { right:-25px; -webkit-transform:rotate(0deg);}
	100%  { right:0; -webkit-transform:rotate(0deg); }
}

#hmpg .slideLeft {
	position:relative;
	
	animation-name: slideLeft;
	animation-transition: all 1s cubic-bezier(.10, .10, .25, .90); 

	 /* Safari and Chrome */
	-webkit-animation-name: slideLeft;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90); 
	
	 /* Firefox */	
	-moz-animation-name: slideLeft;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-transition: all 1s cubic-bezier(.10, .10, .25, .90); 
		
}