<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "tooltips", "pageCategory": "components"})

<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleTooltip</h1>
<p>Tooltip is a small pop-up window, revealed when user hovers the pointer over an unlabeled item, without clicking at it. The window contains short description about the item being hovered over.</p>

<!-- Page Nav
================================================== -->
<div class="sg-page-nav">
  <div>
    <h6>Go To:</h6>
<!--     <ul>
      <li><a href="#">Tooltip</a></li>
      <li><a href="#">Infotip</a></li>
    </ul> -->
  </div>
  <div>
    <a href="https://confluence.vendavo.com/x/owI0AQ" target="_blank" class="btn btn-primary">View Guidelines</a>
  </div>
</div>
<div class="alert alert-info" role="alert">
  <p> <i class="fa fa-info-circle"></i>
    Tooltips are an extension of Bootstrap popovers. Please visit
    <a href="http://getbootstrap.com/javascript/#popovers" class="alert-link" target="_blank">Bootstrap popover</a>
    to get more information on them if you don't see what you need here.
  </p>
</div>


<!-- Page Content
================================================== -->

<h3>Tooltip</h3>
<p>Tooltip used in the <button class="btn btn-link infotip">paragraph</button> of text. The text has the same appearance as hyperlink</p>

<h4>Code Snippet</h4>
<div class="highlight">
  <pre>
    <code class="html">
      <p>A tooltip used in the <button class="btn btn-link infotip">paragraph</button> of text. The text has the same appearance as hyperlink</p>
    </code>
  </pre>
</div>


<!-- END: Template Content
================================================== -->


<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')