<span style="display:none;">
	<span style="position:relative; top:0px; left:0px;" dojoAttachPoint="relNode">
		<img border="0"
			hspace="0"
			vspace="0"
			style="visibility:hidden;height:1px;width:1px;"
			dojoAttachPoint="spacerNode"
			src="${dojoRoot}src/widget/templates/images/blank.gif">
		<img border="0"
			hspace="0"
			vspace="0"
			style="position:absolute; left:0px; top:0px; border-right:1px solid black;border-bottom:1px solid black;"
			dojoAttachPoint="upArrowNode"
			src="${dojoRoot}src/widget/templates/images/spinnerIncrement.gif">
		<img border="0"
			hspace="0"
			vspace="0"
			style="position:absolute; left:0px; top:0px; border-right:1px solid black;border-bottom:1px solid black;"
			dojoAttachPoint="downArrowNode"
			src="${dojoRoot}src/widget/templates/images/spinnerDecrement.gif">
	</span>
</span>
