/* BEGIN: variables.scss - for styleguide.scss
// -----------------------------------------------------*/

// Base Colors
// -----------------------------------------------------

$white:				#fff;
$black:				#000;
$gray:				#ccc;
$dark:				#343838;

$green:				#7ED321;
$red:				#E50015;

// Grays
$gray:               	#999;
$grayLight:          	lighten($gray, 18%);
$grayLighter:        	lighten($gray, 28%);
$grayLightest:       	lighten($gray, 38%);
$grayDark:           	darken($gray, 20%);
$grayDarker:         	darken($gray, 30%);
$grayDarkest:        	darken($gray, 40%);
$uploadGray:			#eee;

// Blues
$blue:        			#D2E0F1;
$blueLight:   			lighten($blue, 2%);
$blueLighter: 			lighten($blue, 4%);
$blueLightest:			lighten($blue, 6%);
$blueDark:    			darken($blue, 5%);
$blueDarker:  			darken($blue, 15%);
$blueDarkest: 			darken($blue, 30%);
$navyBlue:			#2D4F62;
$brightBlue: 		     #4A90E2;

// Primary Color Palette
// -----------------------------------------------------

$main-shade: #1D444A;
$main: #1E626D;
$contextual: #288D9F;
$action: #52B8CD;
$main-tint: #E1EAEB;
$light-tint: #F9FCFD;

$borderColor: #ddd;


// Typography
// -----------------------------------------------------

$baseFontSize:           12px;
$baseFont:        		$helvetica;
$baseLineHeight:         28px;

//** Background color for `<body>`.
$bodyBG:               $white;
//** Global text color on `<body>`.
$textColor:            $grayDarkest;

//** Global textual link color.
$linkColor:            #337ab7;
//** Link hover color set via `darken()` function.
$linkHoverColor:      darken($linkColor, 15%);
//** Link hover decoration.
$linkHoverDecoration: underline;


$pageMargin: 20px;
$pagePadding: 10px;





