<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "forms", "pageCategory": "components"})

<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleForm</h1>
<p>A form is a collection of labels and input fields on a single page, panel or dialog. Try to keep forms as semantic as possible and consider hidden HTML tags that aid in accessibility.</p>

<!-- Page Nav
================================================== -->
<div class="sg-page-nav">
	<div>
		<h6>Go To:</h6>
		<ul>
			<li><a href="#section-1">Field Styling</a></li>
			<li><a href="#section-2">Form Layouts</a></li>
			<li><a href="#section-3">Form Errors</a></li>
		</ul>
	</div>
	<div>
		<a href="http://getbootstrap.com/css/#forms" target="_blank" class="btn btn-default">View Guidelines</a>
	</div>
</div>
<div class="alert alert-info" role="alert">
	<p> <i class="fa fa-info-circle"></i>
		Forms are an extension of Bootstrap forms. Please visit
		<a href="http://getbootstrap.com/css/#forms" class="alert-link" target="_blank">bootstrap forms</a>
		to get more information on them if you don't see what you need here.
	</p>
</div>

<!-- Page Content
================================================== -->
<h2 id="section-1">Field Styling</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Field Styles</h3>
  </div>
  <div class="panel-body">
	 <p>Below are the different styles of fields. Editable, required, active, error, disabled and read-only fields. You can also disable an entire group by applying <code>disabled</code> to the fieldset. <a href="http://getbootstrap.com/css/#forms-control-disabled" target="_blank">Read more here</a>.</p>
	 <p>The editable field contains a <code>placeholder</code>. When you are in focus and type 1 character it disappears and replaces with the character typed. Also, when any field contains a value and focus is put on it the value is highlighted through javascript <code>this.select()</code>.</p>

      <!-- BEGIN: CONTENT HERE -->

	 <form class="form-horizontal pd-horizontal inline-status">
		<div class="form-group">
		    <label for="input1" class="col-sm-3 control-label">Editable Field</label>
		    <div class="col-sm-9">
		        <input id="input1" class="form-control">
		    </div>
		</div>
		<div class="form-group">
		    <label for="input2" class="col-sm-3 control-label">Required Field</label>
		    <div class="col-sm-9">
		        <input id="input2" class="form-control" placeholder="required" required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="input3" class="col-sm-3 control-label">Disabled Field</label>
		    <div class="col-sm-9">
		        <input id="input3" class="form-control disabled" value="Disabled Field" disabled>
		    </div>
		</div>
		<div class="form-group has-error">
		    <label for="input4" class="col-sm-3 control-label">Error Field</label>
		    <div class="col-sm-9 field-indicator">
		        <input id="input4" class="form-control">
		        <i class="fa fa-exclamation-triangle"></i>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-3 col-sm-9">
		        <div class="checkbox">
		            <label>
		                <input type="checkbox"> Remember me
		            </label>
		        </div>
		    </div>
		</div>
	 </form>

      <!-- END: CONTENT HERE -->
      <!-- BEGIN: CODE SNIPPET -->
      <h4>Code Snippet</h4>
      <div class="highlight">
      <pre>
      <code class="html">
      <!-- BEGIN: HTML SNIPPET -->

		<div class="form-group">
		    <label for="input1" class="col-sm-3 control-label">Editable Field</label>
		    <div class="col-sm-9">
		        <input id="input1" class="form-control">
		    </div>
		</div>
		<div class="form-group">
		    <label for="input2" class="col-sm-3 control-label">Required Field</label>
		    <div class="col-sm-9">
		        <input id="input2" class="form-control" placeholder="required" required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="input3" class="col-sm-3 control-label">Disabled Field</label>
		    <div class="col-sm-9">
		        <input id="input3" class="form-control disabled" value="Disabled Field" disabled>
		    </div>
		</div>
		<div class="form-group has-error">
		    <label for="input4" class="col-sm-3 control-label">Error Field</label>
		    <div class="col-sm-9 field-indicator">
		        <input id="input4" class="form-control">
		        <i class="fa fa-exclamation-triangle"></i>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-3 col-sm-9">
		        <div class="checkbox">
		            <label>
		                <input type="checkbox"> Remember me
		            </label>
		        </div>
		    </div>
		</div>

      <!-- END: HTML SNIPPET -->
      </code>
      </pre>
      </div><!--/.highlight-->
      <!-- END: CODE SNIPPET -->

  </div>
</div><!--/.panel-body-->

<h2 id="section-2">Form Layouts</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Horizontal Form</h3>
  </div>
  <div class="panel-body">
	<p>Horizontal forms have labels to the left of the input fields. Use the class <code>.form-horizontal</code> on the <code>&lt;form&gt;</code> element.</p>

      <!-- BEGIN: CONTENT HERE -->

	<form class="form-horizontal">
          <fieldset>
               <legend>Specify Price Type</legend>
               <dl>
                   <dt>Quote Source</dt>
                   <dd class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> <strong>Partner</strong> (Electronics Manufacturing Services, Original Design Manufacturing)
                        </label>
                   </dd>
                   <dd class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Supplier
                        </label>
                   </dd>
               </dl>
          </fieldset>
          <fieldset>
               <legend>Specify Price Set Information</legend>
               <div class="form-group">
                    <label for="input1" class="col-sm-3 control-label">Partner</label>
                    <div class="col-sm-9">
                         <input type="text" class="form-control" id="input1" placeholder="Type Name">
                    </div>
               </div>
               <div class="form-group">
                    <label for="input2" class="col-sm-3 control-label">Price Set Name</label>
                    <div class="col-sm-9">
                         <input type="text" class="form-control" id="input2" placeholder="ex. EMS Q1 8000">
                    </div>
               </div>
               <div class="form-group">
                    <label for="input3" class="col-sm-3 control-label">Choose File</label>
                    <div class="col-sm-9">
                         <input type="file" class="form-control" id="input3" placeholder="Choose File">
                    </div>
               </div>
               <div class="form-group">
                    <label for="input4" class="col-sm-3 control-label">Date</label>
                    <div class="col-sm-9">
                         <input type="date" class="form-control" id="input4" placeholder="Type Name">
                    </div>
               </div>
          </fieldset>
          <fieldset>
               <legend>Map Fields</legend>

               <div class="field-mapping">
                   <div class="row title-group">
                       <h5 class="col-sm-5">Our Fields</h5>
                       <h5 class="col-sm-7">Import from Price File</h5>
                   </div>
                  <div class="row">
                      <div class="col-sm-5"><strong>Item Number</strong></div>
                      <div class="col-sm-6">
                         <select class="form-control">
                              <option value="1"><strong>Item Number</strong></option>
                         </select>
                    </div>
                      <div class="col-sm-1">
                          <i class="fa fa-check" title="This field is mapped"></i>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-5"><strong>Cost for 1000 units</strong></div>
                      <div class="col-sm-6">
                         <select class="form-control">
                              <option value="1"><strong>-</strong></option>
                         </select>
                      </div>
                      <div class="col-sm-1">&nbsp;</div>
                  </div>
               </div>
          </fieldset>
     </form>

      <!-- END: CONTENT HERE -->
      <!-- BEGIN: CODE SNIPPET -->
      <h4>Code Snippet</h4>
      <div class="highlight">
      <pre>
      <code class="html">
      <!-- BEGIN: HTML SNIPPET -->



      <!-- END: HTML SNIPPET -->
      </code>
      </pre>
      </div><!--/.highlight-->
      <!-- END: CODE SNIPPET -->

  </div>
</div><!--/.panel-body-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vertical Form</h3>
  </div>
  <div class="panel-body">
	 <p>Using no class on the <code>&lt;form&gt;</code> element will bring the labels above the input fields.</p>

      <!-- BEGIN: CONTENT HERE -->

      Content here...

      <!-- END: CONTENT HERE -->
      <!-- BEGIN: CODE SNIPPET -->
      <h4>Code Snippet</h4>
      <div class="highlight">
      <pre>
      <code class="html">
      <!-- BEGIN: HTML SNIPPET -->



      <!-- END: HTML SNIPPET -->
      </code>
      </pre>
      </div><!--/.highlight-->
      <!-- END: CODE SNIPPET -->

  </div>
</div><!--/.panel-body-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Two Column Form</h3>
  </div>
  <div class="panel-body">
     <!-- BEGIN: CONTENT HERE -->
	<p>Using <code>.row</code> on the <code>&lt;form&gt;</code> element and wrapping fields in a <code>.col-md-6</code> will give a two column layout.</p>
	<form class="form-inline row">
		<h3>Form Title</h3>
		<fieldset>
			<legend>Form Group Headline</legend>
			<div class="col-md-6">
				<div class="form-group">
					<label for="identifier">ID</label>
					<input id="identifier" class="form-control" value="WKB_000494400449" placeholder="Required" required>
				</div>
				<div class="form-group">
					<label for="full_name">Name</label>
					<input id="full_name" class="form-control">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input id="description" class="form-control" placeholder="Required" required>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="keywords">Keywords</label>
					<input id="keywords" class="form-control">
				</div>
				<div class="form-group">
					<label for="status">Password</label>
					<select id="status" class="form-control">
						<option value="draft">Draft</option>
						<option value="revised">Revised</option>
					</select>
				</div>
				<div class="form-group multi-line">
					<label for="notes">Notes</label>
					<textarea id="notes" class="form-control" rows="3"></textarea>
				</div>
			</div>
		</fieldset>
	</form>

      <!-- END: CONTENT HERE -->
      <!-- BEGIN: CODE SNIPPET -->
      <h4>Code Snippet</h4>
      <div class="highlight">
      <pre>
      <code class="html">
      <!-- BEGIN: HTML SNIPPET -->



      <!-- END: HTML SNIPPET -->
      </code>
      </pre>
      </div><!--/.highlight-->
      <!-- END: CODE SNIPPET -->

  </div>
</div><!--/.panel-body-->

<h2 id="section-3">Form Errors</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Form with Errors</h3>
  </div>
  <div class="panel-body">
	<p>Utilize the bootstrap class <code>.has-error</code> on the <code>.form-group</code> wrapper to call out errors.</p>
	<p>Tap on the error icon to view the error message. A bootstrap popover was used and binded to the <code>.field-indicator</code>.</p>
	
     <!-- BEGIN: CONTENT HERE -->

	<form class="inline-status">
		<div class="alert alert-danger" role="alert">
			<p><i class="fa fa-exclamation-triangle"></i>Please resolve the issues below.</p>
		</div>
		<fieldset>
			<legend>Form Title</legend>
			<div class="form-group">
				<label for="full_name3">Name</label>
				<input id="full_name3" class="form-control">
			</div>
			<div class="form-group has-error">
				<label class="control-label" for="description3">Description</label>
				<input type="text" class="form-control" id="description3" placeholder="Required" required>
				<button type="button" class="btn btn-link field-indicator"><i class="fa fa-exclamation-triangle"></i></button>
			</div>
		</fieldset>
	</form>

      <!-- END: CONTENT HERE -->
      <!-- BEGIN: CODE SNIPPET -->
      <h4>Code Snippet</h4>
      <div class="highlight">
      <pre>
      <code class="html">
      <!-- BEGIN: HTML SNIPPET -->



      <!-- END: HTML SNIPPET -->
      </code>
      </pre>
      </div><!--/.highlight-->
      <!-- END: CODE SNIPPET -->

  </div>
</div><!--/.panel-body-->


<!-- END: Template Content
================================================== -->

<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')