/* BEGIN: flex-box.scss
// -----------------------------------------------------*/

// Flexbox 

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin flexDirection($way) {
  -webkit-flex-direction: $way;
  -ms-flex-direction: $way;
  flex-direction: $way;
}
@mixin flexAlign($align) {
  -webkit-box-align: $align;
  -webkit-align-items: $align;
      -ms-flex-align: $align;
          align-items: $align;
}




