/* NORMAL BUTTON STYLES */

div.buttons 	{ padding: 5px 0 0 0;}

div.buttons a span, 
div.buttons a em, 
div.buttons a b {
	height: 21px;
	display: block;
	float: left;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	background: none;
}

div.buttons a span {
	background: url('images/btn_left_nrm.png')  no-repeat top left;
	margin: 0px 3px 0px 0px;
	padding: 0px 0px 0px 5px;
	cursor:	pointer;
	white-space: nowrap;
}

div.buttons a em {
	background: url('images/btn_right_nrm.png')  no-repeat top right;
	margin: 0px;
	padding: 4px 8px 0px 0px;
	color: #333;
}

div.buttons a b {
	margin: -2px 0px 0px 0px;
	width: 21px;
}



/* BUTTON HOVER STYLES */

div.buttons a:hover span,
div.buttons a.button_over span {
	background: url('images/btn_left_ovr.png') no-repeat top left;
}

div.buttons a:hover em,
div.buttons a.button_over em {
	background: url('images/btn_right_ovr.png')  no-repeat top right;
	color: #000;
}

div.buttons a:hover {
	text-decoration: none;
}


/* ICONIC BUTTON STYLE OVERRIDE */

div.buttons .iconic em {
	padding: 4px 0px 0px 0px;
}

div.buttons br {
	clear: both;
	line-height: 0;
	height: 0;
	visibility: hidden;
}


/* DISABLED BUTTON STYLE OVERRIDE */

div.buttons a.disabled em {
	background: url('images/btn_right_nrm.png')  no-repeat top right;
	margin: 0px;
	padding: 4px 8px 0px 0px;
	color: #999;
}

div.buttons a.disabled:hover span,
div.buttons a.disabled span {
	background: url('images/btn_left_nrm.png') no-repeat top left;
}

div.buttons a.disabled:hover em,
div.buttons a.disabled em {
	background: url('images/btn_right_nrm.png')  no-repeat top right;
	color: #999;
}

