/* TABLES */


div.scrollHeaderDiv {
	position: relative;
	border-top: 1px solid #bbb;
	overflow: hidden;
}

div.scrollTableDiv {
	position: relative;
	border-bottom: 1px solid #bbb;
	overflow: auto;
}



/* HEADER AND CELL STYLES */

table.agileTable tr th,
table.agileTable tr td {
	color: #333;
	font-family: 'Arial', 'Verdana', 'sans-serif', 'MSPGothic', 'PMingLiU', 'UWKMJF';
	font-size: 11px;
	text-align: left;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.agileTable tr th {
	padding: 3px 5px 5px 5px;
	background-color: #eee;
	border-bottom: 1px solid #bbb;
}

table.agileTable tr td {
	padding: 4px 5px 2px 5px;
}



/* ROW STYLES */

table.agileTable tr {
	vertical-align: top;
}

table.agileTable tr.shd {
	background-color: #f6f6f6;
}



/* RESIZE COLUMN STYLES */

table.agileTable tr th.resize {
	width: 5px;
	background-color: #ddd;
	border-right: 1px solid #bbb;
	padding: 0;
	cursor: e-resize;
}

table.agileTable tr td.resize {
	width: 5px;
	border-right: 1px solid #ddd;
	padding: 0;
}



/* ENDCAP SELECTORS STYLES */

table.agileTable tr th.selectNrm,
table.agileTable tr th.selectEnd {
	width: 10px;
	background-color:  #ccc; /* #777 when selected #ccc when not selected (originally #bbb) */
	border-right: 1px solid #999;
	border-bottom: 1px dotted #999;
	padding: 0;
	cursor: hand;
}

table.agileTable tr th.selectedNrm,
table.agileTable tr th.selectedEnd {
	width: 10px;
	background-color:  #777;
	border-right: 1px solid #999;
	border-bottom: 1px dotted #999;
	padding: 0;
	cursor: hand;
}

table.agileTable tr th.selectEnd,
table.agileTable tr th.selectedEnd {
	border-left: 1px solid #999;
	border-right: none;
}

table.agileTable tr th.selectNrm span,
table.agileTable tr th.selectedNrm span,
table.agileTable tr th.selectEnd span,
table.agileTable tr th.selectedEnd span {
	visibility: hidden;
}



/* FOR TESTING PAGE ONLY */

div.wrapper { 
	margin: 10px 10px 90px 10px;
}