/*======= index.html =======*/
#home .col-1{
	width:332px;
	margin-right:34px;
}

#home .col-2{
	width:286px;
}

#company .col-1{
	width:280px;
	margin-right:36px;
}

#company .col-2{
	width:332px;
}

/*=========================*/


