#content {
	width: 600px;
}

table.products {
	width: 100%;
	border-top: 1px solid #ccc;
}

table.products th {
	text-align: left;
	background: #f6f6f6;
	border-bottom: 1px solid #ccc;
	padding: 3px;
}

table.products td {
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
	padding: 3px;
}

table.products th.grid,
table.products td.grid {
	text-align: center;
	width: 40px;
}

p.legend {
	text-align: right;
}

p.legend em {
	font-weight: bold;
	color: #000;
}

h1.padded_break,
h2.padded_break,
h3.padded_break {
	clear: both;
	padding-top: 2em;
	margin-top: 0;
}

img.float_right {
	float: right;
}