<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "tabs", "pageCategory": "components"})

<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleTab</h1>
<p>Tab is a graphical control element that allows multiple documents or panels to be contained within a single window, using tabs as a navigational widget for switching between sets of documents.</p>

<!-- Page Nav
================================================== -->
<div class="sg-page-nav">
  <div>
    <h6>Go To:</h6>
<!--     <ul>
      <li><a href="#">Tooltip</a></li>
      <li><a href="#">Infotip</a></li>
    </ul> -->
  </div>
  <div>
    <a href="https://confluence.vendavo.com/x/awBT" target="_blank" class="btn btn-primary">View Guidelines</a>
  </div>
</div>


<!-- END: Template Content
================================================== -->


<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')