.action_dialog .record_by_record
{
	background-color: #e1e1e1;
	height: 25px;
	padding: 10px 0 0 10px;
	float: left;
	width:100%;
	border-right: 1px solid silver;
}

.action_dialog.record_by_record .content
{
	padding-top: 0 !important;
	padding-bottom: 15px;
}
.action_dialog .record_by_record  h2
{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	display: inline;
}
.action_dialog .record_by_record  h2.right
{
	position: relative;
	top: -20px;
	float: right;
	margin-right: 25px;
	font-weight: normal;
	width:24%;
	text-align: right;
}

.action_dialog a#cmdNext.button { margin-right: 10px !important; }