/* BEGIN: navbar.scss
// -----------------------------------------------------*/
.global-navbar {
	background: $main;
	z-index: 9999999999; /* High z-index for dropdown menus to be top most level */
	.nav-box {
		display: inline-block;
		height: $navbarHeight;
		vertical-align: middle;
		&.app-switcher {
			> .btn {
				padding-bottom: 0;
				padding-top: 0;
				&.btn-link {
					> img {
						height: 28px;
						margin-left: 5px;
					}
					> span {
						color: $white;
						font-weight: 350;
						letter-spacing: 1px;
					}
				}
			}
			&.signin { // disable hover effect on sign in page
				.btn-link {
					cursor: default;
					&:hover {
						background: transparent;
					}
				}
			}
		}
		&.pull-right {
			.btn-link {
				background: transparent;
				border: none;
				color: $main-tint;
				font-size: 90%;
				font-weight: 300;
				.caret {
					margin-left: 5px;
					margin-right: 10px;
				}
			}
			.btn-icon {
				color: $main-tint;
			}
		}
		.btn {
			&.btn-link { /* All Link Buttons on navbar hover BG color*/
				height: $navbarHeight;
				&:focus, &:hover {
					background: darken($main, 3%);
				}
			}
		}
	}
	.dropdown-menu {
		.branding {
			color: $main;
			font-size: 90%;
			text-align: center;
		}
	}
}