/* BEGIN: tabs.scss
// -----------------------------------------------------*/

/* ALL TABS */
.tabs-below,
.tabs-right,
.tabs-left {
    > .nav-tabs {
        border-bottom: 0;
    }
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}
.tab-content > .active,
.pill-content > .active {
    display: block;
}

/* ALL SIDE TABS */
.tabs-right,
.tabs-left {
    > .nav-tabs {
         > li {
            float: none;
            > a {
                margin-right: 0;
                min-width: 35px;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

/* LEFT SIDE TABS */
.tabs-left {
    > .nav-tabs {
        float: left;
        margin-right: 0;
        > li {
            > a {
                 @include border-radius(0);
                 border: 1px solid transparent;
                 margin-right: -1px;
            }
        }
    }
}

/* RIGHT SIDE TABS */
.tabs-right {
    > .nav-tabs {
        border-left: 1px solid $borderColor;
        float: right;
        margin-left: 19px;
         > li > a {
            @include border-radius(0 4px 4px 0);
            margin-left: -1px;
            &:hover,
            &:focus {
                border-color: #eeeeee #eeeeee #eeeeee $borderColor;
            }
        }
    }
}

/* BELOW TABS */
.tabs-below > .nav-tabs {
    border-top: 1px solid $borderColor;
     > li {
        margin-bottom: 0;
        margin-top: -1px;
        > a {
            @include border-radius(0 4px 4px 0);
            &:hover,
            &:focus {
                border-bottom-color: transparent;
                border-top-color: $borderColor;
            }
        }
    }
}
.tabs-below {
        > .nav-tabs {
            > .active {
                > a {
                    &:hover, &:focus {
                        border-color: transparent $borderColor $borderColor $borderColor;
                    }
                }
            }
        }
}
