/* BEGIN: Modals.less
// ----------------------------------------------------*/

.activity-indicator {
    .modal-dialog {
        margin: 15% auto;
        text-align: center;
        width: 300px;
        i {
            font-size: 350%;
            margin: 30px 0;
        }
        p {
            font-size: 150%;
            font-weight: bold;
        }
    }
}
.modal-content {
    .modal-header {
        background-color: @mintDarkAccent;
    }
    .modal-body {
        p {
            font-size: 125%;
        }
    }
    .modal-footer {
        border: none;
    }
}
.modal-overlay {
    background: rgba(50,50,50,.9);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1060;
    -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
    .navbar-fixed-top {
        padding-left: 0; // Override main navbar padding-left: 250px
        width: 80%;
        margin: 0 auto;
        max-width: 1024px;
    }
    .content {
        background: lighten(@grayLightest, 12%);
        height: 100%;
        margin: 0 auto;
        max-width: 1024px;
        padding-top: @navbarHeight;
        width: 80%;
        > section {
            border: 1px solid transparent;
            height: 100%;
            background: @white;
            > article {
                overflow: auto;
                height: 100%;
                .nav-stacked {
                    dt {
                        border-bottom: 1px solid @borderColor;
                        padding-left: 10px;
                        color: @mintDarkest;
                        background: @mintLight;
                    }
                    dd {
                        a {
                            border-bottom: none;
                        }
                        &.divider {
                            margin: 5px 0;
                        }
                    }
                }
                .rt-column {
                    display: none;
                    height: 100%;
                    overflow: auto;
                    &.price-lookup {
                        background: @white;
                    }
                    ul {
                        margin: @pageMargin;
                    }
                    &.details-pane {
                        padding: 0;
                        h1 {
                            padding-left: 10px;
                        }
                    }
                }
                footer {
                    text-align: right;
                    padding-right: 10px;
                }
            }
        }
    }
}

.stat-messages {
    dl {
        margin: @pageMargin;
        dd {
            position: relative;
            h1 {
                color: @grayDark;
                font-size: 100%;
                padding: 0;
                strong, span {
                    display: inline-block;
                    padding: 0;
                }
                strong {
                    margin-right: 5px;
                }
                span {
                    margin: 0 5px;
                }
            }
            p {
                line-height: 16px;
                padding: 0 50px 5px 0;
            }
            button {
                background: none;
                border: none;
                color: @brightBlue;
                position: absolute;
                right: 5px;
                top: 24%;
                &:hover {
                    color: @green;
                }
            }
        }
    }
}
.stat-approvals {
    .alert {
      margin: 10px @pageMargin;
    }
    ol {
      overflow: inherit;
      margin: 0 @pageMargin;
      padding: 0;
      > li {
        width: 100%;
        list-style: none;
        margin-bottom: 15px;
        h1 {
          color: @grayDark;
          margin: 0 0 10px 0;
          padding: 0;
          line-height: 18px;
          strong {
            display: block;
            margin: 0;
          }
          a {
            font-weight: normal;
            font-size: 70%;
            padding: 0;
            display: inline;
            border-bottom: 1px solid @grayLightest;
          }
        }
        p {
          line-height: 14px;
          margin: 0;
        }
        ul {
          margin: 0;
          padding-left: 15px;
        }
        button {
          background: none;
          border: none;
          color: @brightBlue;
          position: absolute;
          right: 5px;
          top: 24%;
          &:hover {
            color: @green;
          }
        }
      }
    }
}

// NOTE: TO DO: THIS SHOULD MOVE INTO A MIXIN that should be Shared with the code vsn-layout.less
.competitive-price-chart {
    > h1 {
      position: relative;
      font-size: 125%;
      font-weight: 500;
      padding: 0 0 10px @pageMargin;
      .btn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 75%;
        color: @brightBlue;
        border: none;
        box-shadow: none;
        padding: 3px 6px;
        &:hover {
          background: none;
          outline: none;
          color: @green;
        }
      }
    }
    > h2 {
      font-size: 100%;
      font-weight: 400;
      margin: 0 @pageMargin 10px @pageMargin;
      padding: 0;
      em {
        font-style: normal;
        &:after {
          content: '\2022';
          margin: 0 10px;
        }
      }
    }
    > p {
      margin: 0 @pageMargin;
    }
    table {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
        tr {
           td {
            padding: 2px 5px;
            &:first-child {
              padding-left: @pageMargin;
            }
            &:last-child {
              padding-right: @pageMargin;
              text-align: right;
            }
           }
        }
    }
    // Last Price Modal
    .chart-summary {
        overflow: hidden;
        margin: 0 @pageMargin;
        border-bottom: 1px solid @borderColor;
        span {
            float: left;
            width: 33.3%;
            text-align: center;
            margin-bottom: 10px;
            strong {
                display: block;
            }
            em {
                font-style: normal;
            }
        }
    }
    ul {
        display: block;
        border-bottom: 1px solid @borderColor;
        list-style: none;
        height: 100px;
        margin: @pageMargin @pageMargin 0 @pageMargin;
        padding: 0;
        li {
            float: left;
            width: 20px;
            height: 100px;
            margin: 0 5px;
            &:first-child {
                margin-left: 10px;
            }
            span {
                display: block;
                background-color: @grayLightest;
                border: 1px solid @grayLighter;
                &:hover {
                    background-color: @gray;
                }
                &.selected {
                    background-color: @mintDarker;
                }
            }
        }
    }
    > footer {
        > p {
            border: 1px solid transparent;
            margin: 10px;
            strong {
                display: block;
            }
        }
    }
}

/* END: modals.less
// -----------------------------------------------------*/