/* Pagination.less
// -----------------------------------------------------*/

.pagination-container {
	border-top: 1px solid @mintDarkAccent;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	.btn {
		background: none;
		border: 1px solid @blueLightBorder;
		color: lighten(@navyBlue, 15%);
	}
}