/* Tables.less
// -----------------------------------------------------*/

// div.table-wrapper for border


// TABLES
.table-wrapper {
	margin: 0;
     // Color in vsn-theme-default theme
	.table {
		margin: 0;
		tr {
			// Mixin
			.scoring-table();	
			td {
				border-bottom: 1px solid @borderColor;
			}
		}
		tbody {
     		// Color in vsn-theme-default theme
			tr {
				&.selected {
					td {
						&:nth-child(2) {
							font-weight: bold;
						}
					}
				}
			}
		}
		/* For Product Family Hierarchy Tables */
		&.prod-hierarchy {
			tr {
				th, td {
					&:first-child, 
					&:nth-child(2) {
						vertical-align: middle;
						padding: 0;
						width: 10px;
					}
					&:nth-child(3) {
						width: 250px;
						text-align: left;
					}
					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6) {
						min-width: 80px;
						text-align: right;
					}
				}
				td {
					&:first-child {
						.butcon {
							&:hover {
								background-color: transparent;
								outline: 1px solid transparent;
								border-color: transparent;
							}
						}
					}
				}
			}
			thead {
				tr {
					&:first-child {
						th {
							width: 100%;
							padding: 8px 0;
							text-align: right;
						}
					}
					&:last-child {
     					// Color in vsn-theme-default theme
						th {
     						// Color in vsn-theme-default theme
							border-color: @borderColor;
							border-bottom-width: 1px;
							font-size: 90%;
							font-weight: normal;
							&:nth-child(4),
							&:nth-child(5) {
								text-align: right;
							}
							&:last-child {
								padding-right: 5px;
							}
						}
					}
				}
				tr {
					th {
     					// Color in vsn-theme-default theme
						&:last-child {
							text-align: right;
							padding-right: 0;
							.butcon {
								margin-right: 5px;
							}
							form {
								display: inline-block;
								width: 45%;
								input {
									width: 100%;
									border-color: @borderColor;
								}
								input:not([type="checkbox"]):not([type="radio"]):focus,
								select:focus, 
								textarea:focus, 
								input[type="text"]:focus,
								input[type="search"]:focus {
									border: 1px solid darken(@borderColor, 10%);
								}
							}
						}
						
					}
				}
			}
			tbody {
				tr {
					td {
						h1 {
							font-size: 100%;
							font-weight: normal;
							margin-top: 0;
							.fa {
								font-size: 90%;
								color: @grayLighter;
								margin-left: 7px;
							}
						}
						p {
							color: @grayDark;
							display: block;
							font-size: 90%;
							font-style: normal;
							line-height: 14px;
							margin: 0;
						}
					}
					&.hierarchy-parent {
						&.open {
     						// Color in vsn-theme-default theme
							+ .hierarchy-child {
								table {
									tr {
										td {
											padding: 8px;
										}
									}
								}
							}
						}
					}
					&.hierarchy-child {
						display: none;
						td {
							&:first-child {
								tbody {
									border: none;
								}
								.butcon {
									visibility: hidden;
								}
								table {
									width: 100%;
									tr {
										td {
											border-bottom: none;
											padding: 8px;
											&:first-child {
												padding: 0;
												width: 32px;
											}
											&:nth-child(2) {
												padding: 0;
												width: 11px;
											}
											&:nth-child(3) {
												width: 255px;
											}
											&:nth-child(4),
											&:nth-child(5),
											&:nth-child(6) {
												width: 85px;
												text-align: right;
											}
										}
										&:last-child {
											td {
												border-bottom: none;
											}
										}
     									// Color in vsn-theme-default theme
									}
								}
							}
						}
						&:hover {
							background: none;
						}
					}
					&.selected {
						td {
     						// Color in vsn-theme-default theme
							&:nth-child(2) {
								font-weight: bold;
							}
						}
					}
					tr {
						&:hover {
							background: none;
						}
					}
				}
			}
		}
	}
}