/* BEGIN: vsn-deallist.less
// -----------------------------------------------------*/

.vsnb {
	.drill-list {
		&.deal-listings {
			.nav {
				li {
					a {
						height: 55px;
					}
					&.active {
						a {
							margin-top: 0;
							background: @white;
							font-weight: 500;
						}
					}
				}
			}
			.lt-column {
				.alert.alert-delete {
					display: none;
					margin: 10px;
					h4 {
						font-weight: normal;
						margin: 0;
					}
				}
				dl {
					// Deal list view
					&.deal-list {
						dd {
							> a {
								padding: 0 @pageMargin;
								h1 {
									float: left;
									font-size: 125%;
									margin: 15px 0 3px 0;
									position: relative;
									width: 85%;
									.fa {
										color: @blueDarkest;
										font-size: 75%;
										margin-left: 5px;
									}
								}
								h2 {
									float: right;
									font-size: 100%;
									font-weight: normal;
									line-height: 18px;
									margin-top: 15px;
									text-align: right;
									width: 15%;
									+ p {
										span {
											&:first-child {
												display: block;
												font-weight: normal;
											}
										}
									}
								}
								p {
	 								.stat-dots();
									.status {
										float: right;
									}
								}
							}
				 			&:last-child {
				 				> a {
				 					border-bottom: 1px solid transparent;
				 				}
				 			}
						}
					}
				}
			}
			.rt-column {
				&.details-pane { // .details-pane same as .rt-column
					.alert.alert-copy {
						display: none;
						h4 {
							font-weight: normal;
							margin: 0;
						}
					}
					article {
						.table-wrapper {
							margin-bottom: @pageMargin;
							.table-full {
								display: table;
							}
							.table-mobile {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	aside {
		&.contextual-pane {
			section {
				article {
					ul {
						&.stat-box {
							background: @white;
							margin: 10px 0;
							padding: 0;
						}
					}
					dl {
						&.wf-approval {
							background: @white;
							overflow: hidden;
							margin-top: 20px;
							dt, dd {
								height: 65px;
							}
							dt {
								float: left;
								padding-top: 2%;
								text-align: center;
								width: 15%;
								min-width: 85px;
								span {
									&.status {
										border-radius: 25px;
							               border: 1px solid @grayLighter;
							               background: @grayLightest;
										color: @gray;
										display: block;
										height: 45px;
										width: 45px;
										margin: 0 10px 0 20px;
										padding: 13px 0 0 4px;
										&.pending {
											background: @grayLightest;
										}
										&.approved {
											background: @greenLightest;
										}
										&.rejected {
											background: @red;
										}
									}
								}
							}
							dd {
								padding-top: 2.5%;
								width: auto;
								em {
									color: @gray;
									display: block;
									font-style: normal;
									font-weight: bold;
									font-size: 125%;
								}
								span {
									color: @grayLight;
									display: block;
								}
							}
						}
					}
					.customer-class-chart {
						.customer-class-content {
							overflow: hidden;
							min-width: 325px;
							border: 1px solid transparent;
			                    h2 {
			                        color: @gray;
			                        font-size: 100%;
			                        font-weight: normal;
			                        margin: 0 @pageMargin;
			                        padding: 0 0 5px 0;
			                        border-bottom: 1px solid @grayLightest;
			                        text-align: left;
			                    }
							.class {
								margin: @pageMargin 0;
								padding: 0 0 0 @pageMargin;
								float: left;
								width: 50%;
								dt, dd {
									display: inline-block;
								}
								dt {
									font-weight: bold;
									font-size: 125%;
									vertical-align: top;
									color: @grayDark;
								}
								dd {
									margin-left: 15px;
									max-width: 120px;
									font-size: 85%;
									color: @gray;
								}
							}
			                    .trends {
			                    	margin: @pageMargin;
			                    	dd {
			                    		float: left;
			                    		width: 75%;
			                    		margin-bottom: 10px;
										canvas {
											max-width: 100%;
											height: 50px;
										}
			                    	}
			                    	dt {
			                    		float: right;
			                    		width: 25%;
			                    		color: @brightBlue;
			                    		padding-top: 10px;
			                    		padding-left: 10px;
			                    		span {
			                    			display: block;
			                    			color: @gray;
			                    			font-size: 85%;
			                    			font-weight: normal;
			                    		}
			                    	}
			                    }
						}
					}
				}
			}
		}
	}
}

/* END: vsn-deallist.less
// -----------------------------------------------------*/