/* BEGIN: breadcrumb.scss
// -----------------------------------------------------*/

.breadcrumb {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $breadcrumb-bg;
  border-radius: 0;

  > li {
    display: inline-block;

    + li:before {
      content: ">";
      padding: 0 5px;
      color: $breadcrumb-color;
    }
    &:last-child {
    	color: $breadcrumb-active-color;
    }
  }
  > .active {
    color: $breadcrumb-active-color;
  }
}
