/******************************************************************************
FORMS.CSS
Description: Form related styles and definitions. 
******************************************************************************/
/******************************************************************************
COMMON FORM STYLES
******************************************************************************/
input, select, textarea	{ 
	font: 11px Arial, Verdana, Helvetica, sans-serif; 
	border-bottom: 1px solid #999999; 
	border-left: 1px solid #cccccc; 
	border-right: 1px solid #999999; 
	border-top: 1px solid #cccccc; 
}
input	{ 
	padding: 3px 0 1px 3px; 
	height: 16px;
}
select {
	padding-top: 2px; 
	padding-bottom: 2px;
}
div.sss {
	border-bottom: 1px solid #999999; 
	border-left: 1px solid #cccccc; 
	border-right: 1px solid #999999; 
	border-top: 1px solid #cccccc; 
}
textarea	{ 
	padding-top: 4px;
	padding-left: 3px;
	overflow-x: hidden;
	white-space: wrap;
}
textarea.noscroll {
	overflow-y: hidden;
}
label { 
	cursor: pointer; 
	color:#666; 
}
label input {
	margin-right: 5px;
}
legend { 
	color: #666; 
}
.disabled { 
	background-color: #eee; 
	color:#666; 
}
a.disabled_link {
	color: #666;
	background: none !important;
	cursor: default;
}
a.disabled_link:hover {
	text-decoration: none !important;
}
div.disabled { /* needed for disabled multi-select list */
	background-color: #eee; 
	color:#666; 
}
label.disabled {
	background-color: #fff;
	cursor: text;
}

.form_selectors { 
	border: none; 
	width: 14px !important;
	margin-right: 3px !important; 
}
div.sss.focus_border,
.focus_field { /* highlight style focus fields */
	border: 1px solid #c3d5f1; 
	background: #fff url(../images/bgd_input.png) repeat-x left top; 
}

.focus_link {
	background-color: #DBEAFF;
	padding-bottom: 3px;
	*padding-bottom: 0;
	border-bottom: 1px solid #3C5AB3;
	-moz-outline-style:none;
}

optgroup {
	border-top: 1px dashed #333;
	margin: 5px 0;
}

/******************************************************************************
INPUT ELMENT WIDTHS
******************************************************************************/
/* INPUT & TEXTAREA Element Widths */
input.short_width,
textarea.short_width {
	width: 15%;
}
input.medium_width,
textarea.medium_width {
	width: 45%;
}
input.long_width,
textarea.long_width {
	width: 87%;
}

/* SELECT Element Widths */
select.short_width {
	width: 16% ;
}
select.medium_width {
	width: 46.15%;
}
select.long_width {
	width: 88%;
}

/* CONTROL Widths */
.controlOuterContainer.short_width, 
.mscl.short_width, 
.sss.short_width, 
.agileautocomplete.short_width { 
	width: 15.65%; 
}
.controlOuterContainer.medium_width, 
.mscl.medium_width, 
.sss.medium_width, 
.agileautocomplete.medium_width {
	 width: 45.65%;
}
.controlOuterContainer.long_width, 
.mscl.long_width, .sss.long_width, 
.agileautocomplete.long_width{ 
	width: 87.65%; 
} 

/******************************************************************************
CONTROLS WITH DUAL AND EXTRA BUTTONS
******************************************************************************/

/*****************************************************************************/

.field_input_small { 
	width: 20px !important; 
	height: 14px;
	margin-top: -4px; 
}
.yui-ac-content { 
	width: 34.5%;
}
/******************************************************************************
TEXTAREAS with buttons
******************************************************************************/
textarea.with_button {
	float: left;
}
dd.multiselect_textbox {
	min-height: 60px;
}

/******************************
REQUIRED FIELDS
******************************/
.required label { 
	font-weight: bold; 
	color:#333; 
}
.required span {
	color: #900;
	font-weight: bold;
	font-size:11px; 
	padding-right: 3px; 
}
.dually.required label {
	color: #333;
}

/******************************************************************************
FORM ERROR HANDLING
******************************************************************************/
.form_error_label {
	padding-right: 20px;
	font-weight: bold;
	background: url(../images/icn_status_error.png) no-repeat right 4px;
 }
dt.form_error_label {
	width: 21.5% !important;
 }
.error_field {
	color: #c60000;
	font-weight: bold;
}
dl.side_by_side_mixed error_field {
	display: none;
}
span.error_msg  {
	display: block;
	width: auto;
	clear: both;
	color: #c60000;
	padding-top: 3px;
}

._err_msg { /* this is only used for prototype javascript error messages */
	display: none;
}
/******************************************************************************
SPECIAL ONE OFFS
******************************************************************************/
/*  used in create prices action dialog to make 2 field elements the same width as the one above and below */
.element_one, .element_two { 
	width: 17.25% !important; 
	*width: 24.6% !important; 
}
.element_one { 
	margin-right: 3px; 
}
.inline_selectbox {
	height: 22px !important;
	padding-bottom: 0;
}
.inline_selectbox select { 
	width: 37.25% !important; 
	*width: 46% !important;
	padding: 0 !important;
}

.optionbox {  /* Used in copy url to clipboard action dialog */
	height: 60px;
	width: 95% !important;
}

.side_by_side_radio { /* Used in add manufacturer offering */
	margin-top: 5px;
	margin-bottom: 10px;
}

.side_by_side_radio label
{
	margin-right: 10px;
}
/*********************************************
	CHARACTER COUNTER
*********************************************/
.counter {
	visibility: hidden;
	color: #666;
	border: none;
	width: 22px;
	padding: 0;
}

/******************************************************************************
TABLE WITH THUMBNAIL
******************************************************************************/
.table_thumbnails {
	overflow: auto;
	min-width: 575px;
	background-color: #fff;
}
.table_thumbnails .thumbnail {
	float: left;
	width: 200px;
	padding: 20px;
	text-align: center;
}
.table_thumbnails .thumbnail p.description {
	margin-top: 10px;
}

.table_thumbnails .thumbnail p.overlay {
	float: left;
	width: 30%;
	position: relative;
	margin-top: -22px;
	padding: 0;
}
/******************************************************************************
FORMS WITH THUMBNAIL
******************************************************************************/
/* Thumbnail Styles on Form Page */
.container.thumb {
	min-width: 780px; 
}
.hide_thumb {
	display: none;
}
.thumb_content {
	min-height: 250px;
}
.thumb .lt_column {
	float: left;
	width: 75%;
	min-width: 450px;
}
.thumb .rt_column {
	float: left;
	width: 25%;
	min-width: 100px;
}
.thumb .rt_column .thumbnail_edit {
	width: 100%;
}
.thumbnail .launch_viewer {
	cursor: pointer;
	text-align: center;
}
.thumb .rt_column .thumb_options {
	margin: 10px auto;
	width: 100%;
	text-align: center;
}
.thumb .rt_column .thumb_options a.view_more {
	padding-left: 15px;
	background: url(../images/icn_action_popup.png) no-repeat left top;
}

/* Thumbnail Styles on Palette Viewer */
.thumbnail_viewer .palette_title {
	margin-bottom: 10px;
}
.thumb_content {
	overflow: hidden;
	min-width: 500px;
}
.thumb_content .lt_column {
	float: left;
	width: 67%;
	min-width: 200px;
	text-align: center;
}
.thumb_content .lt_column img {
	margin: 10px auto;
	width: 325px;
	height: 325px;
}
.thumb_content .rt_column {
	position: relative;
	float: right;
	width: 29.5%;
	min-width: 100px;
	border-left: 1px solid #ccc;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}
.thumb_content .rt_column ul.sortable {
	width: 100px;
	margin: 0 auto;
	padding: 10px 0;
}
.thumb_content .rt_column li { 
	width: 75px;
	height: 75px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #e5e5e5;
	clear: both;
}
.thumb_content .rt_column li:hover {
	background-color: #e5e5e5;
}
.thumb_content .rt_column li img { 
	cursor: pointer;
}
.thumb_content .rt_column li.selected_tile {
	background-color: #f4f4f4;
	border: 1px solid #ccc;
}
.thumb_content .rt_column img {
	width: 75px;
}
.thumb_content .rt_column li .sorthandle {
	cursor: move;
	width: 10px;
	height: 85px;
	display: block;
	position: relative;
	top: -84px;
	right: -80px;
	*top: -81px;
	*right: -77px;
	border: 1px solid #e5e5e5;
	background: #efefef url(../images/thumbnail_sort_grip.png) no-repeat left top;
}
.thumb_content .rt_column li.selected_tile .sorthandle {
	background-color: #dfdfdf;
	border: 1px solid #ccc;
}

.thumbnail_actions {
	clear: both;
	height: 25px;
	width: 100%;
	min-width: 100px;
}
.thumbnail_actions a.button:first-child {
	margin-left: 10px !important;
}

.thumb_content .lt_column .set {
	text-align: right;
	margin: 0 20px 5px 0;
}
.thumb_content .lt_column .set label {
	margin-left: 3px;
	color: #333;
}
.thumb_content .lt_column .set input,
.thumb_content .lt_column .set label {
	vertical-align: middle;
}
/******************************************************************************
THUMBNAIL FORM FIELDS
******************************************************************************/
.thumb dl.side_by_side_text {
	min-width: 375px;
} 
.thumb dl.side_by_side_text dt {
	width: 40%;
} 
.thumb dl.side_by_side_text dd {
	width: 55%;
} 

.thumb dl.side_by_side_mixed {
	min-width: 375px;
} 
.thumb dl.side_by_side_mixed dt {
	width: 40%;
}
.thumb dl.side_by_side_mixed dd {
	width: 59%;
}

.thumb .long_width {
	width: 82%
}
.thumb select.long_width {
	width: 84%
}

div.content.without_top_padding { padding: 0 0 15px 0 !important; }

input.file_selector {
	height: 22px;
}
