#content {
	padding: 10px;
}

#content p {
	margin: 0px 0px 10px 0px;
}

#content #basic_content,
#content #basic_content_full {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: auto;
}

#content #basic_content {
	height: 50%;
}

#content #basic_content_full {
	height: 100%;
}

#content #table_container {
	height: 50%;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	border-top: 2px solid #ccc;
}


#content #table_heading_container {
	width: 100%;
	position: absolute;
	left: 0px;
	background: #ccc;
	overflow: hidden;
}

#content #table_footing_container {
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: #e6e6e6;
}

#content .standard_table_footing,
#content .standard_table_heading,
#content .standard_table_content {
	width: 100%;
}

#content td, th {
	padding: 3px;
	text-align: left;
}

#content th {
	background: #e6e6e6;
}

#content td {
	border-bottom: 1px solid #e6e6e6;
	vertical-align: top;
}

#basic_content table td {
 border: none;
}

#basic_content td.label {
	text-align: right;
}

#msg_form {
	margin-top: 30px;
}