<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "long-list-single", "pageCategory": "components"})

<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleLongListSingle</h1>
<p>Use the Long List - Single Selection control when you need to select an item from a large number of options. There are two states for this control</p>

<!-- Page Nav
================================================== -->
<div class="sg-page-nav">
	<div>
		<h6>Go To:</h6>
		<ul>
			<li><a href="#readonly-state">Read Only State</a></li>
			<li><a href="#editable-state">Editable State</a></li>
		</ul>
	</div>
	<div>
		<a href="https://confluence.vendavo.com/x/-hA_AQ" target="_blank" class="btn btn-primary">View Guidelines</a>
	</div>
</div>

<!-- Page Content
================================================== -->
<h2>Examples</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="readonly-state">Read Only State</h3>
  </div>
  <div class="panel-body">
	<p>Add the <code>disabled</code> boolean attribute on a <code>select</code> to disable the dropdown.</p>
	<form>
		<p>
			<select class="form-control select2 long-list single-read" disabled="disabled" data-placeholder="Please select an item">
				<option value="" selected>DADR</option>
				<option value="">1WPEKDS</option>
				<option value="">80AD3SKALD</option>
				<option value="">ADPAKE35</option>
				<option value="">BADGW2P19</option>
			</select>
		</p>
	</form>
<h4>Code Snippet</h4>
<div class="highlight">
<pre>
<code class="html">
<select class="form-control select2 long-list single-read" disabled="disabled" data-placeholder="Please select an item">
  <option value="" selected>DADR</option>
  ...
  <option value="">BADGW2P19</option>
</select>

</code>
</pre>
</div><!--/.highlight-->
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="editable-state">Editable State</h3>
  </div>
  <div class="panel-body">
	<p>Use the class <code>.select2.single-edit</code> to init the select2 component.</p>
	<form>
		<p>
			<select class="form-control select2 long-list single-edit" data-placeholder="Please select an item">
				<option value=""></option>
				<optgroup label="Recently Used Items" class="recently-used">
					<option value="">DADR</option>
					<option value="">MALOKS</option>
				</optgroup>
				<option value="" disabled>-----</option>
				<option value="">1DEPCON</option>
				<option value="">1WPEKDS</option>
				<option value="">80AD3SKALD</option>
				<option value="">ADPAKE35</option>
				<option value="">BADGW2P19</option>
			</select>
		</p>
	</form>
<h4>Code Snippet</h4>
<div class="highlight">
<pre>
<code class="html">
<script>$('.select2.single-edit-state').select2();</script>
<select class="form-control select2 long-list single-edit" data-placeholder="Please select an item">
  <option value=""></option>
  <optgroup label="Recently Used Items" class="recently-used">
  	<option value="">&nbsp;</option>
     <option value="">DADR</option>
     <option value="">MALOKS</option>
  </optgroup>
  <option value="" disabled>-----</option>
  <option value="">1DEPCON</option>
  ...
  <option value="">BADGW2P19</option>
</select>

</code>
</pre>
</div><!--/.highlight-->
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="pezzi">Pezzi Component</h3>
  </div>
  <div class="panel-body">
  	See Long List - Multi select. This component is configurable there.
  </div>
</div>

<!-- END: Template Content
================================================== -->


<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')