/* CSS file */
global 
{
	fontFamily: Arial;
	fontSize: 11;
	color: #000000;
  	themeColor: #cccccc;
 }
ComboBox {
	cornerRadius: 0;
	highlightAlphas: 0.15, 0.4;
    fillAlphas: 1, 1, 1, 1;
    fillColors: #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5; 
 }
Button {
	fontSize: 11;
	fontWeight: normal;
	color: #666666;
	cornerRadius: 0;
	highlightAlphas: 0.15, 0.4;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5;
}
TextInput
{
	borderStyle: solid;
	cornerRadius: 0;
}
	
ApplicationControlBar
{
   fillAlphas: 1, 1;
   fillColors: #357aa1, #0d4988;
   backgroundAlpha: 1;
   cornerRadius: 0;
   dropShadowEnabled: true;
   shadowDistance: 2;
   paddingLeft: 10;
   paddingRight: 10;
}
.menuAppBar {
 paddingLeft: 5;
 paddingRight: 10;
 paddingBottom: 10;
 paddingTop: 5;
 backgroundColor: #0a4c8b;
}

Panel {
   borderColor: #ffffff;
   borderAlpha: 1;
   headerColors: #d5e0f0, #ffffff;
   borderStyle: none;
   cornerRadius: 3;
   dropShadowEnabled: false; 
   titleStyleName: "panelTitle";
}

.panelTitle {
   color: #000000;
   fontWeight: bold;
}

Panel.hmpgPanel {
   cornerRadius: 0;
   borderColor: #e4e4e4;
   borderAlpha: 0.40;
   borderThicknessLeft: 3;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
   borderThicknessRight: 3;
   roundedBottomCorners: false;
   headerHeight: 24;
   highlightAlphas: 0.5, 0;
   backgroundColor: #f5f5f5;
   dropShadowEnabled: false;
   titleStyleName: "hmpgPanelTitle";
}

.hmpgPanelTitle {
   color: #666666;
   letterSpacing: 1;
}
DataGrid.hmpgGrid {
   alternatingItemColors: #e4e4e4, #e4e4e4;
   horizontalGridLines: true;
   horizontalGridLineColor: #e4e4e4;
}

.globalButtonBar {
	horizontalGap: -1;
}
TabBar {
   tabStyleName: "mainNav";
   selectedTabTextStyleName: "mainNavSelected";
   backgroundColor: #ffffff;
}

.mainNav {
   cornerRadius: 0;
   borderColor: #eeeded;
   themeColor: #dfdede;
   highlightAlphas: 0.5, 0.5;
   fillAlphas: 1, 1;
   fillColors: #eeeded, #eeeeee;
   backgroundAlpha: 1;
   horizontalGap: -1
}

.mySelectedTabs {
}

DataGrid 
{
   alternatingItemColors: #ffffff, #ffffff;
   horizontalGridLines: true;
   verticalGridLines: false;
   headerColors: #FFFFFF, #E8F1FD;
   rollOverColor: #E8F1FD;
}

Button.tags
{
   color: #333333;
   highlightAlphas: 0.3, 0.52;
   highlightAlphas: 0, 0;   
   fillAlphas: 1, 1, 1, 1;
   fillColors: #E8F1FD,#E8F1FD, #ffffff, #eeeeee;
}
Button.tagsSelected
{
   color: #ffffff;
   highlightAlphas: 1, 1;
   highlightAlphas: 0, 0;   
   fillAlphas: 1, 1, 1, 1;
   fillColors: #6B9CE3,#6B9CE3, #ffffff, #eeeeee;
}

LinkButton {
	fontWeight: normal;
	fontSize: 11;
	color: #000000;
}


.c1Field {
	borderThickness: 0;
}

PopUpMenuButton.HeaderMenu
{
	color: #e1e1e1;
   rollOverColor: #E8F1FD;
   popUpGap: 0;
   textIndent: 0;
   paddingLeft: 0;
   padding-right: 0;
   fillAlphas: 0, 0, 0, 0;
	 background-color: #ECECD4;
	 selectionColor: #ECECD4;
	 rollOverColor: #ECECD4;
	 textRollOverColor: #333333;
	 textSelectedColor: #333333;
	 separatorColor: #ffffff;
	 separatorWidth: 1;
	 themeColor: #ECECD4;

}

.panelControls {
	borderStyle: solid;
	borderSides: bottom;
	borderThickness: 1;
	borderColor: #cccccc;
	backgroundColor: #faf9f9;
	horizontalGap: 0;
}

.explorerBox {
	backgroundColor: #eeeded;
	borderStyle: solid;
	borderSides: bottom;
	borderThickness: 1;
	borderColor: #cccccc;
	paddingBottom: 5;
	paddingLeft: 12;
	paddingRight: 12;
	paddingTop: 5;
 }

LinkButton.expControl {
	color: #333;
	paddingLeft: 10;
	paddingRight: 3;
	cornerRadius: 0;
}

/* Panel Table Styles */
.tableControls {
	borderStyle: solid;
	borderSides: left, right;
	borderThickness: 1;
	borderColor: #cccccc;
	backgroundColor: #faf9f9;
	horizontalGap: 0;
}
.panelTable {
    headerColors: #f1f1f1, #e4e4e4;
    verticalGridLines: true;
    horizontalGridLines: true;
    horizontalGridLineColor: #cccccc;
	borderThickness: 1;
	rollOverColor: #edf1f7;
	selectionColor: #f5f5f5;
    headerStyleName: "panelTableHeaderStyle";
}
.panelTableHeaderStyle {
   color: #333333;
   fontWeight: bold;
}

.footer {
	height: 35; 
	horizontalAlign: right;
	backgroundColor: #e5e5e5;
	borderThickness: 1;
	borderStyle: solid;
	borderSides: top;
	borderColor: #cccccc;
	paddingTop: 5;
	paddingRight: 5;
	paddingLeft: 5;
}


.tableToolBg {
	backgroundColor: #e4e4e4;
	paddingLeft: 5;
	paddingTop: 3;
	paddingBottom: 3;
	borderThickness: 1; 
	borderStyle: solid; 
	borderSides: "top left right"; 
	borderColor: #cccccc;
}
.contentBG {
	backgroundColor: #ffffff;
	paddingTop: 10;
}
