/* Layout.scss -----
common layout styles */
/* line 9, ../../../sass/theme/common copy.scss */
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #444;
  background-color: #f9f9f9;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Global Elements ************* */
/* line 20, ../../../sass/theme/common copy.scss */
p {
  margin: 0 0 1.25em 0;
  line-height: 1.5em;
}

/* line 24, ../../../sass/theme/common copy.scss */
a {
  color: #043F90;
}

/* line 27, ../../../sass/theme/common copy.scss */
a:hover {
  color: #986FB1;
  text-decoration: underline;
}

/* Highlight Text Color */
/* line 33, ../../../sass/theme/common copy.scss */
::selection {
  color: #fff;
  background: #f96;
  /* Safari */
}

/* line 37, ../../../sass/theme/common copy.scss */
::-moz-selection {
  color: #fff;
  background: #f96;
  /* Firefox */
}

/* line 41, ../../../sass/theme/common copy.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 46, ../../../sass/theme/common copy.scss */
h1 {
  font-size: 200%;
}

/* line 50, ../../../sass/theme/common copy.scss */
h2 {
  font-size: 175%;
  color: #432;
}

/* line 55, ../../../sass/theme/common copy.scss */
h3 {
  font-size: 150%;
  color: #654;
}

/* line 60, ../../../sass/theme/common copy.scss */
h4 {
  font-size: 125%;
  color: #666;
}

/* line 65, ../../../sass/theme/common copy.scss */
h5 {
  font-size: 100%;
  color: #999;
}

/* line 70, ../../../sass/theme/common copy.scss */
h6 {
  font-size: 90%;
  color: #e9e9e9;
}

/* line 75, ../../../sass/theme/common copy.scss */
header h2 {
  font-size: 110%;
  color: #f96;
}

/* line 81, ../../../sass/theme/common copy.scss */
section h1 {
  font-size: 150%;
  margin: .75em 0 0 0;
}
/* line 85, ../../../sass/theme/common copy.scss */
section h2 {
  font-size: 110%;
  margin: 0 0 1.5em 0;
  color: #666;
}

/* line 93, ../../../sass/theme/common copy.scss */
article h2 {
  font-size: 120%;
  margin: 0 0 .5em 0;
}
/* line 97, ../../../sass/theme/common copy.scss */
article h3 {
  font-size: 110%;
  margin: 1.5em 0 .5em 0;
}
/* line 101, ../../../sass/theme/common copy.scss */
article h4 {
  font-size: 100%;
  margin: 2em 0 .5em 0;
}
/* line 105, ../../../sass/theme/common copy.scss */
article h5 {
  font-size: 90%;
  margin: 2em 0 .5em 0;
}

/* line 111, ../../../sass/theme/common copy.scss */
section h3:first-child {
  font-size: 100%;
  margin: 2em 0 .75em 0;
  color: #609;
}

/* Buttons ************* */
/* line 119, ../../../sass/theme/common copy.scss */
.button {
  font-size: .95em;
  color: #043F90;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  margin: auto 3px auto 0;
  outline-style: none;
  padding: 7px 0 16px 15px;
  white-space: nowrap;
  background: url(../img/btns/btn_left.png) no-repeat left center;
}
/* line 132, ../../../sass/theme/common copy.scss */
.button span {
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 7px 15px 16px 0;
  background: url(../img/btns/btn_right.png) no-repeat right center;
}
/* line 139, ../../../sass/theme/common copy.scss */
.button em {
  background-position: left center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: normal;
  margin-right: 0;
  padding: 3px 6px;
}
/* line 147, ../../../sass/theme/common copy.scss */
.button:hover {
  text-decoration: none;
  background: url(../img/btns/btn_left_hvr.png) no-repeat left center;
}
/* line 150, ../../../sass/theme/common copy.scss */
.button:hover span {
  background: url(../img/btns/btn_right_hvr.png) no-repeat right center;
}

/* Layout ************* */
/* line 158, ../../../sass/theme/common copy.scss */
#db {
  margin-top: 2em;
}
/* line 160, ../../../sass/theme/common copy.scss */
#db p {
  border: 1px solid #ccc;
  padding: 10px;
}

/* line 166, ../../../sass/theme/common copy.scss */
#wrapper {
  /* This div is stretched height 100% by setting html, body to 100% in the code above and then setting min-height here so if the content is longer it browser scrolls correctly and if it is shorter it won't shrink to fit content */
  width: 70%;
  margin: 0 auto;
  margin-bottom: -2em;
  /* keeps footer clear of text going underneath */
  padding: 0 1em;
  min-height: 100%;
}

/* line 176, ../../../sass/theme/common copy.scss */
header {
  overflow: hidden;
  margin-top: 2em;
}
/* line 179, ../../../sass/theme/common copy.scss */
header hgroup {
  float: left;
  width: 60%;
}

/* line 185, ../../../sass/theme/common copy.scss */
nav {
  float: right;
  width: 40%;
}
/* line 188, ../../../sass/theme/common copy.scss */
nav ul {
  float: right;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
/* line 193, ../../../sass/theme/common copy.scss */
nav ul li {
  float: right;
  width: auto;
  list-style: none;
  margin-left: 2em;
  padding: 5px 0;
  text-align: right;
}
/* line 200, ../../../sass/theme/common copy.scss */
nav ul li a {
  color: #999;
  text-decoration: none;
  padding: 4px 0;
  text-shadow: 0 1px #fff;
}
/* line 205, ../../../sass/theme/common copy.scss */
nav ul li a:hover {
  color: #f96;
  text-decoration: none;
  border-top: 1px solid #f96;
}
/* line 211, ../../../sass/theme/common copy.scss */
nav ul li:first-child {
  /* If you add to the navigation decrease this margin to align the right edge with stuff below it */
}
/* line 214, ../../../sass/theme/common copy.scss */
nav ul li a#selected {
  border-bottom: 1px solid #f96;
}

/* line 221, ../../../sass/theme/common copy.scss */
#exercises section nav {
  float: none;
  width: 100%;
}
/* line 224, ../../../sass/theme/common copy.scss */
#exercises section nav ul {
  float: none;
  width: 100%;
}
/* line 227, ../../../sass/theme/common copy.scss */
#exercises section nav ul li {
  display: inline;
  float: left;
  width: auto;
}
/* line 231, ../../../sass/theme/common copy.scss */
#exercises section nav ul li a {
  color: #000;
}
/* line 234, ../../../sass/theme/common copy.scss */
#exercises section nav ul li:first-child {
  margin-left: 0;
}

/* line 241, ../../../sass/theme/common copy.scss */
footer {
  height: 2em;
  width: 100%;
  display: block;
  clear: both;
}
/* line 246, ../../../sass/theme/common copy.scss */
footer ul {
  margin: 0 0 0 28%;
  padding: .5em 0;
}
/* line 249, ../../../sass/theme/common copy.scss */
footer ul li {
  display: inline;
  list-style: none;
  margin-left: 1em;
  font-size: 85%;
  color: #999;
}
/* line 255, ../../../sass/theme/common copy.scss */
footer ul li a {
  color: #999;
  text-decoration: none;
}
/* line 258, ../../../sass/theme/common copy.scss */
footer ul li a:hover {
  text-decoration: none;
}

/* line 266, ../../../sass/theme/common copy.scss */
section {
  margin-top: 0em;
}

/* line 270, ../../../sass/theme/common copy.scss */
article {
  font-family: Helvetica;
  margin: 0 0 2em 0;
  padding: 1em;
  background-color: #f6f6f6;
  outline: 1px solid #e9e9e9;
}

/* Wordpress overrides ************* */
/* line 281, ../../../sass/theme/common copy.scss */
#journal #wrapper {
  background: none;
}
/* line 284, ../../../sass/theme/common copy.scss */
#journal article {
  float: left;
  width: 45%;
  margin-left: .5em;
}
/* line 288, ../../../sass/theme/common copy.scss */
#journal article:first-child {
  margin: 2em 0 0 0;
}
/* line 292, ../../../sass/theme/common copy.scss */
#journal section {
  overflow: auto;
}
/* line 295, ../../../sass/theme/common copy.scss */
#journal #journal_content {
  float: left;
  width: 65%;
  margin-top: 5%;
}
/* line 300, ../../../sass/theme/common copy.scss */
#journal #sidebar1 {
  float: right;
  width: 30%;
  margin-top: 5%;
  padding-left: 2em;
}

/* line 308, ../../../sass/theme/common copy.scss */
.entry-utility {
  margin-bottom: 3em;
}

/* line 313, ../../../sass/theme/common copy.scss */
#journal h2.entry-title {
  margin-top: 2em;
}
/* line 316, ../../../sass/theme/common copy.scss */
#journal h2 a {
  color: #432;
  text-decoration: none;
}

/* line 323, ../../../sass/theme/common copy.scss */
.entry-meta span, .entry-meta a {
  color: #999;
  font-size: 90%;
  text-decoration: none;
}

/* line 330, ../../../sass/theme/common copy.scss */
.entry-content {
  margin-top: 2em;
}

/* line 334, ../../../sass/theme/common copy.scss */
.meta {
  font-size: 85%;
  margin-bottom: 1em;
  color: #999;
}

/* line 340, ../../../sass/theme/common copy.scss */
h3.storytitle {
  margin-bottom: 0.5em;
}
/* line 342, ../../../sass/theme/common copy.scss */
h3.storytitle a {
  color: #969;
  text-decoration: none;
}

/* line 349, ../../../sass/theme/common copy.scss */
#sidebar1 ul {
  list-style: none;
  margin: 0 0 25% 0;
  padding: 0;
}
/* line 353, ../../../sass/theme/common copy.scss */
#sidebar1 ul li {
  margin: 0 0 .5em 0;
}
/* line 357, ../../../sass/theme/common copy.scss */
#sidebar1 h3.widget-title {
  font-size: 120%;
  color: #f96;
  margin-top: 2em;
}
/* line 362, ../../../sass/theme/common copy.scss */
#sidebar1 #searchform label {
  font-size: 80%;
  color: #999;
  display: none;
}
