/* Layout.scss -----
common layout styles */
/* Layout ************* */
/* line 10, ../../../sass/theme/nav copy.scss */
header {
  margin-top: 2em;
}
/* line 13, ../../../sass/theme/nav copy.scss */
header hgroup h1, header hgroup h2 {
  margin-bottom: .15em;
}
/* line 17, ../../../sass/theme/nav copy.scss */
header hgroup h1 a {
  color: #595959;
}
/* line 21, ../../../sass/theme/nav copy.scss */
header hgroup h2 {
  font-size: 135%;
  color: #ff9966;
}
/* line 24, ../../../sass/theme/nav copy.scss */
header hgroup h2 + p {
  margin: 0;
}
/* line 29, ../../../sass/theme/nav copy.scss */
header nav {
  position: absolute;
  top: .5em;
  right: 0;
}
/* line 33, ../../../sass/theme/nav copy.scss */
header nav a {
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0 1px #fff;
}
/* line 37, ../../../sass/theme/nav copy.scss */
header nav a:last-child {
  padding-right: 0;
}
/* line 40, ../../../sass/theme/nav copy.scss */
header nav a#selected {
  color: #986fb1;
  font-weight: bold;
}
