<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "angular-select", "pageCategory": "components"})

<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleSelectAngular</h1>
<p>Select Boxes with Angular</p>

<!-- Page Nav
================================================== -->
<!-- <div class="sg-page-nav">
  <div>
    <h6>Go To:</h6>
    <ul>
      <li><a href="#presentation-state">Presentation State</a></li>
      <li><a href="#readonly-state">Read Only State</a></li>
      <li><a href="#editable-state">Editable State</a></li>
    </ul>
  </div>
  <div>
    <a href="https://confluence.vendavo.com/x/ABE_AQ" target="_blank" class="btn btn-primary">View Guidelines</a>
  </div>
</div> -->

<!-- Page Content
================================================== -->
<h2>Examples</h2>
<div ng-app="myApp">
  <div ng-controller='appCtrl'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" id="presentation-state">Single Select Box</h3>
      </div>
      <div class="panel-body">
        <select id="mySingleSelect" class="form-control" ng-model='selected'>
          <option ng-repeat="item in collection" ng-selected="item.selected">{{item.name}}</option>
        </select>
        <p>selected - {{selected}} </p>
      </div>
    </div>

    <h4>Code Snippet - HTML</h4>
    <div class="highlight">
      <pre>
        <code class="html">
          <select id="mySingleSelect" class="form-control" ng-model='selected'>
            <option ng-repeat="item in collection" ng-selected="item.selected">{{item.name}}</option>
          </select>
          <p>selected - {{selected}} </p>
        </code>
      </pre>

      <h4>Code Snippet - JavaScript</h4>
      <pre>
        <code class="html">
          $('#mySingleSelect').select2({
           placeholder: 'Select a Name...',
           formatNoMatches: function() { return 'No Matches Found for your Search'; }
          });

          var angApp = angular.module('myApp',[]);
          angApp.controller('appCtrl', ['$scope', function($scope){
            $scope.collection = [
              {name:'Scott'},
              {name:'Steve'},
              {name:'Nick'},
              {name:'Asha'},
              {name:'Vishak'},
              {name:'Joel'},
              {name:'Ralph'},
              {name:'Marq'},
              {name:'Michele'},
              {name:'Kiavash'}
            ];
          }]);
        </code>
      </pre>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" id="presentation-state">Multi Select Box</h3>
      </div>
      <div class="panel-body">
        <select id='myMultiSelect' name="theTeam" class="form-control" multiple='multiple' ng-model='selectedPeople'>
          <option id='selectOption' ng-repeat="person in collection" ng-selected="person.selected" ng-model="person.name" value={{person.name}}>{{person.name}}</option>
        </select><br><br>
        <p>selected people - {{selectedPeople}} </p>
      </div>
    </div>
  <!-- </div> -->
    <h4>Code Snippet - HTML</h4>
    <div class="highlight">
      <pre>
        <code class="html">
          <select id='myMultiSelect' name="theTeam" class="form-control" multiple='multiple' ng-model='selectedPeople'>
              <option id='selectOption' ng-repeat="person in collection" ng-selected="person.selected" ng-model="person.name" value={{person.name}}>{{item.name}}</option>
            </select><br><br>
            <p>selected people - {{selectedPeople}} </p>
        </code>
      </pre>

      <h4>Code Snippet - JavaScript</h4>
      <pre>
        <code class="js">
          $('#myMultiSelect').select2({
           placeholder: 'Select a Name...',
           formatNoMatches: function() { return 'No Matches Found for your Search'; }
          });
        </code>
      </pre>
    </div><!--/.highlight-->





    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" id="presentation-state">Multi Select Box with Tagging</h3>
        <h4 class="panel-title">Allows User to Enter a New Entry</h6>
      </div>
      <div class="panel-body" ng-controller='taggingCtrl'>
        <input type="hidden" id="select" style="width:300px" >
      </div>
    </div>
  </div>
  <h4>Code Snippet - HTML</h4>
  <div class="highlight">
    <pre>
      <code class="html">
        <div class="panel-body" ng-controller='taggingCtrl'>
          <input type="hidden" id="select" style="width:300px" >
        </div>
      </code>
    </pre>

    <h4>Code Snippet - JavaScript</h4>
    <pre>
      <code class="html">
        angular.module('myApp').controller('taggingCtrl', function($scope){
          $('#select').select2({
            tags: $scope.collection.map(function(personObject){ return personObject.name; })
          });
        });
      </code>
    </pre>
  </div><!--/.highlight-->


  </div>
</div><!--/.ng-app-->

<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')

  <script>
    $('#mySingleSelect').select2({
     placeholder: 'Select a Name...',
     formatNoMatches: function() { return 'No Matches Found for your Search'; }
    });
    $('#myMultiSelect').select2({
     placeholder: 'Select a Name...',
     formatNoMatches: function() { return 'No Matches Found for your Search'; }
    });
    angApp.controller('taggingCtrl', function($scope, $window){
      $('#select').select2({
        tags: $scope.collection.map(function(personObject){ return personObject.name; })
      });
    });
  </script>

<!-- END: Template Content
================================================== -->

