<!-- Date Range Dialog Content
================================================== -->
<!-- OffCanvas SlideIn/Out -->
<div class="colonnade offcanvas">
  <div class="lt-column active">
    <nav class="nav-dialog">
      <button type="button" class="btn btn-link btn-icon-right pull-right" data-toggle="column-offcanvas">Use Business Calendar<i class="fa fa-chevron-right"></i></button>
    </nav>

    <form class="form-inline">
      <div class="form-group">
        <label for="calendar-from">From</label>
        <div class="input-group">
          <input type="text" class="form-control xlarge" id="calendar-from" value="05/23/2013">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
          </span>
        </div><!-- /input-group -->
      </div>
      <div class="form-group">
        <label for="calendar-to">To</label>
          <div class="input-group">
            <input type="text" class="form-control xlarge" id="calendar-to" value="05/22/2014">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
          </div><!-- /input-group -->
      </div>
    </form>
    <div class="input-group date">
    </div>
    <!-- END: lt-column -->
  </div>
  <div class="rt-column">
    <nav class="nav-dialog">
      <button type="button" class="btn btn-link" data-toggle="column-offcanvas"><i class="fa fa-chevron-left"></i>Use Custom Date Range</button>
    </nav>
    <div class="business-calendar">
      <p class="text-center"><span></i>05/23/2013 - 05/22/2014</span></p>
      <div class="business-calendar-years">
        <button class="btn btn-default all" type="button">All</button>
        <button class="btn btn-default" type="button">2012</button>
        <button class="btn btn-default" type="button">2013</button>
        <button class="btn btn-default" type="button">2014</button>
        <button class="btn btn-default" type="button">2015</button>
        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
      </div>
      <div class="business-calendar-quarters">
        <div class="business-calendar-quarter">
          <button class="btn btn-default" type="button">Q1</button>
          <button class="btn btn-default" type="button">January</button>
          <button class="btn btn-default" type="button">February</button>
          <button class="btn btn-default" type="button">March</button>
        </div>
        <div class="business-calendar-quarter">
          <button class="btn btn-default" type="button">Q2</button>
          <button class="btn btn-default" type="button">April</button>
          <button class="btn btn-default" type="button">May</button>
          <button class="btn btn-default" type="button">June</button>
        </div>
        <div class="business-calendar-quarter">
          <button class="btn btn-default" type="button">Q3</button>
          <button class="btn btn-default" type="button">July</button>
          <button class="btn btn-default" type="button">August</button>
          <button class="btn btn-default" type="button">September</button>
        </div>
        <div class="business-calendar-quarter">
          <button class="btn btn-default" type="button">Q4</button>
          <button class="btn btn-default" type="button">October</button>
          <button class="btn btn-default" type="button">November</button>
          <button class="btn btn-default" type="button">December</button>
        </div>
      </div>
      <div class="business-calendar-weeks">
        <button class="btn btn-default" type="button">Week01</button>
        <button class="btn btn-default" type="button">Week02</button>
        <button class="btn btn-default" type="button">Week03</button>
        <button class="btn btn-default" type="button">Week04</button>
        <button class="btn btn-default" type="button">Week05</button>
        <button class="btn btn-default" type="button">Week06</button>
      </div>
  </div>
</div>